.rpl-timeline {
  --local-title-height: var(--rpl-type-lh-2);
  --local-img-height: 80px;
  --local-point-thickness: calc(var(--local-title-height) / 4);
  --local-clr-border: var(--rpl-clr-neutral-300);

  &__items {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0;
    padding: var(--rpl-sp-3) 0 0;
  }

  &__item {
    width: calc(100% - var(--local-point-thickness) * 7);
    position: relative;
    min-height: calc(var(--local-title-height) * 2);
    padding-bottom: var(--rpl-sp-5);
    padding-left: var(--rpl-sp-7);
    border-left: var(--local-point-thickness) solid var(--local-clr-border);

    &::before {
      content: '';
      position: absolute;
      z-index: 1;
      height: var(--local-point-thickness);
      width: calc(var(--local-point-thickness) * 4); /* 16px */
      background-color: var(--local-clr-border);
      top: calc(1em - (var(--local-point-thickness) * 2) / 2);
      left: 0;
    }

    &:first-child,
    &:last-child {
      border-left-color: transparent;

      &::after {
        content: '';
        display: inline-block;
        position: absolute;
        z-index: 2;
        background-color: var(--local-clr-border);
        height: 100%;
        width: var(--local-point-thickness);
        top: var(--local-title-height);
        bottom: 0;
        left: calc(var(--local-point-thickness) * -1);
      }
    }

    &:first-child {
      &::before {
        left: calc(var(--local-point-thickness) * -1);
        width: calc(var(--local-point-thickness) * 5); /* 20px */
        z-index: 3;
      }
    }

    &:last-child {
      &::after {
        height: 1em;
        top: 0;
        z-index: 3;
      }
    }

    &-image {
      display: block;
      height: var(--local-img-height);
      width: var(--local-img-height);
      margin-bottom: var(--rpl-sp-2);
      border-radius: var(--rpl-border-radius-full);
    }

    &-link {
      display: inline-block;
    }

    &-link,
    &-link:visited {
      color: var(--rpl-clr-type-default);
    }

    &-link:active,
    &-link:hover {
      color: var(--rpl-clr-link);
    }

    &-link:active {
      text-decoration: underline;
    }

    &-description {
      margin-top: var(--rpl-sp-2);

      p {
        margin: 0;
      }

      p + p {
        margin-top: var(--rpl-sp-2);
      }
    }

    &-subtitle {
      margin-top: 0;
      margin-bottom: 0;
    }

    &-subtitle + &-description {
      margin-top: var(--rpl-sp-2);
    }

    &--with-image {
      &::before {
        top: calc(var(--local-img-height) / 2);
      }

      &:first-child::after {
        top: calc(var(--local-img-height) / 2);
      }

      &:last-child::after {
        height: calc(
          (var(--local-img-height) + (var(--local-point-thickness) * 2)) / 2
        );
      }
    }

    &--active {
      border-left-color: var(--rpl-clr-link);

      &::after,
      &::before {
        background-color: var(--rpl-clr-link);
      }

      &:first-child,
      &:last-child {
        &::after,
        &::before {
          background-color: var(--rpl-clr-link);
        }
      }

      &.rpl-timeline__item--with-image::after {
        height: calc(
          100% - (var(--local-img-height) / 2) + var(--local-title-height)
        );
      }
    }

    &--current {
      .rpl-timeline__item-title,
      .rpl-timeline__item-link {
        color: var(--rpl-clr-link);
      }

      &::before,
      &:last-child::after {
        background-color: var(--rpl-clr-link);
      }

      &.rpl-timeline__item--with-image {
        &::after {
          content: '';
          display: inline-block;
          position: absolute;
          z-index: 2;
          background-color: var(--rpl-clr-link);
          height: calc(
            (var(--local-img-height) + var(--local-point-thickness)) / 2
          );
          width: var(--local-point-thickness);
          top: calc(var(--local-point-thickness) / 2);
          bottom: 0;
          left: calc(var(--local-point-thickness) * -1);
        }

        &:first-child::after {
          top: calc(var(--local-img-height) / 2);
          height: 100%;
          background-color: var(--local-clr-border);
        }

        &:last-child::after {
          top: 0;
          height: calc(
            (var(--local-img-height) + (var(--local-point-thickness) * 2)) / 2
          );
        }
      }
    }
  }
}
