@import '@dpc-sdp/ripple-ui-core/style/breakpoints';

.rpl-media-gallery {
  .rpl-slider__pagination + .rpl-slider__swiper {
    margin-top: var(--rpl-sp-3);
  }
}

.rpl-media-gallery__primary-images {
  margin-bottom: var(--rpl-sp-3);

  .rpl-media-gallery__image {
    max-height: 595px;
  }
}

.rpl-media-gallery__modal-images .rpl-media-gallery__image {
  width: auto;
}

.rpl-media-gallery__content {
  background-color: var(--rpl-clr-light);
  max-width: var(--rpl-content-max-width);

  .rpl-media-gallery__image {
    height: auto;
    margin-bottom: var(--rpl-sp-3);
  }
}

.rpl-media-gallery__button {
  text-align: left;
  text-decoration: underline;
  margin-top: var(--rpl-sp-3);

  .rpl-button__label {
    line-height: var(--rpl-type-lh-4);
    font-weight: var(--rpl-type-weight-regular);
  }

  .rpl-icon {
    color: var(--rpl-clr-link);
  }

  &:hover {
    text-decoration: none;
    color: var(--rpl-clr-link);
  }

  &:active {
    text-decoration: underline;
  }

  &:focus-visible .rpl-icon {
    color: var(--rpl-clr-type-focus-contrast);
  }
}

.rpl-media-gallery__modal {
  @media print {
    .rpl-modal__main,
    .rpl-modal__actions {
      display: none;
    }

    .rpl-modal__below {
      padding-top: 0;
    }
  }
}
