@import '@dpc-sdp/ripple-ui-core/style/breakpoints';

.rpl-description-list {
  --local-list-spacing: var(--rpl-sp-2);

  display: grid;
  grid-template-columns: max-content auto;
  margin: 0;

  .rpl-icon {
    transform: translateY(3px);
  }
}

.rpl-description-list__term {
  font-weight: var(--rpl-type-weight-bold);
  display: flex;
  gap: var(--rpl-sp-2);
}

.rpl-description-list__description {
  margin-left: var(--rpl-sp-2);
}

.rpl-description-list__term,
.rpl-description-list__description {
  &:not(:first-of-type) {
    margin-top: var(--local-list-spacing);
  }
}

.rpl-description-list--inline {
  display: flex;
  flex-direction: column;
  gap: var(--local-list-spacing);
}

.rpl-description-list__inline-wrap {
  display: flex;
  gap: var(--rpl-sp-2);
}

.rpl-description-list__inline-wrap .rpl-description-list__term,
.rpl-description-list__inline-wrap .rpl-description-list__description {
  display: inline;
}

.rpl-description-list__inline-icon {
  display: flex;
}
