.rpl-stats-grid {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  margin: calc(var(--rpl-sp-2) * -0.5);
}

.rpl-stats-grid-item {
  flex-shrink: 0;
  flex-basis: 50%;
  /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
  flex-grow: 1;
  overflow: hidden;
  padding: calc(var(--rpl-sp-2) * 0.5);

  @media (--rpl-bp-s) {
    flex-basis: 33.33%;
  }

  @media (--rpl-bp-l) {
    flex-basis: 25%;
  }
}

.rpl-stats-grid-item__inner {
  background: var(--rpl-clr-neutral-100);
  padding: var(--rpl-sp-9) var(--rpl-sp-4);
  text-align: center;
  word-break: break-word;
  height: 100%;

  .rpl-stats-grid--on-dark & {
    background: var(--rpl-clr-light);
  }
}
