@import '@dpc-sdp/ripple-ui-core/style/breakpoints';

.rpl-map {
  position: relative;
  display: flex;
  flex-direction: column;
  @media (--rpl-bp-m) {
    flex-direction: row;
  }
}

.rpl-map__map {
  width: 100%;
  height: 300px;
}

.rpl-map__control {
  position: absolute;
  right: var(--rpl-sp-8);

  button {
    padding: var(--rpl-sp-2);
    border: var(--rpl-border-1) solid var(--rpl-clr-neutral-200);
    border-radius: var(--rpl-border-radius-2);
    box-shadow: var(--rpl-elevation-1);
    background-color: var(--rpl-clr-light);
    height: var(--rpl-sp-8);
    width: var(--rpl-sp-8);
    display: flex;
    justify-content: center;
    font-size: 1.75rem;
    line-height: 1.25rem;
  }
}

.rpl-map__control-zoom {
  top: var(--rpl-sp-4);
  button {
    margin-top: var(--rpl-sp-1);
  }
}

.rpl-map__control-fullscreen {
  top: calc(var(--rpl-sp-12) + var(--rpl-sp-8) + var(--rpl-sp-4));
}

.rpl-map__legend {
  position: absolute;
  z-index: 999;
  right: var(--rpl-sp-4);
  bottom: var(--rpl-sp-4);
}
