@import '@dpc-sdp/ripple-ui-core/style/breakpoints';

.rpl-map {
  position: relative;
  display: flex;
  flex-direction: column;
  @media (--rpl-bp-m) {
    flex-direction: row;
  }
}

.rpl-map__map {
  width: 100%;
  height: 300px;
}

.rpl-map__control {
  position: absolute;
  right: var(--rpl-sp-3);
  background-color: transparent;

  button {
    border: var(--rpl-border-1) solid var(--rpl-clr-neutral-200);
    border-radius: var(--rpl-border-radius-2);
    box-shadow: var(--rpl-elevation-1);
    background-color: var(--rpl-clr-light);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.75rem;
    line-height: 1.25rem;
    height: 44px;
    width: 44px;
    color: var(--rpl-clr-neutral-600);

    &:hover {
      outline: none;
      color: var(--rpl-clr-primary);
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 var(--rpl-border-1) var(--rpl-clr-dark) inset,
      0 0 0 var(--rpl-border-3) var(--rpl-clr-focus);
      border: var(--rpl-border-1) solid var(--rpl-clr-neutral-200);
    }
  }
}

.rpl-map__control-zoom {
  bottom: var(--rpl-sp-4);
  button {
    margin-top: var(--rpl-sp-2);
  }
}

.rpl-map__control-fullscreen {
  top: var(--rpl-sp-3);
}

.rpl-map__control-home {
  bottom: var(--rpl-sp-14);
  z-index: var(--rpl-layer-4);
  svg {
    fill: var(--rpl-clr-neutral-600);
  }
}

.rpl-map__legend {
  position: absolute;
  z-index: 999;
  right: var(--rpl-sp-4);
  bottom: var(--rpl-sp-4);
}
