.rpl-page-links {
  color: var(--rpl-clr-type-default);
}

.rpl-page-links__item + .rpl-page-links__item {
  margin-top: var(--rpl-sp-8);
}

.rpl-page-links__link {
  display: inline;
  position: relative;

  --local-clr-link: var(--rpl-clr-type-default);

  &:hover {
    --local-clr-link: var(--rpl-clr-link);
  }

  &:active {
    text-decoration: underline;
  }
}

.rpl-page-links__link-icon {
  position: absolute;
  top: 3px;
  left: 0;
}

.rpl-page-links__link-text,
.rpl-page-links__link-label {
  text-decoration: inherit;
  padding-left: var(--rpl-sp-7);
}

.rpl-page-links__link-label {
  &::after {
    content: '';
    display: block;
  }
}
