.rpl-page-links__link-text,
.rpl-page-links__link-label {
  position: relative;

  span {
    position: relative;
  }

  &::before {
    position: absolute;
    top: 0;
    left: -1px;
    height: calc(100% - var(--rpl-border-3));
  }
}

.rpl-page-links__link-label {
  &::before {
    content: attr(data-label);
    padding-left: calc(var(--rpl-sp-7) + 2px);
    color: transparent;
    width: min-content;
    height: var(--rpl-sp-8);
  }
}

.rpl-page-links__link-text {
  &::before {
    content: '';
    width: calc(100% + 2px);
    height: calc(100% - var(--rpl-border-3));
    z-index: -1;
  }
}

.rpl-page-links__item--text .rpl-page-links__link:focus-visible {
  .rpl-page-links__link-text::before,
  .rpl-page-links__link-label::before {
    background-color: var(--local-background-colour);
  }
}
