@import '@dpc-sdp/ripple-ui-core/style/breakpoints';

.rpl-content {
  font-size: var(--rpl-type-size-2);
  line-height: var(--rpl-type-lh-4);
  letter-spacing: var(--rpl-type-ls-1);

  @media (--rpl-bp-m) {
    > :not(.rpl-media-embed, .rpl-iframe, .rpl-img, .rpl-table) {
      max-width: var(--rpl-content-max-width);
    }
  }

  & > :first-child {
    margin-top: 0;
  }

  .rpl-img:not(:first-child),
  .rpl-media-embed:not(:first-child) {
    margin-top: var(--rpl-sp-5);
    @media (--rpl-bp-m) {
      margin-top: var(--rpl-sp-6);
    }
  }

  .rpl-blockquote {
    margin-bottom: var(--rpl-sp-5);
    @media (--rpl-bp-m) {
      margin-bottom: var(--rpl-sp-6);
    }
  }

  :where(&) {
    h2 {
      margin-top: var(--rpl-sp-7);

      @media (--rpl-bp-l) {
        margin-top: var(--rpl-sp-8);
      }
    }

    h3 {
      margin-top: var(--rpl-sp-6);

      @media (--rpl-bp-l) {
        margin-top: var(--rpl-sp-7);
      }
    }

    h4,
    h5 {
      margin-top: var(--rpl-sp-5);

      @media (--rpl-bp-l) {
        margin-top: var(--rpl-sp-6);
      }
    }

    p {
      margin-top: var(--rpl-sp-4);
    }

    ol,
    ul {
      margin-top: var(--rpl-sp-4);

      ol,
      ul {
        margin-top: 0;
      }
    }
  }
}
