/* stylelint-disable no-descending-specificity */
@import '@dpc-sdp/ripple-ui-core/style/breakpoints';

.rpl-primary-nav__nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--local-nav-bar-height);
}

/* Logos */
.rpl-primary-nav__logos {
  display: flex;
  align-items: center;
  padding-top: var(--rpl-sp-2);
  padding-right: var(--rpl-sp-6);
  padding-bottom: var(--rpl-sp-2);
  padding-left: var(--rpl-sp-4);

  @media (--rpl-bp-s) {
    padding-left: var(--rpl-sp-5);
  }

  @media print {
    padding-left: 0;
    padding-top: var(--rpl-sp-5);
  }
}

.rpl-primary-nav__primary-logo-link {
  .rpl-primary-nav__logos--has-secondary-logo & {
    display: none;

    @media (--rpl-bp-s) {
      display: block;
    }
  }
}

.rpl-primary-nav__primary-logo-image {
  display: block;
  width: 106px;
  height: 16px;
  fill: var(--rpl-clr-primary-logo, var(--rpl-clr-type-primary-contrast));

  @media print {
    width: auto;
    height: 30px;
    padding-top: var(--rpl-sp-1);
    padding-bottom: var(--rpl-sp-1);
    fill: var(--rpl-clr-type-default);
  }
}

.rpl-primary-nav__logo-divider {
  display: none;
  border-left: solid var(--rpl-border-2) var(--rpl-clr-type-primary-contrast);
  height: var(--rpl-sp-6);
  margin: 0 var(--rpl-sp-4);

  @media (--rpl-bp-s) {
    display: block;
  }

  @media print {
    border-left-color: var(--rpl-clr-neutral-300);
  }
}

.rpl-primary-nav__secondary-logo-image {
  display: block;
  max-width: 126px;
  max-height: 32px;

  @media (--rpl-bp-m) {
    max-width: 140px;
    max-height: 40px;
  }
}

/* Actions list */
.rpl-primary-nav__nav-bar-actions-list {
  display: flex;

  @media (--rpl-bp-s) {
    padding-right: calc(var(--rpl-sp-5) - 10px);
  }

  @media print {
    visibility: hidden;
  }

  a,
  button {
    display: flex;
    align-items: center;
    max-width: 172px;
    height: 48px;
    padding: var(--rpl-sp-2) var(--rpl-sp-4);
    color: var(--rpl-clr-type-primary-contrast);
    text-decoration: none;
    text-align: center;
    white-space: nowrap;

    @media (--rpl-bp-s) {
      height: 52px;
      padding: var(--rpl-sp-2) 10px;
    }

    @media (--rpl-bp-m) {
      height: 60px;
    }

    .rpl-primary-nav__nav-bar-action-wrapper {
      display: block;
      text-wrap: pretty;
    }

    span {
      white-space: normal;
    }

    &.rpl-primary-nav__nav-bar-action--active,
    &:hover {
      text-decoration: underline;
      text-decoration-thickness: 2px;
    }
  }

  &.rpl-primary-nav__nav-bar-actions-list--nowrap {
    a,
    button {
      max-width: none;
    }
  }
}

.rpl-primary-nav__nav-bar-mobile-menu-toggle-container {
  .rpl-primary-nav--collapse-until-l & {
    @media (--rpl-bp-l) {
      display: none;
    }
  }

  .rpl-primary-nav--collapse-until-xl & {
    @media (--rpl-bp-xl) {
      display: none;
    }
  }

  .rpl-primary-nav__nav-bar--search-active & {
    display: none;
  }
}

.rpl-primary-nav__nav-bar-mobile-menu-divider {
  border-left: solid var(--rpl-border-1) var(--rpl-clr-type-primary-contrast);
  height: var(--rpl-sp-4);
  margin: var(--rpl-sp-4) 0;

  @media (--rpl-bp-s) {
    display: none;
  }

  .rpl-primary-nav__nav-bar--search-active & {
    display: none;
  }
}

.rpl-primary-nav__nav-bar-item,
.rpl-primary-nav__nav-bar-user-action {
  display: none;

  .rpl-primary-nav--collapse-until-l & {
    @media (--rpl-bp-l) {
      display: block;
    }
  }

  .rpl-primary-nav--collapse-until-xl & {
    @media (--rpl-bp-xl) {
      display: block;
    }
  }

  .rpl-primary-nav__nav-bar--search-active & {
    display: none;
  }
}

.rpl-primary-nav__nav-bar-icon {
  display: inline-block;
  margin-top: -1px;
  transform: translateY(1px);
  transition: transform var(--rpl-motion-speed-7) linear;

  &.rpl-primary-nav__nav-bar-icon--large {
    margin-top: -4px;
    transform: translateY(3px);

    @media (--rpl-bp-s) {
      margin-top: -5px;
    }
  }

  &.rpl-primary-nav__nav-bar-icon--search {
    @media (--rpl-bp-s) {
      margin-left: var(--rpl-sp-2);
    }
  }

  .rpl-primary-nav__nav-bar-action--active & {
    transform: rotate(180deg);
  }

  span {
    display: block;
  }
}

.rpl-primary-nav__nav-bar-search-label {
  display: none;

  @media (--rpl-bp-s) {
    display: inline;
  }
}
