$font-vic-regular: 'VIC-regular', Arial, Helvetica, sans-serif;
$font-vic-medium: 'VIC-medium', Arial, Helvetica, sans-serif;

$font-primary: $font-vic-medium;
$font-secondary: $font-vic-regular;

$font-size-sm: .875rem; // 14px
$font-size-regular: 1rem; // 16px
$font-size-slg: 1.0625rem; // 17px
$font-size-lg: 1.125rem; // 18px
$font-size-xlg: 1.25rem; // 20px
$font-size-mega: 1.375rem; // 22px
$font-size-xmega: 1.5rem; // 24px
$font-size-xxmega: 1.625rem; // 26px
$font-size-giga: 1.75rem; // 28px
$font-size-tera: 2.25rem; // 36px

$font-weight-normal: normal;

// Colour
$color-black: #000;
$color-dark-grey: #6e6e6e;
$color-mid-grey: #d8d8d8;
$color-light-grey: #ececea;
$color-white: #fff;
$color-red-lipstick: #df3245;

// Brand colour
$color-teal-dtf: #88dbdf;
$color-red-rtc: $color-red-lipstick;
$color-blue-vf: #1d74df;

// UI
$color-ui-01: $color-black;
$color-ui-02: $color-light-grey;
$color-ui-danger: $color-red-lipstick;

$_zindex-bottom: 0;
$_zindex-middle: 5;
$_zindex-top: 10;
$_thumbnail-height: rem(90px);
$_thumbnail-gutter: 1px;
$_color-overlay: rgba($color-black, .5);
$_color-overlay-dark: rgba($color-black, .9);
$_color-text-on-overlay: $color-white;
$_slide-height-xs: rem(300px);
$_slide-height-sm: rem(400px);
$_slide-height-sm-landscape: rem(240px);
$_slide-height-md: rem(500px);
$_slide-height-lg: rem(600px);

$_modal-padding-sm: rem(11px);
$_modal-padding-md: rem(22px);
$_modal-padding-lg: rem(33px);
$_modal-padding-xl: rem(44px);

@mixin ie10_plus {
  // sass-lint:disable-block no-vendor-prefixes
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    @content;
  }
}
