$rpl-image-gallery-modal-background-color: rpl-color('extra_dark_neutral') !default;
$rpl-image-gallery-modal-edge-margin-s: $rpl-space-3 !default;
$rpl-image-gallery-modal-edge-margin-l: ($rpl-space * 8) !default;
$rpl-image-gallery-fullscreen-details-navigation-padding-bottom: $rpl-space-4 !default;
