/**
 * Example of overriding theme color variables
 */

:root {
  --rpl-color-base-secondary-alt: #99d5f7;
  --rpl-color-base-secondary: #0095ec;
  --rpl-color-base-primary-darker: #003174;
  --rpl-color-base-primary-lighter: #c63663;
  --rpl-color-base-primary: #c63663;
}
