.rpl-button {
  --rpl-button-border-width: var(--rpl-border-2);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--rpl-sp-2);
  padding: var(--rpl-sp-4) var(--rpl-sp-5);
  box-sizing: border-box;
  border-radius: var(--rpl-theme-button-radius, var(--rpl-border-radius-2));
  border-width: var(--rpl-button-border-width);

  &__icon {
    display: flex;
    align-items: center;

    svg {
      padding: 0;
    }
  }

  /* Variants */
  &--filled {
    color: var(--rpl-button-filled-color);
    background-color: var(--rpl-button-filled-bg-color);
    border-style: var(--rpl-border-solid);
    border-color: var(--rpl-button-filled-bg-color);

    /* States */
    &:hover {
      cursor: pointer;
      text-decoration: underline;
      background-color: var(--rpl-button-filled-bg-hover-color);
      border-color: var(--rpl-button-filled-bg-hover-color);
    }
  }

  &--reverse {
    flex-direction: row-reverse;
  }

  &--outlined {
    color: var(--rpl-button-outlined-color);
    background-color: var(--rpl-clr-light);
    border-color: var(--rpl-button-outlined-bdr-color);
    border-style: var(--rpl-border-solid);

    &:hover {
      color: var(--rpl-button-outlined-hover-color);
      text-decoration: underline;
      border-color: var(--rpl-button-outlined-bdr-hover-color);
    }
  }

  &--white {
    --rpl-button-border-width: 0;

    color: var(--rpl-button-white-clr);
    background-color: var(--rpl-clr-light);
    border-color: var(--rpl-clr-neutral-200);
    border-style: var(--rpl-border-solid);
    text-decoration: none;

    &:hover {
      color: var(--rpl-button-white-hover-clr);
      text-decoration: underline;
    }
  }

  &--elevated {
    color: var(--rpl-button-white-clr);
    background-color: var(--rpl-clr-light);
    border-color: transparent;
    box-shadow: var(--rpl-elevation-1);
    text-decoration: none;

    &:hover {
      color: var(--rpl-button-white-hover-clr);
      text-decoration: underline;
    }
  }

  &--primary {
    --rpl-button-filled-color: var(--rpl-clr-type-primary-contrast);
    --rpl-button-filled-bg-color: var(--rpl-clr-primary);
    --rpl-button-filled-bg-hover-color: var(--rpl-clr-primary-alt);
    --rpl-button-outlined-color: var(
      --rpl-theme-button-white-text-clr,
      var(--rpl-clr-primary)
    );
    --rpl-button-outlined-bdr-color: var(--rpl-clr-primary);
    --rpl-button-outlined-hover-color: var(
      --rpl-theme-button-white-text-clr,
      var(--rpl-clr-primary-alt)
    );
    --rpl-button-outlined-bdr-hover-color: var(--rpl-clr-primary-alt);
    --rpl-button-white-clr: var(
      --rpl-theme-button-white-text-clr,
      var(--rpl-clr-primary)
    );
    --rpl-button-white-hover-clr: var(
      --rpl-theme-button-white-text-clr,
      var(--rpl-clr-primary-alt)
    );
  }

  &--accent {
    --rpl-button-filled-color: var(--rpl-clr-type-accent-contrast);
    --rpl-button-filled-bg-color: var(--rpl-clr-accent);
    --rpl-button-filled-bg-hover-color: var(--rpl-clr-accent-alt);
    --rpl-button-outlined-color: var(
      --rpl-theme-button-white-text-clr,
      var(--rpl-clr-accent)
    );
    --rpl-button-outlined-bdr-color: var(--rpl-clr-accent);
    --rpl-button-outlined-hover-color: var(
      --rpl-theme-button-white-text-clr,
      var(--rpl-clr-accent-alt)
    );
    --rpl-button-outlined-bdr-hover-color: var(--rpl-clr-accent-alt);
    --rpl-button-white-clr: var(
      --rpl-theme-button-white-text-clr,
      var(--rpl-clr-accent)
    );
    --rpl-button-white-hover-clr: var(
      --rpl-theme-button-white-text-clr,
      var(--rpl-clr-accent-alt)
    );
  }

  &--neutral {
    /* Note: There is no neutral filled style */
    --rpl-button-outlined-color: var(--rpl-clr-neutral-800);
    --rpl-button-outlined-bdr-color: var(--rpl-clr-neutral-600);
    --rpl-button-outlined-bdr-hover-color: var(--rpl-clr-neutral-800);
    --rpl-button-outlined-hover-color: var(--rpl-clr-neutral-800);
    --rpl-button-white-clr: var(--rpl-clr-dark);
  }

  &--error {
    --rpl-button-filled-color: var(--rpl-clr-light);
    --rpl-button-filled-bg-color: var(--rpl-clr-error);
    --rpl-button-filled-bg-hover-color: var(--rpl-clr-error-alt);
    --rpl-button-outlined-color: var(--rpl-clr-error);
    --rpl-button-outlined-bdr-color: var(--rpl-clr-error);
    --rpl-button-outlined-bdr-hover-color: var(--rpl-clr-error-alt);
    --rpl-button-outlined-hover-color: var(--rpl-clr-error-alt);
    --rpl-button-white-clr: var(--rpl-clr-error);
  }

  &--info {
    --rpl-button-filled-color: var(--rpl-clr-light);
    --rpl-button-filled-bg-color: var(--rpl-clr-information);
    --rpl-button-filled-bg-hover-color: var(--rpl-clr-information); /* orphan */
    --rpl-button-outlined-color: var(--rpl-clr-information);
    --rpl-button-outlined-bdr-color: var(--rpl-clr-information);
    --rpl-button-outlined-bdr-hover-color: var(--rpl-clr-information); /* 2 */
    --rpl-button-outlined-hover-color: var(--rpl-clr-information); /* orphan */
    --rpl-button-white-clr: var(--rpl-clr-information);
  }

  &--success {
    --rpl-button-filled-color: var(--rpl-clr-light);
    --rpl-button-filled-bg-color: var(--rpl-clr-success);
    --rpl-button-filled-bg-hover-color: var(--rpl-clr-success); /* orphan */
    --rpl-button-outlined-color: var(--rpl-clr-success);
    --rpl-button-outlined-bdr-color: var(--rpl-clr-success);
    --rpl-button-outlined-bdr-hover-color: var(--rpl-clr-success); /* orphan */
    --rpl-button-outlined-hover-color: var(--rpl-clr-success); /* orphan */
    --rpl-button-white-clr: var(--rpl-clr-success);
  }

  &--warning {
    --rpl-button-filled-color: var(--rpl-clr-light);
    --rpl-button-filled-bg-color: var(--rpl-clr-warning);
    --rpl-button-filled-bg-hover-color: var(--rpl-clr-warning); /* orphan */
    --rpl-button-outlined-color: var(--rpl-clr-warning);
    --rpl-button-outlined-bdr-color: var(--rpl-clr-warning);
    --rpl-button-outlined-bdr-hover-color: var(--rpl-clr-warning); /* orphan */
    --rpl-button-outlined-hover-color: var(--rpl-clr-warning); /* orphan */
    --rpl-button-white-clr: var(--rpl-clr-warning);
  }

  &:focus-visible {
    outline: 0;
    background-color: var(--rpl-clr-focus);
    color: var(--rpl-clr-dark);
    border-radius: 0;
    border-style: var(--rpl-border-solid);
    border-color: var(--rpl-clr-focus);
    position: relative;
    box-sizing: border-box;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: var(--rpl-border-3);
      width: 100%;
      background-color: var(--rpl-clr-dark);
    }
  }
}
