/* stylelint-disable custom-property-empty-line-before */
/* stylelint-disable custom-property-pattern */

/*
  Version 1:
  ==========
  - A very long piece of code for a pretty simple component
  - Styles are being reset for each variant rather than updating variable values
  - Large amount of variables created for the component that arent used anywhere else, very repetitive code

 TODOs:
 - REM's currently not reset to 10px
 - How should we name varialbes for modifiers? e.g. --hover?
 - Add post CSS plugin to support // comments?
 - Support more than 1 blank line between blocks?
 */

:root {
  /* Border */
  --rpl-button-border-width--primary: 0;
  --rpl-button-border-colour--primary: transparent;
  --rpl-button-border-colour--primary--hover: transparent;
  --rpl-button-border-colour--primary--active: transparent;

  --rpl-button-border-width--secondary: 0.2rem;
  --rpl-button-border-colour--secondary: #0052c2;
  --rpl-button-border-colour--secondary--hover: #0052c2;
  --rpl-button-border-colour--secondary--active: #003174;

  --rpl-button-border-width--tertiary: 0;
  --rpl-button-border-colour--tertiary: transparent;
  --rpl-button-border-colour--tertiary--hover: transparent`;
  --rpl-button-border-colour--tertiary--active: transparent`;

  /* Background colour */
  --rpl-button-background-colour--primary: #0052c2;
  --rpl-button-background-colour--primary--hover: #99bae7;
  --rpl-button-background-colour--primary--active: #003174;

  --rpl-button-background-colour--secondary: transparent;
  --rpl-button-background-colour--secondary--hover: transparent;
  --rpl-button-background-colour--secondary--active: transparent;

  --rpl-button-background-colour--tertiary: transparent;
  --rpl-button-background-colour--tertiary--hover: transparent;
  --rpl-button-background-colour--tertiary--active: transparent;

  /* Text colour */
  --rpl-button-text-colour--primary: white;
  --rpl-button-text-colour--primary--hover: white;
  --rpl-button-text-colour--primary--active: white;

  --rpl-button-text-colour--secondary: #0052c2;
  --rpl-button-text-colour--secondary--hover: #0052c2;
  --rpl-button-text-colour--secondary--active: #003174;

  --rpl-button-text-colour--tertiary: white;
  --rpl-button-text-colour--tertiary--hover: white;
  --rpl-button-text-colour--tertiary--active: white;
}

.rpl-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.4rem 2rem;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 1;
  color: var(--rpl-button-text-colour--primary);
  background-color: var(--rpl-button-background-colour--primary);
  border-color: var(--rpl-button-border-colour--primary);
  border-style: solid;
  border-width: var(--rpl-button-border-width--primary);
  border-radius: 0.4rem;

  /* States */
  &:hover {
    cursor: pointer;
    background-color: var(--rpl-button-background-colour--primary--hover);
    text-decoration: underline;
  }

  &:active,
  &:active:hover {
    background-color: var(--rpl-button-background-colour--primary--active);
    text-decoration: none;
  }

  /* Variants */
  &--secondary {
    color: var(--rpl-button-text-colour--secondary);
    background-color: var(--rpl-button-background-colour--secondary);
    border-color: var(--rpl-button-border-colour--secondary);
    border-width: var(--rpl-button-border-width--secondary);

    &:hover {
      color: var(--rpl-button-text-colour--secondary--hover);
      background-color: var(--rpl-button-background-colour--secondary--hover);
      border-color: var(--rpl-button-border-colour--secondary--hover);
    }

    &:active,
    &:active:hover {
      color: var(--rpl-button-text-colour--secondary--active);
      background-color: var(--rpl-button-background-colour--secondary--active);
      border-color: var(--rpl-button-border-colour--secondary--active);
    }
  }

  &--tertiary {
    color: var(--rpl-button-text-colour--tertiary);
    background-color: var(--rpl-button-background-colour--tertiary);
    border-color: var(--rpl-button-border-colour--tertiary);
    border-width: var(--rpl-button-border-width--tertiary);

    &:hover {
      color: var(--rpl-button-text-colour--tertiary--hover);
      background-color: var(--rpl-button-background-colour--tertiary--hover);
      border-color: var(--rpl-button-border-colour--tertiary--hover);
    }

    &:active:hover {
      color: var(--rpl-button-text-colour--tertiary--active);
      background-color: var(--rpl-button-background-colour--tertiary--active);
      border-color: var(--rpl-button-border-colour--tertiary--active);
    }
  }
}
