.rpl-button {
  padding: var(--rpl-space-14) var(--rpl-space-20);
  border: 0;
  border-radius: var(--rpl-border-radius);
  font-family: var(--rpl-type-body);

  &--primary {
    background-color: var(--rpl-color-base-primary);
    color: var(--rpl-color-type-primary);

    &:hover {
      background-color: var(--rpl-color-base-primary-alt);
      color: var(--rpl-color-type-primary-alt);
    }
  }

  &--secondary {
    background-color: var(--rpl-color-base-secondary);
    color: var(--rpl-color-type-secondary);

    &:hover {
      color: var(--rpl-color-type-secondary-alt);
      background-color: var(--rpl-color-base-secondary-alt);
    }
  }
}
