/* TODO: Move this code to a global level of styling, for now using it directly in the button component */

/* stylelint-disable custom-property-pattern */

/* REM reset */
html {
  font-size: 62.5%;
}

/* Theme variables */
:root {
  --rpl-theme-foreground: white;
  --rpl-theme-background: #0052c2;
  --rpl-theme-background--lighter: #005df1;
  --rpl-theme-background--darker: #003174;
}
