.rpl-chip {
  background-color: transparent;
  border-color: var(--rpl-chip-border-clr);
  border-radius: var(--rpl-border-radius-full);
  border-style: solid;
  border-width: var(--rpl-border-width-2);
  color: var(--rpl-chip-clr);
  display: inline-block;
  padding: var(--rpl-space-2) var(--rpl-space-3);
  text-decoration: none;

  &--primary {
    --rpl-chip-border-clr: var(--rpl-clr-primary);
    --rpl-chip-clr: var(--rpl-clr-primary);

    &:hover {
      --rpl-chip-border-clr: var(--rpl-clr-primary-alt);
      --rpl-chip-clr: var(--rpl-clr-primary-alt);
    }
  }

  &--reversed {
    --rpl-chip-border-clr: var(--rpl-clr-white);
    --rpl-chip-clr: var(--rpl-clr-type-white);
  }

  &:hover {
    text-decoration: underline;
  }

  &:active {
    text-decoration: none;
  }

  &:focus {
    --rpl-chip-border-clr: transparent;
    --rpl-chip-clr: var(--rpl-clr-dark);

    background-color: var(--rpl-clr-focus);
    border-radius: var(--rpl-border-radius-none);
    position: relative;
    text-decoration: none;

    &::after {
      content: '';
      background-color: var(--rpl-clr-dark);
      bottom: calc(var(--rpl-border-width-2) * -1);
      height: var(--rpl-border-width-4);
      left: calc(var(--rpl-border-width-2) * -1);
      position: absolute;
      width: calc(100% + 2 * var(--rpl-border-width-2));
    }
  }

  & + & {
    margin-left: var(--rpl-space-3);
  }
}
