@import '@dpc-sdp/ripple-ui-core/style/breakpoints';

.rpl-tabs {
  border-bottom: var(--rpl-border-1) solid var(--rpl-clr-neutral-300);

  &--vertical {
    border-bottom: 0;
    border-left: var(--rpl-border-1) solid var(--rpl-clr-neutral-300);

    .rpl-tab {
      display: block;
      border-left: var(--rpl-border-3) solid transparent;

      .rpl-button {
        justify-content: flex-start;
        width: 100%;
      }

      &--active {
        border-color: var(--local-active-clr);

        .rpl-u-focusable-block::after {
          display: none;
        }
      }
    }
  }
}

.rpl-tab {
  display: inline-block;
  position: relative;

  .rpl-button--default {
    --local-white-type-clr: var(--rpl-clr-type-default);
    --local-white-type-clr-hover: var(--rpl-clr-type-primary-accessible);
  }

  .rpl-type-label {
    font-weight: var(--rpl-type-weight-regular);
  }

  &--active {
    --local-active-clr: var(--rpl-clr-link);

    .rpl-u-focusable-block::after {
      content: '';
      position: absolute;
      z-index: var(--rpl-z-index-above-content);
      height: var(--rpl-border-3);
      width: calc(100% + var(--rpl-focusable-border-width, 0%) * 2);
      background-color: var(--local-active-clr);
      bottom: 0;
    }

    .rpl-u-focusable-block:focus-visible::after {
      background-color: var(--rpl-clr-dark);
    }

    .rpl-button--default {
      --local-white-type-clr: var(--local-active-clr);

      text-decoration: none;
    }
  }
}
