{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "browsers": [
            "> 1%",
            "last 2 versions",
            "not ie <= 8"
          ]
        }
      }
    ],
    "vue"
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "transform-vue-jsx",
    "@babel/plugin-transform-runtime"
  ],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env"
        ],
        "vue"
      ],
      "plugins": [
        "dynamic-import-node"
      ]
    }
  }
}
