# Temporary files
node_modules
*.log
.nuxt
.nitro
.cache
.output
dist
dist-ssr
coverage
.jest-test-results.json
storybook-static

# Test results
examples/**/test/videos/*
examples/**/test/screenshots/*
examples/**/test/results/*
packages/**/cypress/videos/*
packages/**/cypress/screenshots/*
packages/**/cypress/results/*
.unlighthouse

# Typescript
tsconfig.tsbuildinfo

# Env files
.env
.env.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# OS or Editor folders
._*
.cache
.DS_Store
.idea
.project
.settings
.tmproj
*.esproj
*.sublime-project
*.sublime-workspace
nbproject
Thumbs.db

