.env

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# Temporary files.
node_modules
.nuxt
dist
storybook-static
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/src/public

# tests
coverage
examples/**/test/e2e/videos
examples/**/test/e2e/screenshots

# temp test fixtures
/examples/test*