@import '@dpc-sdp/ripple-ui-core/style/breakpoints';

.rpl-map-layer-list__trigger {
  position: absolute;
  bottom: 0;

  z-index: var(--rpl-layer-1);
  margin-left: var(--rpl-sp-2);
  margin-bottom: var(--rpl-sp-2);

  @media (--rpl-bp-m) {
    margin-left: var(--rpl-sp-3);
    margin-bottom: var(--rpl-sp-3);
  }
}

.rpl-map-layer-list {
  display: flex;
  flex-direction: column;
  row-gap: var(--rpl-sp-4);
  padding-top: var(--rpl-sp-4);
}

.rpl-map-layer-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: var(--rpl-sp-4);
  cursor: pointer;
  width: 100%;
  text-align: start;
}

.rpl-map-layer-list-item__image-container {
  position: relative;
  width: 44px;
  height: 44px;
  flex-shrink: 0;
}

.rpl-map-layer-list-item__image {
  border: var(--rpl-border-1) solid var(--rpl-clr-neutral-600);
  border-radius: var(--rpl-border-radius-2);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.rpl-map-layer-list-item__image-icon {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -5px;
  margin-right: -5px;
  background: white;
  border-radius: 50%;
}

.rpl-map-layer-list-item--selected {
  .rpl-map-layer-list-item__image {
    border: var(--rpl-border-2) solid var(--rpl-clr-neutral-800);
  }
}
