@import '@dpc-sdp/ripple-ui-core/style/breakpoints';

.rpl-description-list {
  --local-list-spacing: var(--rpl-sp-2);

  display: grid;
  grid-template-columns: max-content auto;
  margin: 0;

  .rpl-icon {
    position: absolute;
    top: 3px;
    left: 0;
  }
}

.rpl-description-list__term {
  font-weight: var(--rpl-type-weight-bold);
  position: relative;
  display: flex;
  gap: var(--rpl-sp-2);
}

.rpl-description-list__description {
  margin-left: var(--rpl-sp-2);
}

.rpl-description-list__term,
.rpl-description-list__description {
  &:not(:first-of-type) {
    margin-top: var(--local-list-spacing);
  }
}

.rpl-description-list--inline {
  display: flex;
  flex-direction: column;
  gap: var(--local-list-spacing);
}

.rpl-description-list__inline-wrap {
  position: relative;
}

.rpl-description-list__inline-wrap .rpl-description-list__term {
  position: initial;
  display: inline-flex;
}

.rpl-description-list__inline-wrap .rpl-description-list__description {
  display: inline;
}

.rpl-description-list--with-icon {
  padding-left: var(--rpl-sp-5);
}

.rpl-description-list--only-icon {
  padding-left: var(--rpl-sp-6);
}

.rpl-description-list__description--only,
.rpl-description-list--only-icon .rpl-description-list__description,
.rpl-description-list--only-icon + .rpl-description-list__description {
  margin-left: 0;
}

.rpl-description-list--compact {
  display: flex;
  flex-direction: column;
  gap: var(--rpl-sp-3);
}

.rpl-description-list__compact-wrap {
  display: flex;
  flex-direction: column;
  gap: 0;

  & .rpl-description-list__description {
    margin-left: 0;
  }
}
