.rpl-social-share__title {
  margin-bottom: var(--rpl-sp-4);
}

.rpl-social-share__items {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: var(--rpl-sp-2);
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.rpl-social-share__icon {
  color: var(--rpl-clr-link);
  margin-right: var(--rpl-sp-2);
  margin-bottom: -0.2em;
}

.rpl-social-share-link {
  display: inline-block;
  color: var(--rpl-clr-type-default);

  &:active {
    text-decoration: underline;
    color: var(--rpl-clr-type-default);
  }

  &:hover,
  &:visited {
    color: var(--rpl-clr-type-default);
  }

  &:focus-visible .rpl-social-share__icon {
    color: var(--rpl-clr-type-focus-contrast);
  }
}
