.rpl-social-share {
  &__items {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    padding-left: 0;
  }

  &__item {
    list-style-type: none;
  }

  &__link {
    color: var(--rpl-clr-type-default);
    padding: var(--rpl-sp-1) 0;
  }
}
