.rpl-social-share {
  &__title {
    margin-bottom: var(--rpl-sp-4);
  }

  &__items {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }

  &__link {
    display: inline-block;
    margin: 0 0 var(--rpl-sp-2);
    color: var(--rpl-clr-type-default);

    &:active {
      text-decoration: underline;
    }
  }

  &__icon {
    color: var(--rpl-clr-link);
    margin-right: var(--rpl-sp-2);
    margin-bottom: -0.2em;
  }
}
