.rpl-social-share {
  &__items {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 0;
    padding-left: 0;
  }

  &__item {
    list-style-type: none;
  }

  &__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: var(--rpl-sp-2);
    box-sizing: border-box;
    padding: var(--rpl-sp-1) 0;
    color: var(--rpl-clr-type-default);
  }

  &__icon {
    color: var(--rpl-clr-primary);
  }
}
