.rpl-storybook__icon-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.rpl-storybook__icon-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  text-align: center;
  border: 1px solid #e8ebee;
  border-radius: 4px;
  padding: 0.5rem;
  width: calc(12.5% - 1rem - 2px);
  margin: 0.5rem;
  margin-top: 0;
}
