@import '@dpc-sdp/ripple-ui-core/style/breakpoints';

.rpl-form-review__wrap {
  --local-form-review-spacing: var(--rpl-sp-5);

  padding-block: var(--local-form-review-spacing);

  @media (--rpl-bp-l) {
    --local-form-review-spacing: var(--rpl-sp-7);
  }
}
