/**
 * Branding theme with dark text on light ui primary
 */

:root {
  --rpl-clr-primary: #fdda24;
  --rpl-clr-primary-alt: #fef0a7;
  --rpl-clr-type-primary-accessible: var(--rpl-clr-dark);
  --rpl-clr-type-primary-contrast: var(--rpl-clr-dark);
  --rpl-clr-accent: #88dbdf;
  --rpl-clr-accent-alt: #f3fcfc;
  --rpl-clr-type-accent-contrast: var(--rpl-clr-dark);
  --rpl-theme-button-white-text-clr: var(--rpl-clr-dark);

  --rpl-clr-link: var(--rpl-clr-accent);
  --rpl-clr-gradient-vertical: linear-gradient(
    90deg,
    var(--rpl-clr-primary) 0%,
    var(--rpl-clr-primary) 100%
  );
}
