/**
 * Branding theme with dark text on light ui primary
 */

:root {
  --rpl-clr-core-primary: #fdda24;
  --rpl-clr-core-primary-alt: #fef0a7;
  --rpl-clr-core-primary-contrast: var(--rpl-clr-dark);
  --rpl-clr-core-accent: #88dbdf;
  --rpl-clr-core-accent-alt: #f3fcfc;
  --rpl-clr-core-accent-contrast: var(--rpl-clr-dark);
  --rpl-theme-button-white-text-clr: var(--rpl-clr-dark);
}
