/**
 * Branding theme with light text on dark ui primary
 */

:root {
  --rpl-clr-primary: #87189d;
  --rpl-clr-type-primary-accessible: #87189d;
  --rpl-clr-primary-alt: #510e5e;
  --rpl-clr-accent: #c63663;
  --rpl-clr-accent-alt: #f9ebf0;

  --rpl-clr-link: var(--rpl-clr-accent);
  --rpl-clr-gradient-vertical: linear-gradient(
    90deg,
    var(--rpl-clr-primary) 0%,
    var(--rpl-clr-primary) 100%
  );
}
