.rpl-image {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &--fill {
    height: 100%;
  }

  &--circle {
    border-radius: 100%;
  }

  &--none {
    object-fit: none;
  }

  &--contain {
    object-fit: contain;
  }

  &--cover {
    object-fit: cover;
  }
}
