@import '@dpc-sdp/ripple-ui-core/style/breakpoints';

.rpl-acknowledgement {
  --local-flag-height: 4rem;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  @media (--rpl-bp-m) {
    flex-wrap: nowrap;
  }

  &__flags {
    display: flex;

    @media (--rpl-bp-m) {
      margin: var(--rpl-sp-1) 0;
    }
  }

  &__flag {
    height: var(--local-flag-height);
    border: 1px solid var(--rpl-clr-neutral-0);
  }

  &__flag + &__flag {
    margin-left: var(--rpl-sp-2);
  }

  &__message {
    margin-top: var(--rpl-sp-3);
    margin-bottom: 0;

    @media (--rpl-bp-m) {
      margin-top: 0;
      margin-left: var(--rpl-sp-4);
    }
  }
}
