@import '@dpc-sdp/ripple-ui-core/style/breakpoints';

.rpl-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--rpl-clr-neutral-alpha-700);
  z-index: var(--rpl-layer-1);
}

.rpl-modal__inner {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.rpl-modal__actions {
  flex-shrink: 0;
  display: flex;
  justify-content: flex-end;
  padding-top: var(--rpl-sp-4);
  padding-right: var(--rpl-sp-4);
  padding-bottom: var(--rpl-sp-5);
  padding-left: var(--rpl-sp-4);
}

.rpl-modal__main {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100%;
  overflow: hidden;
  padding-right: var(--rpl-sp-4);
  padding-left: var(--rpl-sp-4);
  margin-bottom: var(--rpl-sp-7);

  img {
    max-height: 100%;
  }

  @media (--rpl-bp-m) {
    padding-right: var(--rpl-sp-8);
    padding-left: var(--rpl-sp-8);
  }

  @media (--rpl-bp-l) {
    padding-right: var(--rpl-sp-12);
    padding-left: var(--rpl-sp-12);
    margin-bottom: var(--rpl-sp-9);
  }

  @media (--rpl-bp-xl) {
    padding-right: var(--rpl-sp-13);
    padding-left: var(--rpl-sp-13);
  }
}

.rpl-modal__below {
  flex-shrink: 0;
  padding-top: var(--rpl-sp-5);
  padding-right: var(--rpl-sp-5);
  padding-bottom: var(--rpl-sp-5);
  padding-left: var(--rpl-sp-5);
  background-color: white;

  @media (--rpl-bp-m) {
    padding-right: var(--rpl-sp-8);
    padding-left: var(--rpl-sp-8);
  }

  @media (--rpl-bp-l) {
    padding-top: var(--rpl-sp-8);
    padding-right: var(--rpl-sp-10);
    padding-bottom: var(--rpl-sp-8);
    padding-left: var(--rpl-sp-10);
  }
}
