@import '@dpc-sdp/ripple-ui-core/style/breakpoints';

.rpl-modal {
  --local-view-height: 100vh;

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: var(--local-view-height);
  display: flex;
  flex-direction: column;
  background-color: var(--rpl-clr-neutral-alpha-700);
  z-index: var(--rpl-layer-5);
}

.rpl-modal__inner {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.rpl-modal__actions {
  flex-shrink: 0;
  display: flex;
  justify-content: flex-end;
  padding-top: var(--rpl-sp-4);
  padding-right: var(--rpl-sp-4);
  padding-bottom: var(--rpl-sp-5);
  padding-left: var(--rpl-sp-4);
}

.rpl-modal__main {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100%;
  overflow: hidden;
  padding-right: var(--rpl-sp-4);
  padding-left: var(--rpl-sp-4);
  margin-bottom: var(--rpl-sp-7);

  img {
    max-height: 100%;
  }

  @media (--rpl-bp-m) {
    padding-right: var(--rpl-sp-8);
    padding-left: var(--rpl-sp-8);
  }

  @media (--rpl-bp-l) {
    padding-right: var(--rpl-sp-12);
    padding-left: var(--rpl-sp-12);
    margin-bottom: var(--rpl-sp-9);
  }

  @media (--rpl-bp-xl) {
    padding-right: var(--rpl-sp-13);
    padding-left: var(--rpl-sp-13);
  }
}

.rpl-modal__below {
  flex-shrink: 0;
  padding-top: var(--rpl-sp-5);
  padding-right: var(--rpl-sp-5);
  padding-bottom: var(--rpl-sp-5);
  padding-left: var(--rpl-sp-5);
  background-color: white;

  @media (--rpl-bp-m) {
    padding-right: var(--rpl-sp-8);
    padding-left: var(--rpl-sp-8);
  }

  @media (--rpl-bp-l) {
    padding-top: var(--rpl-sp-8);
    padding-right: var(--rpl-sp-10);
    padding-bottom: var(--rpl-sp-8);
    padding-left: var(--rpl-sp-10);
  }
}

.rpl-modal-open {
  @media print {
    height: auto;
    overflow: auto;

    .rpl-modal {
      height: auto;
      position: relative;
    }

    .rpl-modal__inner {
      height: auto;
    }

    .rpl-modal__below {
      padding-left: 0;
      padding-right: 0;
    }

    .rpl-layout {
      display: none;
    }
  }
}
