version: 2.1

jobs:
  build:
    docker:
      - image: cypress/base:14.16.0
        environment:
          TERM: xterm
          CIRCLE_TEST_REPORTS: test-results
          TZ: "Australia/Melbourne"
    working_directory: ~/app
    steps:
      - checkout
      - restore_cache:
          keys:
            - v9-deps-{{ .Branch }}-{{ checksum "yarn.lock" }}
      - run:
          name: Install Dependencies
          command: yarn install --frozen-lockfile --cache-folder ~/.cache/yarn
      - save_cache:
          key: v9-deps-{{ .Branch }}-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache
      - run:
          name: build vic-gov-au nuxt app
          command: cd examples/vic-gov-au && yarn build:default
      - persist_to_workspace:
          root: ~/app
          paths: .

  warm-up:
    docker:
      - image: cypress/base:14.16.0
    steps:
      - run:
          name: wake up dev backend
          command: curl https://develop.content.vic.gov.au/ --max-time 1000

  test:
    docker:
      - image: cypress/base:14.16.0
        environment:
          TERM: xterm
          CIRCLE_TEST_REPORTS: test-results
          TZ: "Australia/Melbourne"

    working_directory: ~/app
    steps:
      - attach_workspace:
          at: ~/app
      - restore_cache:
          keys:
            - v9-deps-{{ .Branch }}-{{ checksum "yarn.lock" }}
      - run:
          name: Lint code.
          command: yarn lint --format ./node_modules/eslint-junit/index.js
          environment:
             ESLINT_JUNIT_OUTPUT: ./test-results/lint/eslint.xml
      - run:
          name: Unit tests
          command: yarn test:unit --ci --runInBand --reporters=default --reporters=jest-junit
          environment:
            JEST_JUNIT_OUTPUT_DIR: test-results/unit/
      - run:
          name: run smoke test
          command: yarn test:smoke
      - run:
          name: prepare cucumber test report
          command: yarn test:report
      - persist_to_workspace:
          root: ~/app
          paths: .
      - store_test_results:
          path: test-results
      - store_artifacts:
          path: test-results
      - store_artifacts:
          path: examples/vic-gov-au/test/e2e/videos
      - store_artifacts:
          path: examples/vic-gov-au/test/e2e/screenshots

  audit:
    docker:
      - image: cypress/browsers:node14.16.0-chrome89-ff86
        environment:
          TERM: xterm
          CIRCLE_TEST_REPORTS: test-results
          TZ: "Australia/Melbourne"

    working_directory: ~/app
    steps:
      - attach_workspace:
          at: ~/app
      - restore_cache:
          keys:
            - v9-deps-{{ .Branch }}-{{ checksum "yarn.lock" }}
      - run:
          name: run lighthouse audit
          command: yarn test:audit
      - run:
          name: prepare cucumber test report
          command: yarn test:report
      - persist_to_workspace:
          root: ~/app
          paths: .
      - store_test_results:
          path: test-results
      - store_artifacts:
          path: test-results
      - store_artifacts:
          path: examples/vic-gov-au/test/e2e/videos
      - store_artifacts:
          path: examples/vic-gov-au/test/e2e/screenshots

  e2e-vic-gov:
    # This runs the full suite of e2e tests
    docker:
      - image: cypress/browsers:node14.16.0-chrome89-ff86
        environment:
          TERM: xterm
          TZ: "Australia/Melbourne"

    working_directory: ~/app
    parallelism: 2
    steps:
      - attach_workspace:
          at: ~/app
      - restore_cache:
          keys:
            - v9-deps-{{ .Branch }}-{{ checksum "yarn.lock" }}
      - run:
          name: run full e2e test
          command: yarn test:e2e-vic
      - run:
          name: prepare cucumber test report
          command: yarn test:report
          when: always
      - store_artifacts:
          path: test-results
      - store_test_results:
          path: test-results
      - store_artifacts:
          path: examples/vic-gov-au/test/e2e/videos
      - store_artifacts:
          path: examples/vic-gov-au/test/e2e/screenshots


  e2e-example:
    # This runs the full suite of e2e tests
    docker:
      - image: cypress/browsers:node14.16.0-chrome89-ff86
        environment:
          TERM: xterm
    working_directory: ~/app
    steps:
      - attach_workspace:
          at: ~/app
      - restore_cache:
          keys:
            - v9-deps-{{ .Branch }}-{{ checksum "yarn.lock" }}
      - run:
          name: build example nuxt app
          command: cd examples/basic-examples && yarn build:default
      - run:
          name: run full e2e test
          command: yarn test:e2e-example
      - run:
          name: prepare cucumber test report
          command: yarn test:report
      - store_test_results:
          path: test-results
      - store_artifacts:
          path: test-results
      - store_artifacts:
          path: examples/vic-gov-au/test/e2e/videos
      - store_artifacts:
          path: examples/vic-gov-au/test/e2e/screenshots

  e2e-vue-example-app:
    docker:
      - image: cypress/browsers:node14.16.0-chrome89-ff86
        environment:
          TERM: xterm
    working_directory: ~/app
    steps:
      - attach_workspace:
          at: ~/app
      - restore_cache:
          keys:
            - v9-deps-{{ .Branch }}-{{ checksum "yarn.lock" }}
      - run:
          name: run smoke test
          command: cd examples/vue-example-app && yarn test:smoke
      - run:
          name: prepare cucumber test report
          command: yarn test:report
      - store_test_results:
          path: test-results
      - store_artifacts:
          path: test-results
      - store_artifacts:
          path: examples/vue-example-app/test/e2e/videos
      - store_artifacts:
          path: examples/vue-example-app/test/e2e/screenshots

  storybook:
    docker:
      - image: cypress/base:14.16.0
        environment:
          TERM: xterm
    working_directory: ~/app
    steps:
      - attach_workspace:
          at: ~/app
      - run:
          name: run UI test
          command: cd src && yarn chromatic --project-token $CHROMATIC_APP_CODE

workflows:
  version: 2
  commit:
    jobs:
      - build:
          context: Ripple
      - storybook:
          context: Ripple
          requires:
            - build
      - test:
          context: Ripple
          requires:
            - build
      - audit:
          context: Ripple
          requires:
            - build
      # Run regression tests on release branches
      - e2e-vic-gov:
          context: Ripple
          requires:
            - build
          filters:
            branches:
              only:
                - /^release\/.*/
      - e2e-example:
          requires:
            - build
          filters:
            branches:
              only:
                - /^release\/.*/
      - e2e-vue-example-app:
          requires:
            - build
          filters:
            branches:
              only:
                - /^release\/.*/

  # Run full regression test at midnight UTC on develop branch
  nightly:
    triggers:
      - schedule:
          cron: "30 14 * * *"
          filters:
            branches:
              only:
                - develop
    jobs:
      - warm-up
      - build:
          context: Ripple
      - test:
          context: Ripple
          requires:
            - build
      - audit:
          context: Ripple
          requires:
            - build
      - e2e-vic-gov:
          context: Ripple
          requires:
            - build
      - e2e-example:
          requires:
            - build
      - e2e-vue-example-app:
          requires:
            - build
