version: 2.0

jobs:
  build:
    context: Ripple
    docker:
      - image: cypress/base:10
        environment:
          TERM: xterm
          SEARCH_BE: LOCAL-CI
          CIRCLE_TEST_REPORTS: test-results
    working_directory: ~/app
    steps:
      - checkout
      - restore_cache:
          keys:
            - v2-deps-{{ checksum "yarn.lock" }}
            - v2-deps-{{ .Branch }}
            - v2-deps
      - run:
          name: Install Dependencies
          command: yarn install --frozen-lockfile
      - save_cache:
          key: v2-deps-{{ checksum "yarn.lock" }}
          paths:
            - node_modules
            - packages/ripple-nuxt-tide/node_modules
            - packages/ripple-nuxt-ui/node_modules
            - packages/ripple-create-app/node_modules
            - packages/ripple-test-tools/node_modules
            - examples/vic-gov-au/node_modules
            - examples/basic-examples/node_modules
            - ~/.cache
      - run:
          name: Lint code.
          command: yarn lint --format ./node_modules/eslint-junit/index.js 
          environment:
             ESLINT_JUNIT_OUTPUT: ./test-results/lint/eslint.xml
      - run:
          name: Unit tests
          command: yarn test:unit --ci --runInBand --reporters=default --reporters=jest-junit
          environment:
            JEST_JUNIT_OUTPUT_DIR: test-results/unit/
      - run:
          name: build vic-gov-au nuxt app
          command: cd examples/vic-gov-au && yarn build:default
      - persist_to_workspace:
          root: ~/app
          paths: .
  test:
    context: Ripple
    docker:
      - image: cypress/base:10
        environment:
          TERM: xterm
          SEARCH_BE: LOCAL-CI
          CIRCLE_TEST_REPORTS: test-results
    working_directory: ~/app
    steps:
      - attach_workspace:
          at: ~/app
      - restore_cache:
          keys:
            - v2-deps-{{ checksum "yarn.lock" }}
            - v2-deps-{{ .Branch }}
            - v2-deps
      - run:
          name: run smoke test
          command: yarn test:smoke && node ./scripts/cucumberconvertor.js
      - persist_to_workspace:
          root: ~/app
          paths: .
      - store_test_results:
          path: test-results
      - store_artifacts:
          path: test-results
      - store_artifacts:
          path: examples/vic-gov-au/test/e2e/videos
      - store_artifacts:
          path: examples/vic-gov-au/test/e2e/screenshots

  e2e-vic-gov:
    # This runs the full suite of e2e tests 
    docker:
      - image: cypress/base:10
        environment:
          TERM: xterm
          SEARCH_BE: LOCAL-CI
    working_directory: ~/app
    steps:    
      - attach_workspace:
          at: ~/app
      - restore_cache:
          keys:
            - v2-deps-{{ checksum "yarn.lock" }}
            - v2-deps-{{ .Branch }}
            - v2-deps
      - run: 
          name: run full e2e test
          command: yarn test:e2e-vic 
      - run:
          name: convert cucumber test output
          command: node ./scripts/cucumberconvertor.js
      - store_test_results:
          path: test-results
      - store_artifacts:
          path: test-results
      - store_artifacts:
          path: examples/vic-gov-au/test/e2e/videos
      - store_artifacts:
          path: examples/vic-gov-au/test/e2e/screenshots

  e2e-example:
    # This runs the full suite of e2e tests 
    docker:
      - image: cypress/base:10
        environment:
          TERM: xterm
          SEARCH_BE: LOCAL-CI
    working_directory: ~/app
    steps:    
      - attach_workspace:
          at: ~/app
      - restore_cache:
          keys:
            - v2-deps-{{ checksum "yarn.lock" }}
            - v2-deps-{{ .Branch }}
            - v2-deps
      - run:
          name: build example nuxt app
          command: cd examples/basic-examples && yarn build:default
      - run: 
          name: run full e2e test
          command: yarn test:e2e-example
      - run:
          name: convert cucumber test output
          command: node ./scripts/cucumberconvertor.js      
      - store_test_results:
          path: test-results
      - store_artifacts:
          path: test-results
      - store_artifacts:
          path: examples/vic-gov-au/test/e2e/videos
      - store_artifacts:
          path: examples/vic-gov-au/test/e2e/screenshots

workflows:
  version: 2
  commit:
    jobs:
      - build      
      - test:
          requires:
            - build      
      # Run regression tests on release branches
      - e2e-vic-gov:
          requires:
            - build
            - test
          filters:
            branches:
              only:
                - release/*    
      - e2e-example:
          requires:
            - build
            - test
          filters:
            branches:
              only:
                - release/*
  # Run full regression test at midnight UTC on develop branch
  nightly:
    triggers:
      - schedule:
          cron: "30 14 * * *"
          filters:
            branches:
              only:
                - develop
    jobs:
      - build
      - e2e-vic-gov:
          requires:
            - build
            - test
          filters:
            branches:
              only:
                - release/*    
      - e2e-example:
          requires:
            - build
            - test
          filters:
            branches:
              only:
                - release/*
