version: 2.0

jobs:
  test:
    context: Ripple
    docker:
      - image: cypress/base:10
        environment:
          TERM: xterm
          SEARCH_BE: LOCAL-CI
    working_directory: ~/app
    steps:
      - checkout
      - run: yarn --version
      - restore_cache:
          keys:
            - v1-deps-{{ checksum "yarn.lock" }}
            - v1-deps-{{ .Branch }}
            - v1-deps
      - run:
          name: Install Dependencies
          command: yarn install --frozen-lockfile
      - save_cache:
          key: v1-deps-{{ checksum "yarn.lock" }}
          paths:
            - node_modules
            - packages/ripple-nuxt-tide/node_modules
            - packages/ripple-nuxt-ui/node_modules
            - packages/ripple-create-app/node_modules
            - packages/ripple-test-tools/node_modules
            - examples/vic-gov-au/node_modules
            - ~/.cache
      - run:
          name: Lint code.
          command: yarn lint     
      - run:
          name: Unit tests
          command: yarn test:unit
      - run: 
          name: run smoke test
          command: yarn test:smoke
      - store_artifacts:
          path: test/e2e/videos
      - store_artifacts:
          path: test/e2e/screenshots

  regression:
    # This runs the full suite of e2e tests 
    docker:
      - image: cypress/base:10
        environment:
          TERM: xterm
          SEARCH_BE: LOCAL-CI
    working_directory: ~/app
    steps:    
      - checkout
      - run:
          name: Install Dependencies
          command: yarn install --frozen-lockfile
      - run:
          name: Lint code.
          command: yarn lint     
      - run:
          name: Unit tests
          command: yarn test:unit
      - run: 
          name: run smoke test
          command: yarn test:smoke
      - run: 
          name: run full e2e test
          command: yarn test:e2e
      - store_artifacts:
          path: test/e2e/videos
      - store_artifacts:
          path: test/e2e/screenshots

workflows:
  version: 2
  commit:
    jobs:
      - test
  # Run full regression test nightly on develop branch
  nightly:
    triggers:
      - schedule:
          # 12:30am midnight melbourne time
          cron: "30 14 * * *"
          filters:
            branches:
              only:
                - develop
    jobs:
      - regression
