version: 2.0

jobs:
  build:
    docker:
      - image: cypress/base:10
        environment:
          TERM: xterm
          CIRCLE_TEST_REPORTS: test-results
          TZ: "Australia/Melbourne"
    working_directory: ~/app
    steps:
      - checkout
      - restore_cache:
          keys:
            - v2-deps-{{ checksum "yarn.lock" }}
            - v2-deps-{{ .Branch }}
            - v2-deps
      - run:
          name: Install Dependencies
          command: yarn install --frozen-lockfile
      - save_cache:
          key: v2-deps-{{ checksum "yarn.lock" }}
          paths:
            - node_modules
            - packages/ripple-nuxt-tide/node_modules
            - packages/ripple-nuxt-ui/node_modules
            - packages/ripple-create-app/node_modules
            - packages/ripple-test-tools/node_modules
            - examples/vic-gov-au/node_modules
            - examples/basic-examples/node_modules
            - examples/vue-example-app/node_modules
            - ~/.cache
      - run:
          name: build vic-gov-au nuxt app
          command: cd examples/vic-gov-au && yarn build:default
      - persist_to_workspace:
          root: ~/app
          paths: .

  warm-up:
    docker:
      - image: cypress/base:10
    steps:
      - run:
          name: wake up dev backend
          command: curl https://www.develop.content.vic.gov.au/ --max-time 1000

  test:
    docker:
      - image: cypress/base:10
        environment:
          TERM: xterm
          CIRCLE_TEST_REPORTS: test-results
          TZ: "Australia/Melbourne"

    working_directory: ~/app
    steps:
      - attach_workspace:
          at: ~/app
      - restore_cache:
          keys:
            - v2-deps-{{ checksum "yarn.lock" }}
            - v2-deps-{{ .Branch }}
            - v2-deps
      - run:
          name: Lint code.
          command: yarn lint --format ./node_modules/eslint-junit/index.js 
          environment:
             ESLINT_JUNIT_OUTPUT: ./test-results/lint/eslint.xml
      - run:
          name: Unit tests
          command: yarn test:unit --ci --runInBand --reporters=default --reporters=jest-junit
          environment:
            JEST_JUNIT_OUTPUT_DIR: test-results/unit/
      - run:
          name: run smoke test
          command: yarn test:smoke
      - run:
          name: prepare cucumber test report
          command: yarn test:report   
      - persist_to_workspace:
          root: ~/app
          paths: .
      - store_test_results:
          path: test-results
      - store_artifacts:
          path: test-results
      - store_artifacts:
          path: examples/vic-gov-au/test/e2e/videos
      - store_artifacts:
          path: examples/vic-gov-au/test/e2e/screenshots

  e2e-vic-gov:
    # This runs the full suite of e2e tests 
    docker:
      - image: cypress/base:10
        environment:
          TERM: xterm
          TZ: "Australia/Melbourne"

    working_directory: ~/app
    parallelism: 2
    steps:
      - attach_workspace:
          at: ~/app
      - restore_cache:
          keys:
            - v2-deps-{{ checksum "yarn.lock" }}
            - v2-deps-{{ .Branch }}
            - v2-deps
      - run: 
          name: run full e2e test
          command: yarn test:e2e-vic
      - run:
          name: prepare cucumber test report
          command: yarn test:report
          when: always
      - store_artifacts:
          path: test-results
      - store_test_results:
          path: test-results
      - store_artifacts:
          path: examples/vic-gov-au/test/e2e/videos
      - store_artifacts:
          path: examples/vic-gov-au/test/e2e/screenshots

  e2e-example:
    # This runs the full suite of e2e tests 
    docker:
      - image: cypress/base:10
        environment:
          TERM: xterm
    working_directory: ~/app
    steps:    
      - attach_workspace:
          at: ~/app
      - restore_cache:
          keys:
            - v2-deps-{{ checksum "yarn.lock" }}
            - v2-deps-{{ .Branch }}
            - v2-deps
      - run:
          name: build example nuxt app
          command: cd examples/basic-examples && yarn build:default
      - run: 
          name: run full e2e test
          command: yarn test:e2e-example
      - run:
          name: prepare cucumber test report
          command: yarn test:report
      - store_test_results:
          path: test-results
      - store_artifacts:
          path: test-results
      - store_artifacts:
          path: examples/vic-gov-au/test/e2e/videos
      - store_artifacts:
          path: examples/vic-gov-au/test/e2e/screenshots

  e2e-vue-example-app:
    docker:
      - image: cypress/base:10
        environment:
          TERM: xterm
    working_directory: ~/app
    steps:    
      - attach_workspace:
          at: ~/app
      - restore_cache:
          keys:
            - v2-deps-{{ checksum "yarn.lock" }}
            - v2-deps-{{ .Branch }}
            - v2-deps
      - run: 
          name: run smoke test
          command: cd examples/vue-example-app && yarn test:smoke
      - run:
          name: prepare cucumber test report
          command: yarn test:report
      - store_test_results:
          path: test-results
      - store_artifacts:
          path: test-results
      - store_artifacts:
          path: examples/vue-example-app/test/e2e/videos
      - store_artifacts:
          path: examples/vue-example-app/test/e2e/screenshots

  prerelease:
    # NOT ENABLED YET - needs further testing
    docker:
      - image: cypress/base:10
        environment:
          TERM: xterm
    working_directory: ~/app
    steps:    
      - attach_workspace:
          at: ~/app
      - restore_cache:
          keys:
            - v2-deps-{{ checksum "yarn.lock" }}
            - v2-deps-{{ .Branch }}
            - v2-deps
      - run: 
          name: Set NPM_TOKEN
          command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/.npmrc
      - run:
          name: Lerna publish
          command: yarn publish --dist-tag dev --yes

workflows:
  version: 2
  commit:
    jobs:
      - build:
          context: Ripple      
      - test:
          context: Ripple
          requires:
            - build  
      # Run regression tests on release branches
      - e2e-vic-gov:
          context: Ripple
          requires:
            - build
          filters:
            branches:
              only:
                - release/*
      - e2e-example:
          requires:
            - build
          filters:
            branches:
              only:
                - release/*
      - e2e-vue-example-app:
          requires:
            - build
          filters:
            branches:
              only:
                - release/*
      #  Release prerelease DEV tag to NPM on successful tests passing
      # - prerelease:
      #     requires:
      #       - build
      #       - test
      #       - e2e-example
      #       - e2e-vic-gov
      #     filters:
      #       branches:
      #         only:
      #           - release/*

  # Run full regression test at midnight UTC on develop branch
  nightly:
    triggers:
      - schedule:
          cron: "30 14 * * *"
          filters:
            branches:
              only:
                - develop
    jobs:
      - warm-up
      - build:
          context: Ripple
      - test:
          context: Ripple
          requires:
            - build  
      - e2e-vic-gov:
          context: Ripple
          requires:
            - build
      - e2e-example:
          requires:
            - build
      - e2e-vue-example-app:
          requires:
            - build
