version: 2.0

jobs:
  test:
    context: Ripple
    docker:
      - image: cypress/base:10
        environment:
          TERM: xterm
          SEARCH_BE: LOCAL-CI
    working_directory: ~/app
    steps:
      - checkout
      - run: yarn --version
      - restore_cache:
          keys:
            - v1-deps-{{ checksum "yarn.lock" }}
            - v1-deps-{{ .Branch }}
            - v1-deps
      - run:
          name: Install Dependencies
          command: yarn install --frozen-lockfile
      - save_cache:
          key: v1-deps-{{ checksum "yarn.lock" }}
          paths:
            - node_modules
            - packages/ripple-nuxt-tide/node_modules
            - packages/ripple-nuxt-ui/node_modules
            - packages/ripple-create-app/node_modules
            - packages/ripple-test-tools/node_modules
            - examples/vic-gov-au/node_modules
            - examples/basic-examples/node_modules
            - ~/.cache
      - run:
          name: Lint code.
          command: yarn lint --format ./node_modules/eslint-junit/index.js 
          environment:
             ESLINT_JUNIT_OUTPUT: ./reports/eslint.xml
      - run:
          name: Unit tests
          command: yarn test:unit -- --ci --runInBand --reporters=default --reporters=jest-junit
          environment:
            JEST_JUNIT_OUTPUT_DIR: reports/unit/
      - run:
          name: run smoke test
          command: yarn test:smoke
      - persist_to_workspace:
          root: ~/app
          paths: .
      - store_artifacts:
          path: examples/vic-gov-au/test/e2e/videos
      - store_artifacts:
          path: examples/vic-gov-au/test/e2e/screenshots
      - store_test_results:
          path: examples/vic-gov-au/test/e2e/cucumber
      - store_artifacts:
          path: examples/vic-gov-au/test/e2e/cucumber
      - store_test_results:
          path: reports
      - store_artifacts:
          path: reports

  regression:
    # This runs the full suite of e2e tests 
    docker:
      - image: cypress/base:10
        environment:
          TERM: xterm
          SEARCH_BE: LOCAL-CI
    working_directory: ~/app
    steps:    
      - attach_workspace:
          at: ~/app
      - run: 
          name: run full e2e test
          command: yarn test:e2e
      - store_artifacts:
          path: test/e2e/videos
      - store_artifacts:
          path: test/e2e/screenshots
      - store_test_results:
          path: test/e2e/cucumber
      - store_artifacts:
          path: test/e2e/cucumber

workflows:
  version: 2
  commit:
    jobs:
      - test
      # Run regression tests on release branches
      - regression:
          requires:
            - test
          filters:
            branches:
              only:
                - release/*          
  # Run full regression test at midnight UTC on develop branch
  nightly:
    triggers:
      - schedule:
          cron: "30 14 * * *"
          filters:
            branches:
              only:
                - develop
    jobs:
      - test
      - regression:
          requires:
            - test
