version: 2.0

jobs:
  test:
    docker:
      - image: cypress/base:10
        environment:
          TERM: xterm
          SEARCH_BE: LOCAL-CI
    working_directory: ~/app
    steps:
      - checkout
      - run: yarn --version
      - restore_cache:
          keys:
            - v1-deps-{{ checksum "yarn.lock" }}
            - v1-deps-{{ .Branch }}
            - v1-deps
      - run:
          name: Install Dependencies
          command: yarn install --frozen-lockfile
      - save_cache:
          key: v1-deps-{{ checksum "yarn.lock" }}
          paths:
            - node_modules
            - packages/ripple-ui-components/node_modules
            - packages/ripple-nuxt-tide/node_modules
            - packages/ripple-nuxt-ui/node_modules
            - packages/ripple-create-app/node_modules
            - packages/ripple-test-tools/node_modules
            - examples/vic-gov-au/node_modules
            - ~/.cache
      - run:
          name: Lint code.
          command: yarn lint             
      - run: 
          name: run e2e smoke test
          command: yarn test:e2e
      - store_artifacts:
          path: test/e2e/videos
      - store_artifacts:
          path: test/e2e/screenshots

workflows:
  version: 2
  commit:
    jobs:
      - test

