.rpl-form-help {
  margin-bottom: var(--rpl-sp-4);

  &,
  p,
  li {
    font-size: var(--rpl-type-size-1);
    line-height: var(--rpl-type-lh-3);
    letter-spacing: var(--rpl-type-ls-1);
  }

  .rpl-form-label + & {
    margin-top: calc(var(--rpl-sp-3) * -1);
  }
}
