@import '@dpc-sdp/ripple-ui-core/style/breakpoints';

.rpl-in-page-navigation {
  border-left-style: solid;
  border-left-width: var(--rpl-border-3);
  border-image: var(--rpl-clr-gradient-vertical) 1 100%;
  margin: 0 0 var(--rpl-sp-4);
  padding-left: var(--rpl-sp-3);

  @media (--rpl-bp-m) {
    padding-left: var(--rpl-sp-4);
  }

  .rpl-list {
    &__item {
      list-style-type: none;
      margin-bottom: var(--rpl-sp-3);

      @media (--rpl-bp-m) {
        margin-bottom: var(--rpl-sp-4);
      }
    }

    &__items {
      padding-left: 0;

      &--sub {
        .rpl-list__item {
          margin-top: var(--rpl-sp-3);

          @media (--rpl-bp-m) {
            margin-top: var(--rpl-sp-4);
          }

          &::before {
            content: '';
            display: inline-block;
            float: left;
            height: calc(var(--rpl-sp-3) * 2 / 3); /* full size 12 */
            width: calc(var(--rpl-sp-2) * 2 / 3); /* full size 8 */
            margin: 0 var(--rpl-sp-2);
            border-left: 1px solid var(--rpl-clr-type-default);
            border-bottom: 1px solid var(--rpl-clr-type-default);
            text-decoration: none;
          }
        }
      }
    }

    &__link {
      color: var(--rpl-clr-type-default);

      &:focus-visible {
        color: var(--rpl-clr-type-focus-contrast);
      }
    }
  }
}
