@import '@dpc-sdp/ripple-ui-core/style/breakpoints';

.rpl-media-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--rpl-clr-neutral-alpha-700);
}

.rpl-media-fullscreen__inner {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.rpl-media-fullscreen__actions {
  flex-shrink: 0;
  display: flex;
  justify-content: flex-end;
  padding-top: var(--rpl-sp-4);
  padding-right: var(--rpl-sp-4);
  padding-bottom: var(--rpl-sp-5);
  padding-left: var(--rpl-sp-4);
}

.rpl-media-fullscreen__image-wrapper {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: var(--rpl-sp-4);
  padding-bottom: var(--rpl-sp-7);
  padding-left: var(--rpl-sp-4);

  @media (--rpl-bp-m) {
    padding-right: var(--rpl-sp-8);
    padding-left: var(--rpl-sp-8);
  }

  @media (--rpl-bp-l) {
    padding-right: var(--rpl-sp-12);
    padding-bottom: var(--rpl-sp-9);
    padding-left: var(--rpl-sp-12);
  }

  @media (--rpl-bp-xl) {
    padding-right: var(--rpl-sp-13);
    padding-left: var(--rpl-sp-13);
  }
}

.rpl-media-fullscreen__caption {
  flex-shrink: 0;
  padding-top: var(--rpl-sp-5);
  padding-right: var(--rpl-sp-5);
  padding-bottom: var(--rpl-sp-5);
  padding-left: var(--rpl-sp-5);
  background-color: white;

  @media (--rpl-bp-m) {
    padding-right: var(--rpl-sp-8);
    padding-left: var(--rpl-sp-8);
  }

  @media (--rpl-bp-l) {
    padding-top: var(--rpl-sp-8);
    padding-right: var(--rpl-sp-10);
    padding-bottom: var(--rpl-sp-8);
    padding-left: var(--rpl-sp-10);
  }
}
