$rpl-form-label-ruleset: ('l', 1.2em, 'medium') !default;
$rpl-form-text-ruleset: ('xs', 1.3em, 'regular') !default;
$rpl-form-help-ruleset: ('xs', 1em, 'medium') !default;
$rpl-form-required-ruleset: ('xs', .8em, 'regular') !default;
$rpl-form-required-color: rpl-color('danger') !default;
$rpl-form-required-message: ' (Required)' !default;
$rpl-form-element-bg-color: rpl-color('light_neutral') !default;
$rpl-form-element-border-color: rpl-color('mid_neutral_1') !default;
$rpl-form-element-border-color-focus: rpl-color('primary') !default;
$rpl-form-element-border-radius: rem(4px) !default;
$rpl-form-element-text-color: rpl-color('extra_dark_neutral') !default;
$rpl-form-element-placeholder-color: rpl-color('extra_dark_neutral') !default;
$rpl-form-element-text-highlighted: rpl-color('secondary') !default;
$rpl-form-element-text-ruleset: ('xs', 1em, 'regular');
$rpl-form-element-padding-s-horizontal: $rpl-space-4;
$rpl-form-element-padding-m-horizontal: $rpl-space * 5;
$rpl-form-element-padding-s: $rpl-space-4 !default;
$rpl-form-element-padding-m: $rpl-space-4 $rpl-form-element-padding-m-horizontal !default;
$rpl-form-element-margin-bottom-s: $rpl-space-4 !default;
$rpl-form-element-margin-bottom-m: $rpl-space * 7 !default;
$rpl-form-textarea-height-s: rem(180px) !default;
$rpl-form-textarea-height-m: rem(75px) !default;
$rpl-form-radio-size: 20px !default; // these must be evenly divisible by 4
$rpl-form-radio-size-s: 24px !default; // dont use rem - safari rounding bug
$rpl-form-radio-dot-size: $rpl-form-radio-size / 4 !default;
$rpl-form-radio-dot-size-s: $rpl-form-radio-size / 4 !default;
$rpl-form-radio-checked-transition: background-color .2s ease !default;
$rpl-form-radio-border-color: rpl-color('dark_neutral_1') !default;
$rpl-form-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08) !default;


@mixin rpl_form_text {
  @include rpl_typography_ruleset($rpl-form-element-text-ruleset);
  color: $rpl-form-element-text-color;
}

@mixin rpl_form_text_element {
  background-color: $rpl-form-element-bg-color;
  border: 1px solid $rpl-form-element-border-color;
  border-radius: $rpl-form-element-border-radius;
  box-sizing: border-box;
  color: $rpl-form-element-text-color;
  height: auto;
  width: 100%;
  padding: $rpl-form-element-padding-s;
  margin: 0;

  &::placeholder {
    color: $rpl-form-element-placeholder-color;
  }

  @include rpl_breakpoint(m) {
    padding: $rpl-form-element-padding-m;
  }

  &:focus {
    border-color: $rpl-form-element-border-color-focus;
  }
}

@mixin rpl_from_element_error {
  border-color: rpl-color('danger');
  background-color: $rpl-danger-bg-color;
}

@mixin rpl_radio_button {
  @supports (-webkit-appearance: none) or (-moz-appearance: none) { // sass-lint:disable-line no-vendor-prefixes
    -moz-appearance: none; // sass-lint:disable-line no-vendor-prefixes
    -webkit-appearance: none; // sass-lint:disable-line no-vendor-prefixes
    outline: 0; // outline disabled to mimic native radio
    border-radius: 100%;
    background-color: rpl-color('light_neutral');
    border: solid 1px $rpl-form-radio-border-color;
    box-shadow: $rpl-form-shadow;
    width: $rpl-form-radio-size-s;
    height: $rpl-form-radio-size-s;

    @include rpl_breakpoint(s) {
      width: $rpl-form-radio-size;
      height: $rpl-form-radio-size;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    &::before {
      content: '';
      display: block;
      width: calc(#{$rpl-form-radio-dot-size} + 1px);
      height: calc(#{$rpl-form-radio-dot-size} + 1px);
      border-radius: 50%;
      transition: $rpl-form-radio-checked-transition;
    }

    &:checked {
      border: solid 1px rpl-color('secondary');

      &::before {
        background-color: rpl-color('secondary');
      }
    }

    &:focus {
      border: solid 3px rpl-color('primary'); // Stronger border for accessibility.
    }
  }
}
