@import '@dpc-sdp/ripple-ui-core/style/breakpoints';

.rpl-search-banner {
  position: relative;
  background-color: var(--rpl-clr-neutral-100);
  border-bottom: var(--rpl-border-1) solid var(--rpl-clr-neutral-300);

  .rpl-grid {
    row-gap: 0;
  }
}

.rpl-search-banner__search {
  padding-block: var(--rpl-sp-5) var(--rpl-sp-7);

  @media (--rpl-bp-m) {
    padding-block: var(--rpl-sp-8) var(--rpl-sp-9);
  }

  @media (--rpl-bp-l) {
    padding-block: var(--rpl-sp-10) var(--rpl-sp-11);
  }
}

.rpl-search-banner--image .rpl-search-banner__search .rpl-container {
  @media (--rpl-bp-m) {
    padding-right: var(--rpl-sp-6);
  }

  @media (--rpl-bp-xl) {
    padding-right: var(--rpl-sp-7);
  }
}

.rpl-search-banner__search-inner {
  margin-bottom: var(--rpl-sp-6);
  max-width: var(--rpl-content-max-width);
}

.rpl-search-banner__media {
  --local-media-height: 137px;
  --local-media-offset: 0;
  --local-media-width: 100%;
  --local-media-columns: calc((5 / 12) * 100%);

  width: calc(var(--local-media-width) - var(--local-media-offset));
  min-height: var(--local-search-banner-media-height);

  @media (--rpl-bp-s) {
    --local-search-banner-media-height: 246px;
  }

  @media (--rpl-bp-m) {
    --local-media-offset: var(--rpl-sp-2);
    --local-media-width: var(--local-media-columns);

    position: absolute;
    right: 0;
    height: 100%;
    min-height: auto;
  }

  @media (--rpl-bp-l) {
    --local-media-offset: var(--rpl-sp-1);
  }

  @media (--rpl-bp-xl) {
    /* magic number: offset is equal to one column taking into account the cell spacing, this means the image starts at col 8 */
    --local-media-offset: 103px;
    --local-media-width: 50%;
  }
}

.rpl-search-banner__image {
  width: 100%;
}
