@import '@dpc-sdp/ripple-ui-core/style/breakpoints';

.rpl-breadcrumbs {
  --local-horizontal-offset: var(--rpl-sp-3);

  background-color: var(--rpl-clr-light);
  border: var(--rpl-border-1) solid var(--rpl-clr-neutral-200);
  border-radius: var(--rpl-border-radius-2);
  box-shadow: var(--rpl-elevation-1);
  display: inline-block;
  margin-left: var(--local-horizontal-offset);
  padding-top: calc(var(--rpl-sp-3) - var(--rpl-border-1));
  padding-right: calc(var(--rpl-sp-4) - var(--rpl-border-1));
  padding-bottom: calc(var(--rpl-sp-3) - var(--rpl-border-1));
  padding-left: calc(var(--rpl-sp-4) - var(--rpl-border-1));
  max-width: calc(100% - var(--local-horizontal-offset) * 2);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  @media (--rpl-bp-m) {
    --local-horizontal-offset: var(--rpl-sp-4);

    padding-right: calc(var(--rpl-sp-5) - var(--rpl-border-1));
    padding-left: calc(var(--rpl-sp-5) - var(--rpl-border-1));
    height: auto;
    overflow: visible;
    white-space: normal;
  }

  &__items {
    display: inline; /* This needs to be inline for text-overflow:ellipsis to work */

    @media (--rpl-bp-m) {
      display: block;
      margin: calc(0px - var(--rpl-sp-2)) 0 0 0; /* Offset item top padding */
    }
  }

  &__item {
    display: none;

    &--parent {
      display: inline;

      &::before {
        content: '<';
        padding: 0 var(--rpl-sp-2) 0 0;
      }
    }

    @media (--rpl-bp-m) {
      display: inline;
      float: left;
      padding: var(--rpl-sp-2) 0 0 0;

      &::before {
        display: none;
      }

      &::after {
        content: '>';
        display: inline;
        padding: 0 var(--rpl-sp-2);
      }

      &:last-child::after {
        display: none;
      }
    }
  }

  &__item-link {
    display: inline;

    &,
    &:visited {
      color: var(--rpl-clr-link);
    }

    &:active {
      color: var(--rpl-clr-type-default);
    }
  }

  &--beside-exit {
    --local-width-spacer: 124px;

    max-width: calc(
      100% - var(--local-horizontal-offset) * 3 - var(--local-width-spacer)
    );
  }
}

.rpl-breadcrumbs__collapse-link::before {
  content: '>';
  display: inline;
  padding: 0 var(--rpl-sp-2);
}

.rpl-breadcrumbs__collapse-link-trigger:hover {
  text-decoration: underline;
}

.rpl-breadcrumbs__item--collapsed {
  display: none;
}
