@import '@dpc-sdp/ripple-ui-core/style/breakpoints';

.rpl-form-autocomplete {
  --local-autocomplete-border-width: var(--rpl-border-2);
  --local-autocomplete-border-color: var(--rpl-clr-neutral-600);
  --local-autocomplete-clr-bg: var(--rpl-clr-neutral-100);
  --local-autocomplete-clr-bottom-bar: var(--rpl-clr-neutral-600);
  --local-autocomplete-clr-border-active: var(--rpl-clr-dark);
  --local-autocomplete-clr-submit: var(--rpl-clr-link);
  --local-autocomplete-clr-icon: var(--rpl-clr-link);
  --local-autocomplete-clr-input-text: var(--rpl-clr-type-default);
  --local-autocomplete-clr-placeholder: var(--rpl-clr-neutral-600);
  --local-autocomplete-suggestion-height: 48px;
  --local-autocomplete-suggestion-odd: transparent;
  --local-autocomplete-suggestion-even: var(--rpl-clr-neutral-100);
  --local-autocomplete-block-padding: var(--rpl-sp-3);
  --local-autocomplete-inline-padding: var(--rpl-sp-4);
}

.rpl-form-autocomplete--reverse {
  --local-autocomplete-clr-bg: var(--rpl-clr-light);
  --local-autocomplete-suggestion-odd: var(--rpl-clr-neutral-100);
  --local-autocomplete-suggestion-even: transparent;
}

.rpl-form-autocomplete--menu {
  --local-autocomplete-clr-bg: transparent;
  --local-autocomplete-clr-bottom-bar: var(
    --rpl-clr-type-primary-contrast-alpha
  );
  --local-autocomplete-clr-border-active: var(--rpl-clr-type-primary-contrast);
  --local-autocomplete-clr-submit: var(--rpl-clr-type-primary-contrast);
  --local-autocomplete-clr-icon: var(--rpl-clr-type-primary-contrast);
  --local-autocomplete-clr-input-text: var(--rpl-clr-type-primary-contrast);
  --local-autocomplete-clr-placeholder: var(
    --rpl-clr-type-primary-contrast-alpha
  );
}

.rpl-form-autocomplete__inner {
  position: relative;
  display: flex;
  gap: var(--rpl-sp-4);
  outline: 0;
  width: 100%;
  height: 100%;
  border: var(--rpl-border-1) solid var(--local-autocomplete-border-color);
  border-radius: var(--rpl-border-radius-2);
  background: var(--local-autocomplete-clr-bg);

  &:hover,
  &:focus,
  &.rpl-u-focusable--force-on {
    --local-autocomplete-border-color: var(--rpl-clr-dark);
  }

  &:focus,
  &.rpl-u-focusable--force-on {
    border-radius: 0;
  }

  .rpl-form-autocomplete--disabled & {
    --local-autocomplete-clr-placeholder: var(--rpl-clr-neutral-300);
    --local-autocomplete-clr-input-text: var(--rpl-clr-neutral-300);
    --local-autocomplete-border-color: var(--rpl-clr-neutral-200);

    cursor: not-allowed;

    .rpl-form-autocomplete__icon {
      color: var(--rpl-clr-neutral-300);
    }
  }
}

.rpl-form-autocomplete__input-wrap {
  flex-grow: 1;
  display: flex;
}

.rpl-form-autocomplete__input,
.rpl-form-autocomplete__menu {
  /* rpl-type-p */
  font-size: var(--rpl-type-size-2);
  line-height: var(--rpl-type-lh-4);
  letter-spacing: var(--rpl-type-ls-1);

  .rpl-form-autocomplete--menu & {
    /* rpl-type-p-large */
    font-size: var(--rpl-type-size-3);
    line-height: var(--rpl-type-lh-5);
    letter-spacing: var(--rpl-type-ls-2);

    @media (--rpl-bp-l) {
      font-size: var(--rpl-type-size-4);
      line-height: var(--rpl-type-lh-6);
      letter-spacing: var(--rpl-type-ls-4);
    }
  }
}

/* stylelint-disable-next-line no-descending-specificity */
.rpl-form-autocomplete__input {
  padding-block: var(--local-autocomplete-block-padding);
  padding-inline: var(--local-autocomplete-inline-padding) 0;
  border-radius: 0;
  background-color: transparent;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-appearance: none;
  width: 100%;
  color: var(--local-autocomplete-clr-input-text);
  outline: none;
  border: none;

  &::placeholder {
    color: var(--local-autocomplete-clr-placeholder);
  }

  /* Remove browser cross button */
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    appearance: none;
  }

  .rpl-form-autocomplete--icon-left & {
    padding-left: calc(
      var(--local-autocomplete-inline-padding) + var(--rpl-sp-4) +
        var(--rpl-sp-2) /* default padding plus icon width plus icon margin */
    );
  }
}

.rpl-form-autocomplete__icon--left {
  color: var(--local-autocomplete-clr-icon);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: var(--local-autocomplete-inline-padding);
  pointer-events: none;
  cursor: text;
}

/* stylelint-disable-next-line no-descending-specificity */
.rpl-form-autocomplete__menu {
  z-index: var(--rpl-layer-2);
  border: var(--rpl-border-2) solid var(--rpl-clr-dark);
  background: var(--rpl-clr-light);
  max-height: calc(
    var(--local-max-items) * var(--local-autocomplete-suggestion-height) +
      var(--rpl-border-2) + var(--rpl-border-2)
  );
  overflow-y: auto;
  scroll-behavior: auto;
  position: absolute;
  top: calc(100% - var(--local-autocomplete-border-width));
  left: 0;
  right: 0;
}

.rpl-form-autocomplete__menu-option {
  display: flex;
  align-items: center;
  padding: var(--rpl-sp-3);
  background: var(--local-autocomplete-suggestion-odd);

  @media (--rpl-bp-m) {
    padding-left: var(--rpl-sp-4);
    padding-right: var(--rpl-sp-4);
  }

  &:nth-child(2n) {
    background: var(--local-autocomplete-suggestion-even);
  }

  &:hover,
  &:active {
    background: var(--rpl-clr-neutral-300);
  }
}

.rpl-form-autocomplete__menu-noresults {
  display: flex;
  align-items: center;
  padding: var(--rpl-sp-3);

  @media (--rpl-bp-m) {
    padding-left: var(--rpl-sp-4);
    padding-right: var(--rpl-sp-4);
  }
}

.rpl-form-autocomplete__clear {
  position: absolute;
  top: 50%;
  right: var(--rpl-sp-4);
  transform: translateY(-50%);
  display: flex;
  pointer-events: initial;
  color: var(--rpl-clr-error);

  .rpl-form-autocomplete--menu & {
    color: var(--rpl-clr-type-primary-contrast);
  }
}
