// Vic.gov.au site theming variables
// Overwrites values in Ripple
@import '~@dpc-sdp/ripple-global/scss/settings/functions';
@import './../tide/modules/example-subtheme/theme.scss';

// Example for theming
// Let's use Vue.js branding color in our example.
$rpl-colors: (
  'primary': #4ec08d,
  'dark_primary': #40b883,
  'secondary': #35495e,
  'extra_dark_neutral': #475050,
  'dark_neutral': #f6f6f6,
  'mid_neutral_1': #d7dbe0,
  'mid_neutral_2': #e8ebee,
  'light_neutral': #f6f6f9,
  'danger': #a50034,
  'warning': #e35205,
  'success': #009ca6,
  'white': #fff,
  'black': #000
);

