// The scss files are organized by following ITCSS to make it scalable and maintainable.
// https://www.xfive.co/blog/itcss-scalable-maintainable-css-architecture/

// SETTINGS
@import './scss/settings';

// TOOLS
@import './scss/tools';


// GENERIC
@import './scss/generic/normalize';
@import './scss/generic/global';

// ELEMENTS
@import './scss/elements/font';


// OBJECTS
@import './scss/objects/grid';
@import './scss/objects/layout';

// COMPONENTS
@import './scss/components/button';
@import './scss/components/table';

// UTILITIES
@import './scss/utilities/transition';
@import './scss/utilities/constrain';
@import './scss/utilities/visibility';
