.rpl-form-validation-error {
  color: var(--rpl-clr-error);
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--rpl-sp-4);

  .rpl-icon {
    margin-right: var(--rpl-sp-2);
    margin-top: 3px;
  }
}
