.rpl-form-validation-error {
  color: var(--rpl-clr-error);
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--rpl-sp-4);

  .rpl-icon {
    margin-right: var(--rpl-sp-2);
    margin-top: var(--rpl-sp-1);
  }

  .rpl-form-help + &,
  .rpl-form-label + & {
    margin-top: calc(var(--rpl-sp-1) * -1);
  }
}
