@import '@dpc-sdp/ripple-ui-core/style/breakpoints';

.rpl-map-legend {
}

.rpl-map-legend__toggle {
  display: flex;
  column-gap: var(--rpl-sp-2);
  color: var(--rpl-clr-link);
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.rpl-map-legend__toggle-icon {
  transition: transform var(--rpl-motion-speed-7) linear;

  .rpl-map-legend--expanded & {
    transform: rotate(-180deg);
  }
}

.rpl-map-legend__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  column-gap: var(--rpl-sp-6);
  row-gap: var(--rpl-sp-2);
  margin-top: var(--rpl-sp-4);

  @media (--rpl-bp-m) {
    flex-direction: row;
  }
}

.rpl-map-legend-item {
  display: flex;
  align-items: center;
  gap: var(--rpl-sp-2);
}
