@import '@dpc-sdp/ripple-ui-core/style/breakpoints';

.rpl-page-component {
  margin-top: var(--rpl-sp-8);
  margin-bottom: var(--rpl-sp-8);

  @media (--rpl-bp-xl) {
    margin-top: var(--rpl-sp-9);
    margin-bottom: var(--rpl-sp-9);
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
