@import '@dpc-sdp/ripple-ui-core/style/breakpoints';

.rpl-layout-card-grid {
  display: grid;
  align-items: stretch;
  gap: var(--rpl-sp-4);
  margin: 0;
  padding: 0;

  @media (--rpl-bp-m) {
    gap: var(--rpl-sp-6);
  }

  @media (--rpl-bp-xl) {
    gap: var(--rpl-sp-7);
  }

  /* Columns when there is no sidebar */
  grid-template-columns: 1fr;
  @media (--rpl-bp-m) {
    grid-template-columns: 1fr 1fr;
  }
  @media (--rpl-bp-l) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  /* Remove spacing for page components as the grid gap will handle it */
  .rpl-page-component {
    display: grid;
    margin-top: 0;
    margin-bottom: 0;

    @media (--rpl-bp-xl) {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.rpl-layout-card-grid--has-sidebar {
  /* Columns when there is a sidebar */
  grid-template-columns: 1fr;
  @media (--rpl-bp-xl) {
    grid-template-columns: 1fr 1fr;
  }
}
