@import '@dpc-sdp/ripple-ui-core/style/breakpoints';

.rpl-layout {
  background-color: var(--rpl-clr-neutral-0);
}

.rpl-layout__body-wrap {
  padding-top: var(--rpl-sp-8);
  padding-bottom: var(--rpl-sp-8);

  @media (--rpl-bp-m) {
    padding-top: var(--rpl-sp-10);
    padding-bottom: var(--rpl-sp-10);
  }

  @media (--rpl-bp-l) {
    padding-top: var(--rpl-sp-12);
    padding-bottom: var(--rpl-sp-12);
  }

  @media (--rpl-bp-xl) {
    padding-top: var(--rpl-sp-13);
    padding-bottom: var(--rpl-sp-13);
  }
}

.rpl-layout__body {
  @media print {
    display: block;
  }
}

.rpl-layout__sidebar--left {
  padding-bottom: var(--rpl-sp-8);

  @media (--rpl-bp-m) {
    padding-bottom: 0;
  }
}

.rpl-layout__sidebar--right {
  padding-top: var(--rpl-sp-8);

  @media (--rpl-bp-m) {
    padding-top: 0;
  }
}

.rpl-layout--alt .rpl-layout__body-wrap {
    background-color: var(--rpl-clr-neutral-100);

    @media (prefers-contrast: more) {
      background-color: var(--rpl-clr-neutral-0);
    }
}

.rpl-layout__header {
  z-index: var(--rpl-layer-4);
  position: relative;
}

.rpl-layout__container {
  position: relative;
}

.rpl-back-to-top {
  button {
    position: sticky;
    right: 0;
    bottom: 0;
  }
}
