.rpl-skip-link {
  display: block;
  padding: var(--rpl-sp-4) var(--rpl-sp-5);
  line-height: 1;

  &:not(:focus) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}
