/* stylelint-disable comment-empty-line-before */
@import '@dpc-sdp/ripple-ui-core/style/breakpoints';

.rpl-primary-nav {
  --local-nav-bar-height-xs: 48px;
  --local-nav-bar-height-s: 52px;
  --local-nav-bar-height-m: 60px;

  margin: var(--rpl-sp-3);
  height: var(--local-nav-bar-height-xs);
  color: var(--rpl-clr-type-primary-contrast);
  background-color: var(--rpl-clr-primary);
  border-radius: var(--rpl-border-radius-2);
  transition: height var(--rpl-motion-speed-6) ease-in;

  @media (--rpl-bp-s) {
    height: var(--local-nav-bar-height-s);
  }

  @media (--rpl-bp-m) {
    margin: var(--rpl-sp-4);
    height: var(--local-nav-bar-height-m);
  }

  &.rpl-primary-nav--expanded {
    background-color: var(--rpl-clr-primary-alt);
    /* 100vh - top and bottom margin */
    height: calc(100vh - (var(--rpl-sp-3) * 2));
    transition-timing-function: ease-out;

    @media (--rpl-bp-m) {
      /* 100vh - top and bottom margin */
      height: calc(100vh - (var(--rpl-sp-4) * 2));
    }
  }
}

.rpl-primary-nav__nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logos */
.rpl-primary-nav__logos {
  display: flex;
  align-items: center;
  padding-top: var(--rpl-sp-2);
  padding-right: var(--rpl-sp-6);
  padding-bottom: var(--rpl-sp-2);
  padding-left: var(--rpl-sp-4);

  @media (--rpl-bp-s) {
    padding-top: var(--rpl-sp-3);
    padding-bottom: var(--rpl-sp-3);
    padding-left: var(--rpl-sp-5);
  }
}

.rpl-primary-nav__primary-logo-link {
  .rpl-primary-nav__logos--has-secondary-logo & {
    display: none;

    @media (--rpl-bp-s) {
      display: block;
    }
  }
}

.rpl-primary-nav__primary-logo-image {
  display: block;
  width: 106px;
  height: 16px;
}

.rpl-primary-nav__logo-divider {
  display: none;
  border-left: solid 1px var(--rpl-clr-type-primary-contrast);
  height: var(--rpl-sp-4);
  margin: 0 var(--rpl-sp-4);

  @media (--rpl-bp-s) {
    display: block;
  }
}

.rpl-primary-nav__secondary-logo-image {
  display: block;
  max-width: 126px;
  max-height: 36px;

  @media (--rpl-bp-m) {
    max-width: 140px;
    max-height: 40px;
  }
}

/* Nav bar */
.rpl-primary-nav__nav-bar-actions-list {
  display: flex;
  padding-right: var(--rpl-sp-4);

  @media (--rpl-bp-s) {
    padding-right: var(--rpl-sp-5);
  }

  &.rpl-primary-nav__nav-bar-actions-list--mobile {
    @media (--rpl-bp-l) {
      display: none;
    }
  }

  &.rpl-primary-nav__nav-bar-actions-list--desktop {
    display: none;

    @media (--rpl-bp-l) {
      display: flex;
    }
  }
}

.rpl-primary-nav__nav-bar-action {
  display: flex;
  align-items: center;
  max-width: 172px;
  height: 48px;
  padding: var(--rpl-sp-2) 10px;
  color: white;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;

  @media (--rpl-bp-s) {
    height: 52px;
  }

  @media (--rpl-bp-m) {
    height: 60px;
  }

  span {
    white-space: normal;
  }

  &.rpl-primary-nav__nav-bar-action--active {
    text-decoration: underline;
  }
}

.rpl-primary-nav__nav-bar-icon {
  display: inline-block;
  transform: translateY(1px);
  transition: transform var(--rpl-motion-speed-6) linear;

  &.rpl-primary-nav__nav-bar-icon--large {
    margin-top: -4px;
    transform: translateY(3px);
  }

  &.rpl-primary-nav__nav-bar-icon--mobile-search {
    @media (--rpl-bp-s) {
      margin-left: var(--rpl-sp-2);
    }
  }

  .rpl-primary-nav__nav-bar-action--active & {
    transform: rotate(180deg);
  }

  span {
    display: block;
  }
}

.rpl-primary-nav__nav-bar-search-divider {
  border-left: solid 1px var(--rpl-clr-type-primary-contrast);
  height: var(--rpl-sp-4);
  margin: var(--rpl-sp-4) 0;

  @media (--rpl-bp-s) {
    display: none;
  }
}

.rpl-primary-nav__nav-bar-mobile-search-label {
  display: none;

  @media (--rpl-bp-s) {
    display: inline;
  }
}

/* Mega menu */
.rpl-primary-nav__mega-menu {
  width: 100%;
  max-width: calc(400px + (var(--rpl-sp-4) * 2));
  max-height: calc(100% - var(--local-nav-bar-height-xs) - var(--rpl-sp-8));
  margin: 0 auto;
  overflow-y: auto;
  padding-top: var(--rpl-sp-4);
  padding-right: var(--rpl-sp-4);
  padding-bottom: var(--rpl-sp-8);
  padding-left: var(--rpl-sp-4);

  @media (--rpl-bp-s) {
    max-width: calc(400px + (var(--rpl-sp-5) * 2));
    max-height: calc(100% - var(--local-nav-bar-height-s) - var(--rpl-sp-8));
    padding-right: var(--rpl-sp-5);
    padding-left: var(--rpl-sp-5);
  }

  @media (--rpl-bp-m) {
    max-height: calc(100% - var(--local-nav-bar-height-m) - var(--rpl-sp-8));
  }

  @media (--rpl-bp-l) {
    max-width: none;
    max-height: calc(100% - var(--local-nav-bar-height-m) - var(--rpl-sp-9));
    padding-top: var(--rpl-sp-7);
    padding-right: var(--rpl-sp-10);
    padding-bottom: var(--rpl-sp-9);
    padding-left: var(--rpl-sp-10);
  }

  @media (--rpl-bp-xl) {
    padding-right: var(--rpl-sp-11);
    padding-left: var(--rpl-sp-11);
  }
}

.rpl-primary-nav__mega-menu-section-title {
  padding: 0 var(--rpl-sp-2);
}

.rpl-primary-nav__mega-menu-list {
  display: none;

  @media (--rpl-bp-l) {
    display: grid;
  }

  /* Hide the level 1 mega menu list on desktop because the nav bar will show
  it instead */
  &.rpl-primary-nav__mega-menu-list--level-1 {
    @media (--rpl-bp-l) {
      display: none;
    }
  }

  .rpl-primary-nav__mega-menu--current-level-1
    &.rpl-primary-nav__mega-menu-list--level-1 {
    display: grid;
  }

  .rpl-primary-nav__mega-menu--current-level-2
    &.rpl-primary-nav__mega-menu-list--level-2 {
    display: grid;
  }

  .rpl-primary-nav__mega-menu--current-level-3
    &.rpl-primary-nav__mega-menu-list--level-3 {
    display: grid;
  }

  .rpl-primary-nav__mega-menu--current-level-4
    &.rpl-primary-nav__mega-menu-list--level-4 {
    display: grid;
  }
}

.rpl-primary-nav__mega-menu-action {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: var(--rpl-sp-4) var(--rpl-sp-2);
  text-align: left;
  text-decoration: none;
  color: white;
  border-bottom: 1px solid var(--rpl-clr-primary);
  cursor: pointer;

  &:hover,
  &:active,
  &.rpl-primary-nav__mega-menu-action--active {
    background-color: var(--rpl-clr-primary-alpha);
  }

  &.rpl-primary-nav__mega-menu-action--home {
    justify-content: flex-start;
    align-items: center;
    font-weight: var(--rpl-type-weight-bold);
  }
}

.rpl-primary-nav__mega-menu-action-icon {
  transform: translateY(2px);
}
