@import '@dpc-sdp/ripple-ui-core/style/breakpoints';

.rpl-primary-nav {
  --local-nav-bar-height: 48px;

  position: relative;
  width: 100%;
  height: calc(var(--local-nav-bar-height) + var(--rpl-sp-3));
  padding: var(--rpl-sp-3);

  @media (--rpl-bp-s) {
    --local-nav-bar-height: 52px;
  }

  @media (--rpl-bp-m) {
    --local-nav-bar-height: 60px;

    height: calc(var(--local-nav-bar-height) + var(--rpl-sp-4));
    padding: var(--rpl-sp-4);
  }
}

.rpl-viewport-locked {
  height: 100vh;
  overflow: hidden;
}
