/* stylelint-disable comment-empty-line-before */
@import '@dpc-sdp/ripple-ui-core/style/breakpoints';

.rpl-primary-nav {
  --local-nav-bar-height: 48px;

  position: relative;
  width: 100%;
  height: calc(var(--local-nav-bar-height) + var(--rpl-sp-3));
  padding: var(--rpl-sp-3);

  @media (--rpl-bp-s) {
    --local-nav-bar-height: 52px;
  }

  @media (--rpl-bp-m) {
    --local-nav-bar-height: 60px;

    height: calc(var(--local-nav-bar-height) + var(--rpl-sp-4));
    padding: var(--rpl-sp-4);
  }
}

.rpl-primary-nav__inner {
  --local-nav-bar-height: 48px;

  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - var(--rpl-sp-3) * 2);
  height: var(--local-nav-bar-height);
  margin: var(--rpl-sp-3);
  color: var(--rpl-clr-type-primary-contrast);
  background-color: var(--rpl-clr-primary);
  border-radius: var(--rpl-border-radius-2);
  overflow: hidden;

  @media (--rpl-bp-s) {
    --local-nav-bar-height: 52px;
  }

  @media (--rpl-bp-m) {
    --local-nav-bar-height: 60px;

    width: calc(100% - var(--rpl-sp-4) * 2);
    margin: var(--rpl-sp-4);
  }

  .rpl-primary-nav--hidden & {
    display: none;
  }

  .rpl-primary-nav--expanded & {
    transition: height var(--rpl-motion-speed-6) ease-in,
      background-color var(--rpl-motion-speed-3) ease-in;
    background-color: var(--rpl-clr-primary-alt);
    /* 100vh - top and bottom margin */
    height: calc(100vh - (var(--rpl-sp-3) * 2));
    transition-timing-function: ease-out;

    @media (--rpl-bp-m) {
      /* 100vh - top and bottom margin */
      height: calc(100vh - (var(--rpl-sp-4) * 2));
    }
  }
}

.rpl-viewport-locked {
  height: 100vh;
  overflow: hidden;
}
