@import '@dpc-sdp/ripple-ui-core/style/breakpoints';

.rpl-primary-nav {
  margin: var(--rpl-sp-3);
  background-color: var(--rpl-clr-primary);
  color: var(--rpl-clr-type-primary-contrast);
  border-radius: var(--rpl-border-radius-2);

  @media (--rpl-bp-m) {
    margin: var(--rpl-sp-4);
  }
}

.rpl-primary-nav__nav-bar {
  display: flex;
  justify-content: space-between;
}

/* Logos */
.rpl-primary-nav__logos {
  display: flex;
  align-items: center;
  padding-top: var(--rpl-sp-2);
  padding-right: var(--rpl-sp-6);
  padding-bottom: var(--rpl-sp-2);
  padding-left: var(--rpl-sp-4);

  @media (--rpl-bp-s) {
    padding-top: var(--rpl-sp-3);
    padding-bottom: var(--rpl-sp-3);
    padding-left: var(--rpl-sp-5);
  }
}

.rpl-primary-nav__primary-logo-image {
  display: block;
  width: 106px;
  height: 16px;
}

.rpl-primary-nav__logo-divider {
  border-left: solid 1px var(--rpl-clr-type-primary-contrast);
  height: var(--rpl-sp-4);
  margin: 0 var(--rpl-sp-4);
}

.rpl-primary-nav__secondary-logo-image {
  display: block;
  max-width: 126px;
  max-height: 36px;

  @media (--rpl-bp-m) {
    max-width: 140px;
    max-height: 40px;
  }
}

/* Nav bar */
.rpl-primary-nav__nav-bar-actions-list {
  display: flex;
  padding-right: var(--rpl-sp-4);

  @media (--rpl-bp-s) {
    padding-right: var(--rpl-sp-5);
  }
}

.rpl-primary-nav__nav-bar-action {
  display: flex;
  align-items: center;
  max-width: 172px;
  height: 48px;
  padding: var(--rpl-sp-2) 10px;
  color: white;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;

  span {
    white-space: normal;
  }
}

.rpl-primary-nav__nav-bar-icon {
  display: inline-block;
  transform: translateY(1px);

  &.rpl-primary-nav__nav-bar-icon--large {
    transform: translateY(3px);
  }
}
