.rpl-form-label {
  display: inline-block;
  margin-bottom: var(--rpl-sp-4);
  vertical-align: middle;
}

.rpl-form-label__inner {
  margin-right: var(--rpl-sp-2);
}

.rpl-form-label__required {
  color: var(--rpl-clr-error);
  font-weight: var(--rpl-type-weight-regular);
  line-height: inherit;
}
