@mixin lang_font($font-family) {
  .rpl-hero-banner,
  .rpl-main {
    div,
    span,
    p {
      font-family: #{$font-family} !important;
      font-weight: 400;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: #{$font-family} !important;
      font-weight: 700;

      span {
        font-weight: 700;
      }
    }
  }

  .rpl-markup__inner b, 
  .rpl-markup__inner strong {
    font-family: #{$font-family} !important;
    font-weight: 700;
  }
}

// Generate css for each lang code
@each $lang, $font in $rpl-langs {
  .rpl-lang--#{$lang} {
    @include lang_font($font)
  }
}

// Adjust the line height for particular lang.
// We may need more specific for different viewport but not now.
.rpl-lang--ar,
.rpl-lang--fa,
.rpl-lang--cld {
  h1,
  h2,
  h3 {
    line-height: 1.4em;

    span {
      line-height: 1.4em;
    }
  }
}

.rpl-lang--ur,
.rpl-lang--bn,
.rpl-lang--ta,
.rpl-lang--my {
  div,
  span,
  p,
  .wysiwyg-callout {
    line-height: 2em;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.8em;

    span {
      line-height: 1.8em;
    }
  }
}

.rpl-lang--zh-Hans,
.rpl-lang--zh-Hant,
.rpl-lang--ja,
.rpl-lang--km,
.rpl-lang--ko,
.rpl-lang--mk,
.rpl-lang--ne,
.rpl-lang--pa,
.rpl-lang--si,
.rpl-lang--th,
.rpl-lang--kar {
  div,
  span,
  p,
  .wysiwyg-callout {
    line-height: 1.8em;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.5em;

    span {
      line-height: 1.5em;
    }
  }
}

.rpl-lang--bn,
.rpl-lang--el,
.rpl-lang--hi {
  h1 {
    line-height: 1.4em;

    span {
      line-height: 1.4em;
    }
  }
}
