/* 
    Theme variables & styles 
    ------------------------
    These can be overridden to control the colours of the theme.
    Due to limitations of not having control over the markup 
    some theme elements need to be manually styled.
*/
:root {
    --ripple-primary: #0052c2;
    --ripple-secondary: #0095ec;
    --ripple-danger: #af272f;
    --ripple-extra-dark-neutral: #011a3c;
    --ripple-mid-neutral-1: #d7dbe0;
    --ripple-light-neutral: #f6f6f9;
}

select {
   background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 -256 1792 1792'%3E%3Cg transform='matrix(1 0 0 -1 68.339 1133.6)'%3E%3Cpath fill='%230052C2' d='m1611 832q0-53-37-90l-651-651q-38-38-91-38-54 0-90 38l-651 651q-38 36-38 90 0 53 38 91l74 75q39 37 91 37 53 0 90-37l486-486 486 486q37 37 90 37 52 0 91-37l75-75q37-39 37-91z' /%3E%3C/g%3E%3C/svg%3E"); 
}

.datebutton {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 18' aria-hidden='true' overflow='visible' style='width: 18px; height: 18px;'%3E%3Cpath d='M2 16h14V5H2v11zM17 2h-2v-.99C15 .452 14.553 0 14 0c-.553 0-1 .452-1 1.01V2H5v-.99C5 .452 4.553 0 4 0c-.553 0-1 .452-1 1.01V2H1a1 1 0 00-1 1v14a1 1 0 001 1h16a1 1 0 001-1V3a1 1 0 00-1-1zm-7 12.021h4v-4h-4v4z' clip-rule='evenodd' fill-rule='evenodd' fill='%230052C2'%3E%3C/path%3E%3C/svg%3E");
}
/* End of theme variables */



/* Fonts */
@font-face {
    font-family: "VIC-Regular";
    src: url("https://raw.githubusercontent.com/dpc-sdp/ripple/master/packages/components/Atoms/Global/assets/fonts/VIC-Regular.woff2?raw=true") format('woff2'),
    url("https://raw.githubusercontent.com/dpc-sdp/ripple/master/packages/components/Atoms/Global/assets/fonts/VIC-Regular.woff?raw=true") format('woff');
}

@font-face {
    font-family: "VIC-Medium";
    src: url("https://raw.githubusercontent.com/dpc-sdp/ripple/master/packages/components/Atoms/Global/assets/fonts/VIC-Medium.woff2?raw=true") format('woff2'),
    url("https://raw.githubusercontent.com/dpc-sdp/ripple/master/packages/components/Atoms/Global/assets/fonts/VIC-Medium.woff?raw=true") format('woff');
}

@font-face {
    font-family: "VIC-Bold";
    src: url("https://raw.githubusercontent.com/dpc-sdp/ripple/master/packages/components/Atoms/Global/assets/fonts/VIC-Bold.woff2?raw=true") format('woff2'),
    url("https://raw.githubusercontent.com/dpc-sdp/ripple/master/packages/components/Atoms/Global/assets/fonts/VIC-Bold.woff?raw=true") format('woff');
}


/* Page level styles */
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: VIC-Regular,Arial,Helvetica,"sans-serif";
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    color: var(--ripple-extra-dark-neutral);
    margin: 0px;
}


/* Headings (h3 is the only available heading in the WYSIWYG) */
h3 {
    font-size: 1.5rem !important;
    line-height: 1.2em !important;
}


/* Text elements */
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 16px !important;
}

b,
strong {
    font-weight: bolder;
}


/* Links */
a {
    background-color: transparent;
    text-decoration: none !important;
    color: var(--ripple-primary) !important;
}

a:hover {
    text-decoration: underline !important;
}


/* Lists */
ul {
    list-style-type: disc;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    line-height: 1.5em !important;
}


/* Images */
img {
    border-style: none;
}


/* Elements */
.of-section-element {
    margin-top: 28px;
}


/* Fieldset and legend */
fieldset {

}

legend {
    box-sizing: border-box; /* 1 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
    margin-bottom: .75rem;
}

fieldset legend {
    font-family: VIC-Bold,Arial,Helvetica,"sans-serif";
    line-height: 1em;
    font-weight: 400;
    color: var(--ripple-extra-dark-neutral);
    float: none !important;
    margin: 0 0 10px 0 !important;
}

.of-element-description {
    margin-bottom: 10px;
}

.of-element-description p {
    margin: 0;
    font-size: 14px !important;
    line-height: 16px;
}


/* Sections */
.of-all-section-container {
    background-color: transparent;
}

/* Text inputs */
input[type='text'],
input[type='password'],
input[type='datetime'],
input[type='datetime-local'],
input[type='date'],
input[type='month'],
input[type='time'],
input[type='week'],
input[type='number'],
input[type='email'],
input[type='url'],
input[type='search'],
input[type='tel'],
input[type='color'],
input:not([type]),
textarea {
    font-family: VIC-Regular,Arial,Helvetica,"sans-serif";
    font-size: 14px !important;
    color: rgb(1, 26, 60) !important;
    background-color: var(--ripple-light-neutral) !important;
    border: 1px solid var(--ripple-mid-neutral-1) !important;
    border-radius: .25rem !important;
    box-sizing: border-box !important;
    color: var(--ripple-extra-dark-neutral) !important;
    padding: 1.05rem 1.25rem 1rem 1.25rem !important;
}

input[type="text"]:focus,
input[type='password']:focus,
input[type='datetime']:focus,
input[type='datetime-local']:focus,
input[type='date']:focus,
input[type='month']:focus,
input[type='time']:focus,
input[type='week']:focus,
input[type='number']:focus,
input[type='email']:focus,
input[type='url']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='color']:focus,
input:not([type]):focus,
textarea:focus {
    box-shadow: none !important;
    padding: 1rem 1.25rem !important;
    border-color: transparent !important;
    box-shadow: 0 0 0 2px var(--ripple-primary) !important;
}

@media screen and (min-width: 768px) {
    textarea {
        height: 4.6875rem !important;
    }
}


/* Radio & Checkbox combined styles */
input[type="checkbox"] + label,
input[type="radio"] + label {
    font-family: VIC-Regular,Arial,Helvetica,"sans-serif";
    font-size: 1rem !important;
    line-height: 1em;
    font-weight: 400;
}


/* Radio */
input[type="radio"]:checked + label:before {
    border: 1px solid var(--ripple-secondary);
}

input[type="radio"]:checked + label:after {
    border: 1px solid var(--ripple-secondary);
    background-color: var(--ripple-secondary);
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
}

input[type="radio"]:not(:checked) + label:before {
    border: 1px solid #5a5a5a;
}

input[type="radio"]:not(:checked) + label, [type="radio"]:checked + label {
    padding-left: 28px;
}

input[type="radio"]:focus + label:before {
    box-shadow: none;
    border-color: var(--ripple-primary);
}


/* Checkbox */
input[type="checkbox"] + label {
    padding-left: 30px;
}

input[type="checkbox"] + label:after {
    content: '';
    left: 0;
    position: absolute;
    top: -4px;
    z-index: 0;
    display: inline-block;
    border: 1px solid #546a7c;
    border-radius: .25rem;
    background-color: var(--ripple-light-neutral);
    width: 22px;
    height: 22px;
}

input[type="checkbox"]:checked + label:before {
    border-color: var(--ripple-primary) !important;
    height: 11px;
    top: -1px;
    left: 3px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.08);
}

input[type="checkbox"]:checked + label:after {
    background-color: #fff;
}

input[type="checkbox"]:focus + label:after {
    box-shadow: none;
    border: 1px solid var(--ripple-primary);
}


/* Date input */
.of-date-container {
    padding-right: 0;
}

button.datebutton {
    background-color: transparent;
    margin-left: -50px;
    width: 50px;
    height: 50px;
    border: 0 !important;
    /* SVG background image is styled at the top of this file */
    background-size: 16px;
    background-position: calc(100% - 16px) center;
    background-repeat: no-repeat;
}

.of-date-container .material-icons {
    /* Hide the default icon */
    display: none;
}


/* Tables */
table {
    line-height: 1.5em;
    font-size: 1rem !important;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    background-color: var(--ripple-light-neutral);
    border-bottom: 0;
}

table td {
    padding: 1rem !important;
}

table tr {
    border-bottom: 0 !important;
}

table [type="checkbox"]:checked + label:before {
    left: 1px;
}


/* Buttons */
button {
    font-size: 16px !important;
    border: 0 !important;
    border-radius: .25rem !important;
    box-shadow: 0 0 0 0 transparent !important;
}

button.of-colour-primary {
    font-family: VIC-Bold,Arial,Helvetica,"sans-serif" !important;
    font-weight: 400;
    color: #fff !important;
    background-color: var(--ripple-primary) !important;
}

button.of-colour-primary:hover {
    background-color: var(--ripple-secondary) !important;
}

button.of-colour-primary:focus {
    background-color: var(--ripple-secondary) !important;
    border: 0 !important;
    box-shadow: 0 0 0 2px #000 !important;
}

button.of-colour-secondary {
    font-family: VIC-Bold,Arial,Helvetica,"sans-serif" !important;
    font-weight: 400;
    color: #fff !important;
    background-color: var(--ripple-secondary) !important;
}

button.of-colour-secondary:hover {
    background-color: var(--ripple-primary) !important;
}


button.of-colour-secondary:focus {
    background-color: var(--ripple-primary) !important;
    border: 0 !important;
    box-shadow: 0 0 0 2px #000 !important;
}

button.of-colour-primary-border {
    opacity: 1 !important;
    color: #465870 !important;
    font-family: VIC-Bold,Arial,Helvetica,"sans-serif" !important;
    font-weight: 400 !important;
    border: 1px solid #465870 !important;
}

button .inner-border {
    border-color: transparent !important;
    opacity: 0;
}

.of-nav-btn {
    margin-bottom: 16px !important;
    min-height: 50px !important;
}

.of-nav-btn:active {
    margin-top: 0;
    margin-bottom: 5px;
}

.of-nav-btn .overlay {
    padding: 10px 20px;
}

.of-nav-prev {
    padding: 10px 20px;
}


/* Select dropdowns */
select {
    font-family: VIC-Regular,Arial,Helvetica,"sans-serif";
    appearance: none;
    background-color: var(--ripple-light-neutral) !important;
    border: 1px solid var(--ripple-mid-neutral-1) !important;
    border-radius: .25rem !important;
    padding: 1rem 1.25rem !important;
    height: 50px;
    /* needed */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* SVG background image is styled at the top of this file */
    background-size: 12px;
    background-position: calc(100% - 20px) center;
    background-repeat: no-repeat;
}

select option {
    padding: 1rem 0;
}

select:focus {
    padding: 1rem 1.25rem !important;
    border-color: transparent;
    box-shadow: 0 0 0 2px var(--ripple-primary) !important;
}

select option:hover {
    background-color: #488f8f;
}


/* Image and video */
.image-container,
.video-container {
    margin-top: 0.75rem;
}


/* Signature */
.of-signature-methods {
    margin-top: 0.75rem;
}

.of-signature-option .of-file-upload-button {
    margin-top: 0;
}


/* Navigation */
.of-display-navigation {
    margin-top: 24px;
}


/* Customised adjustments */
.of-form-container {
    margin: 0 auto;
    width: 100%;
    max-width: 606px;
    padding:  0 1px;
}

.of-display-body {
    background-color: transparent;
    box-shadow: 0px 0px 0px 0px transparent;
}

.of-display-body .of-sectionbox {
    padding: 24px 0;
}

.of-rank-item {
    margin-top: 0;
    margin-bottom: 12px;
}

button.use-current-location {
    color: #fff !important;
    background-color: var(--ripple-primary) !important;
    height: 47px;
}

button.use-current-location:hover {
    background-color: var(--ripple-secondary) !important;
}

button.use-current-location .material-icons {
    color: #fff;
}

button.of-file-upload-button,
button.of-file-upload-button:active {
    margin-bottom: 15px;
}

.of-section-element span.isrequired {
    background: none !important;
    font-size: 14px;
    color: var(--ripple-danger);
    font-weight: normal;
    margin: 0;
    font-family: VIC-Regular,Arial,Helvetica,"sans-serif";
    line-height: 16px;
}

span.of-validation-error,
li.of-validation-error {
    font-family: VIC-Medium,Arial,Helvetica,"sans-serif";
    font-size: 14px !important;
    line-height: 14px !important;
    color: var(--ripple-danger);
}

.of-validation-error[for]:not([for=""]) {
    margin-top: 16px;
}

.of-section-element label{
    font-size: 16px;
    line-height: 1em;
    font-weight: normal;
}

.of-section-element span.isrequired:before {
    content: '(';
}

.of-section-element span.isrequired:after {
    content: ')';
}

fieldset .of-checkable-item:last-of-type {
    margin-bottom: 0;
}

/* to make it look like Ripple form */
.of-colour-primary {
    color: var(--ripple-primary);
}

.of-colour-secondary {
    color: var(--ripple-secondary);
}

.of-section-element label {
    font-family: VIC-Bold,Arial,Helvetica,"sans-serif";
    line-height: 1em;
    font-weight: 400;
    margin-bottom: 12px !important;
    display: inline-block;
    color: var(--ripple-extra-dark-neutral);
}

.of-checkable-item label {
    font-family: inherit;
    font-weight: normal;
}

.of-section-element label.rank-label {
    font-family: inherit;
    font-weight: normal;
    padding-top: 1.5rem;
}

.tablesaw-wrapper .tablesaw-cell-label {
    font-weight: bold;
}

.tablesaw-wrapper .tablesaw-cell-content {
    font-weight: bold;
}

.use-location-container .use-current-location {
    background-color: var(--ripple-secondary) !important;
}

.use-location-container .use-current-location:hover {
    background-color: var(--ripple-primary) !important;
}
