.rpl-form-opt-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0;
  margin-top: var(--rpl-border-1);
  margin-left: var(--rpl-border-1);
  color: var(--rpl-clr-type-default);
}

.rpl-form-opt-buttons--squares {
  .rpl-form-opt-buttons-option__label {
    width: calc(var(--rpl-sp-4) * 3);
  }
}

.rpl-form-opt-buttons-option {
  display: grid;

  input {
    appearance: none;
  }
}

.rpl-form-opt-buttons-option__label {
  display: flex;
  background: var(--rpl-clr-light);
  margin-top: calc(var(--rpl-border-1) * -1);
  margin-left: calc(var(--rpl-border-1) * -1);
  padding: calc(var(--rpl-sp-4) - var(--rpl-border-1)) var(--rpl-sp-4);
  border: var(--rpl-border-1) solid var(--rpl-clr-neutral-600);
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;
  cursor: pointer;
}

.rpl-form-opt-buttons-option__input:hover
  + .rpl-form-opt-buttons-option__label {
  border-color: var(--rpl-clr-dark);
  text-decoration: underline;
}

.rpl-form-opt-buttons-option__input:checked
  + .rpl-form-opt-buttons-option__label {
  box-shadow: 0 0 0 var(--rpl-border-1) var(--rpl-clr-dark) inset;
  font-weight: bold;
  opacity: 1;
}

.rpl-form-opt-buttons-option__input:focus
  + .rpl-form-opt-buttons-option__label {
  border-radius: 0;

  box-shadow: 0 0 0 var(--rpl-border-1) var(--rpl-clr-dark) inset,
    0 0 0 var(--rpl-border-3) var(--rpl-clr-focus);
  z-index: 1;
}

.rpl-form-opt-buttons-option__input:disabled
  + .rpl-form-opt-buttons-option__label {
  opacity: 0.2;
  cursor: not-allowed;
}
