/* VIC Regular */
@font-face {
  font-family: VIC;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/assets/fonts/VIC-Regular.woff2') format('woff2'),
    url('/assets/fonts/VIC-Regular.woff') format('woff');
}

/* VIC Regular - Italic */
@font-face {
  font-family: VIC;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('/assets/fonts/VIC-RegularItalic.woff2') format('woff2'),
    url('/assets/fonts/VIC-RegularItalic.woff') format('woff');
}

/* VIC Bold */
@font-face {
  font-family: VIC;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/assets/fonts/VIC-Bold.woff2') format('woff2'),
    url('/assets/fonts/VIC-Bold.woff') format('woff');
}

/* VIC Bold - Italic */
@font-face {
  font-family: VIC;
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('/assets/fonts/VIC-BoldItalic.woff2') format('woff2'),
    url('/assets/fonts/VIC-BoldItalic.woff') format('woff');
}
