/*
  1. Reset rem unit to 1rem = 10px
*/
html {
  font-family: var(--rpl-type-font-family);
  font-size: 62.5%; /* [1] */
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol {
  margin-block-start: 0;
  margin-block-end: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* https://gist.github.com/MoOx/9137295 */
button {
  outline: 0;
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  /* Focusable elements should use focus utility class */
  &:focus:not(:focus-visible) {
    outline: none;
  }
}
