/* Vendor imports */
@import 'normalize.css';

/* Variables */
@import 'generated/_vars.css';

/* Breakpoints */
@import '_breakpoints.css';

/* Utilities */
@import 'utilities/_accessibility.css';
@import 'utilities/_container.css';
@import 'utilities/_focus.css';
@import 'generated/_grid.css';
@import 'utilities/_lists.css';
@import 'generated/_margin.css';
@import 'generated/_padding.css';
@import 'generated/_size.css';
@import 'utilities/_typography.css';
@import 'utilities/_aspect.css';
@import 'utilities/_print.css';
@import 'utilities/_languages.css';

/* Global styles */
@import '_fonts.css';
@import '_reset.css';

/* CSS only Components */
@import 'components/_blockquote.css';
@import 'components/_callout.css';
@import 'components/_document.css';
@import 'components/_embed.css';
@import 'components/_file.css';
@import 'components/_img.css';
@import 'components/_table.css';
@import 'components/_iframe.css';
