$rpl-breakpoints: (
  'xxxl': 2560px,
  'xxl': 1600px,
  'xl': 1200px,
  'l': 992px,
  'm': 768px,
  's': 576px,
  'xs': 0,
) !default;

@mixin rpl_breakpoint($break) {
  $breakpoint-value: map-get($rpl-breakpoints, $break);
  @if $breakpoint-value == null {
    @error '"#{$break}" is not an available breakpoint. (#{map-keys($rpl-breakpoints)})';
  }
  @media (min-width: $breakpoint-value) {
    @content;
  }
}

@mixin rpl_breakpoint_down($break) {
  $breakpoint-value: map-get($rpl-breakpoints, $break);
  @if $breakpoint-value == null {
    @error '"#{$break}" is not an available breakpoint. (#{map-keys($rpl-breakpoints)})';
  }
  @media (max-width: $breakpoint-value - 1) {
    @content;
  }
}
