$color-black: #000;
$color-dark-grey: #6e6e6e;
$color-mid-grey: #d8d8d8;
$color-light-grey: #ececea;
$color-white: #fff;
$color-red-lipstick: #df3245;

// Brand color
$primary-color: $color-red-lipstick !default;
$secondary-color: $color-black !default;
$tertiary-color: $color-dark-grey !default;
