@mixin rpl_typography_font($font-size: 'xs', $line-height: 1.2em, $font-family: 'regular') {
  font-family: rpl-font($font-family);
  font-size: rpl-font-size($font-size);
  line-height: $line-height;
}

@mixin rpl_display_background {
  background-color: rpl-colour('secondary');
  color: rpl-colour('white');
  display: inline;
  line-height: 1.4em;
}

@mixin rpl_heading_xl {
  @include rpl_typography_font('xl', 1.1em, 'bold');
}

@mixin rpl_heading_l {
  @include rpl_typography_font('l', 1.1em, 'bold');
}

@mixin rpl_heading_m {
  @include rpl_typography_font('m', 1.3em, 'bold');
}

@mixin rpl_heading_s {
  @include rpl_typography_font('s', 1.2em, 'bold');
}

@mixin rpl_heading_xs {
  @include rpl_typography_font('xs', 1.25em, 'bold');
}

@mixin rpl_body_default {
  @include rpl_typography_font('xs', 1.5em, 'regular');
}

@mixin rpl_body_small {
  @include rpl_typography_font('xxs', 1.4em, 'regular');
}

@mixin rpl_copy_extra_small {
  @include rpl_typography_font('xxxs', 1em, 'regular');
}

.rpl-display {
  span {
    @include rpl_display_background;
  }
}

.rpl-heading-xl {
  @include rpl_heading_xl;
}

.rpl-heading-l {
  @include rpl_heading_l;
}

.rpl-heading-m {
  @include rpl_heading_m;
}

.rpl-heading-s {
  @include rpl_heading_s;
}

.rpl-heading-xs {
  @include rpl_heading_xs;
}

.rpl-body-default {
  @include rpl_body_default;
}

.rpl-body-small {
  @include rpl_body_small;
}

.rpl-extra-small {
  @include rpl_copy_extra_small;
}
