@import '@dpc-sdp/ripple-ui-core/style/breakpoints';

.rpl-footer-nav-section {
  position: relative;

  @media (--rpl-bp-l) {
    display: table;
    break-inside: avoid-column;
    width: 100%;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 1px;
    background-color: var(--rpl-clr-footer-alt);

    @media (--rpl-bp-l) {
      display: none;
    }
  }

  &:not(.rpl-footer-nav-section--expanded):focus-within::before {
    display: none;
  }
}

.rpl-footer-nav-section__header {
  margin: 0 calc(var(--rpl-sp-4) * -1);

  @media (--rpl-bp-l) {
    margin: 0;
  }
}

.rpl-footer-nav-section__header-inner {
  text-align: inherit;
  width: 100%;
  padding-top: var(--rpl-sp-4);
  padding-bottom: var(--rpl-sp-4);
  padding-left: var(--rpl-sp-4);
  padding-right: var(--rpl-sp-4);

  @media (--rpl-bp-l) {
    padding-left: 0;
    padding-right: 0;
  }
}

.rpl-footer-nav-section__header-inner-button {
  &:hover {
    text-decoration: underline;
  }

  &:active {
    text-decoration: none;
  }
}

.rpl-footer-nav-section__title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.rpl-footer-nav-section__expand-icon {
  margin-top: var(--local-icon-vertical-spacing);
  margin-left: var(--rpl-sp-3);
  transition: transform var(--rpl-motion-speed-6) linear;

  .rpl-footer-nav-section--expanded & {
    transform: rotate(-180deg);
  }
}
