@import '@dpc-sdp/ripple-ui-core/style/breakpoints';

.rpl-footer-nav-section {
  border-bottom: var(--rpl-border-1) solid var(--rpl-clr-footer-alt);

  @media (--rpl-bp-l) {
    border-bottom: none;
    display: table;
    break-inside: avoid-column;
    width: 100%;
  }
}

.rpl-footer-nav-section__header {
  margin: 0 calc(var(--rpl-sp-4) * -1);

  @media (--rpl-bp-l) {
    margin: 0;
  }
}

.rpl-footer-nav-section__header-inner {
  text-align: inherit;
  width: 100%;
  margin-top: -1px;
  margin-bottom: -1px;
  padding-top: calc(var(--rpl-sp-4) + 1px);
  padding-bottom: calc(var(--rpl-sp-4) + 1px);
  padding-left: var(--rpl-sp-4);
  padding-right: var(--rpl-sp-4);

  @media (--rpl-bp-l) {
    padding-left: 0;
    padding-right: 0;
  }
}

.rpl-footer-nav-section__header-inner-button {
  &:hover {
    text-decoration: underline;
  }

  &:active {
    text-decoration: none;
  }
}

.rpl-footer-nav-section__title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.rpl-footer-nav-section__expand-icon {
  margin-top: var(--local-icon-vertical-spacing);
  margin-left: var(--rpl-sp-3);
  transition: transform var(--rpl-motion-speed-6) linear;

  .rpl-footer-nav-section--expanded & {
    transform: rotate(-180deg);
  }
}
