@import '@dpc-sdp/ripple-ui-core/style/breakpoints';

.rpl-footer--neutral {
  --rpl-clr-footer: var(--rpl-clr-neutral-200);
  --rpl-clr-footer-alt: var(--rpl-clr-neutral-300);
  --rpl-clr-type-footer-contrast: var(--rpl-clr-dark);
  --rpl-clr-type-footer-accessible: var(--rpl-clr-dark);
  --local-clr-flag-border: var(--rpl-clr-dark);
}

.rpl-footer {
  background-color: var(--rpl-clr-footer);
  padding-top: calc(var(--rpl-sp-6) - var(--rpl-border-2));
  padding-bottom: var(--rpl-sp-8);
  color: var(--rpl-clr-type-footer-contrast);
  border-top: var(--rpl-border-2) solid var(--rpl-clr-type-footer-accessible);

  --local-clr-link: var(--rpl-clr-type-footer-contrast);
  --local-clr-link-active: var(--rpl-clr-type-footer-contrast);
  --local-icon-vertical-spacing: 2px; /* Magic margin for visual symmetry */
}

.rpl-footer__nav {
  @media (--rpl-bp-m) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 var(--rpl-sp-6);
  }

  @media (--rpl-bp-l) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (--rpl-bp-xl) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0 var(--rpl-sp-8);
  }

  .rpl-list__link {
    display: inline-flex;
    align-items: flex-start;

    &:active {
      text-decoration: underline;
    }
  }

  .rpl-list__icon {
    margin-top: var(--local-icon-vertical-spacing);
    margin-right: var(--rpl-sp-2);
  }

  .rpl-icon--colour-default {
    color: var(--rpl-clr-type-footer-contrast);
  }

  .rpl-u-focusable-inline:focus-visible .rpl-icon--colour-default {
    color: var(--rpl-clr-type-focus-contrast);
  }
}

.rpl-footer__custom-content {
  border-bottom: var(--rpl-border-1) solid var(--rpl-clr-footer-alt);
  padding-top: var(--rpl-sp-6);
  padding-bottom: var(--rpl-sp-4);
}

.rpl-footer__custom-content-inner {
  margin-bottom: var(--rpl-sp-2);
}

.rpl-footer__credit {
  margin-top: var(--rpl-sp-6);
}

.rpl-footer-bottom {
  padding-top: var(--rpl-sp-6);
  display: grid;
  grid-gap: var(--rpl-sp-4);

  @media (--rpl-bp-l) {
    display: flex;
    justify-content: space-between;
  }
}

.rpl-footer-bottom__branding {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: var(--rpl-sp-6);
}

.rpl-footer-logo-link__img {
  display: block;
  object-fit: contain;
  max-width: 100%; /* allow images to scale down on very small breakpoints */
  max-height: 48px; /* max height for branding images */

  @media (--rpl-bp-s) {
    max-width: 120px; /* max width for branding images */
  }
}

.rpl-footer-vic-gov-logo {
  vertical-align: middle;
  fill: var(--rpl-clr-type-footer-contrast);
  width: 74px; /* Magic number specially requested for this logo  */
}

.rpl-footer-core-links {
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--rpl-sp-2);
  column-gap: var(--rpl-sp-5);
  margin-bottom: var(--rpl-sp-2);

  .rpl-text-link:active {
    text-decoration: underline;
  }
}
