// Enable global css.
$rpl-global-css: true !default;

@if $rpl-global-css == true {
  body {
    @include rpl_typography;
  }

  h2 {
    @include rpl_typography(heading_l)
  }

  h3 {
    @include rpl_typography(heading_m)
  }

  h4 {
    @include rpl_typography(heading_s)
  }

  h5 {
    @include rpl_typography(heading_xs)
  }
}

// Fix fonts that render as bold in Firefox.
// See https://www.lockedownseo.com/firefox-font-weight-too-bold/
html {
  // sass-lint:disable-block no-vendor-prefixes
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
