.rpl-alert {
  transition: all var(--rpl-motion-speed-2) ease-out;
  height: 92px; /* container height for transition */
  margin-bottom: 1px;

  &__inner {
    padding: var(--rpl-sp-5);
    display: flex;
    flex: 1;
  }

  &__icon-info {
    margin-right: var(--rpl-sp-4);
  }

  &__btn-close {
    padding-left: var(--rpl-sp-5);
    display: flex;
  }

  &__message {
    margin-top: var(--rpl-sp-1);
    margin-bottom: var(--rpl-sp-4);
    color: var(--rpl-clr-light);

    &-wrap {
      width: 100%;
    }
  }

  &__link {
    color: var(--rpl-clr-light);
    display: inline-flex;
    align-items: center;

    svg {
      display: flex;
      transition: margin-left var(--rpl-motion-speed-2) ease-out;
      margin-left: var(--rpl-sp-1);
    }

    &:hover {
      svg {
        margin-left: var(--rpl-sp-2);
      }
    }

    &:visited,
    &:hover {
      color: var(--rpl-clr-light);
    }

    &:focus {
      color: var(--rpl-clr-dark);
    }
  }

  &--info {
    background-color: var(--rpl-clr-neutral-700);
    color: var(--rpl-clr-type-white);
  }

  &--warning {
    background-color: var(--rpl-clr-warning);
    color: var(--rpl-clr-type-white);
  }

  &--error {
    background-color: var(--rpl-clr-error);
    color: var(--rpl-clr-type-white);
  }

  &--closed {
    height: 0;

    .rpl-alert__inner {
      opacity: 0;
    }
  }
}
