.rpl-alert {
  transition: all var(--rpl-motion-speed-3) ease-out;
  height: var(--local-container-height); /* container height for transition */

  &__inner {
    padding: var(--rpl-sp-5);
    display: flex;
    flex: 1;
  }

  &__icon-info {
    margin-right: var(--rpl-sp-4);
  }

  &__btn-close {
    margin-left: var(--rpl-sp-5);
    height: 100%;
  }

  &__message {
    color: var(--rpl-clr-type-light);

    &-wrap {
      width: 100%;
      margin-top: var(--rpl-sp-1);
    }
  }

  &__link {
    --local-clr-link: var(--rpl-clr-type-light);

    display: inline-block;
    color: var(--rpl-clr-type-light);
    margin-top: var(--rpl-sp-3);
    transition: gap var(--rpl-motion-speed-3) ease-out;

    .rpl-icon {
      margin-bottom: -0.2em;
      margin-left: var(--rpl-sp-2);
      transition: transform var(--rpl-motion-speed-3) ease-out;
      transform: translateX(0);
    }

    &:active {
      text-decoration: underline;
    }

    &:visited,
    &:hover {
      color: var(--rpl-clr-type-light);
    }

    &:hover,
    &:active {
      .rpl-icon {
        transform: translateX(var(--rpl-sp-1));
      }
    }

    &:hover:focus-visible,
    &:active:focus-visible {
      .rpl-icon {
        transform: translateX(0);
      }
    }
  }

  &--information {
    background-color: var(--rpl-clr-neutral-700);
    color: var(--rpl-clr-type-light);
  }

  &--warning {
    background-color: var(--rpl-clr-warning);
    color: var(--rpl-clr-type-light);
  }

  &--error {
    background-color: var(--rpl-clr-error);
    color: var(--rpl-clr-type-light);
  }

  &--closed {
    height: 0;

    .rpl-alert__inner {
      opacity: 0;
    }
  }
}

.rpl-alert-container {
  position: relative;

  .rpl-alert {
    margin-bottom: 1px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
