$callout-text-color: rpl_color('extra_dark_neutral') !default;
$callout-author-ruleset: (rem(20px), 1.2em, 'medium');
$callout-mark-border: rem(4px) solid rpl_color('mid_neutral_2');
$callout-padding: 0 0 0 ($rpl-space * 6);
$callout-margin: ($rpl-space * 7) auto;

.tide-wysiwyg {
  .wysiwyg-callout {
    @include rpl_typography_ruleset($callout-author-ruleset);
    color: $callout-text-color;
    border-left: $callout-mark-border;
    padding: $callout-padding;
    margin: $callout-margin;
  }
}
