$wysiwyg-figcaption-ruleset: ('xxs', 1em, 'medium');
$wysiwyg-figcaption-color: rpl_color('dark_neutral') !default;

.tide-wysiwyg {
  .embedded-entity {
    margin: 0;
    display: block;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: ($rpl-space * 10);

    figcaption {
      @include rpl_typography_ruleset($wysiwyg-figcaption-ruleset);
      color: $wysiwyg-figcaption-color;
      text-transform: uppercase;
      margin-top: $rpl-space-3;
    }
  }
}
