.tide-wysiwyg {
  .media--type-image {
    img {
      @include rpl_edge('card element');
      display: table;
      height: auto;
      border-radius: rem(4px);

      @include rpl_breakpoint('m') {
        max-width: 100%;
        max-height: rem(400px);
      }
    }
  }
}
