$quotation-padding-xs: 0 0 0 ($rpl-space * 6);
$quotation-padding-s: 0 0 0 ($rpl-space * 8);
$quotation-text-ruleset: (rem(20px), 1.2em, 'medium');
$quotation-text-color: rpl_color('extra_dark_neutral');
$quotation-text-margin: ($rpl-space * 5) auto $rpl-space-2;
$quotation-mark-border: rem(4px) solid rpl_color('mid_neutral_2');
$quotation-mark-end-margin: auto auto (-$rpl-space-2) $rpl-space-2;
$quotation-author-ruleset: (rem(12px), 1em, 'medium');
$quotation-author-color: mix(rpl_color('dark_neutral'), rpl_color('white'), 93%);
$quotation-author-opacity: rpl_color('dark_neutral');

.tide-wysiwyg {
  .quotation {
    position: relative;
    margin-left: 0;
    margin-right: 0;
    padding: $quotation-padding-xs;

    @include rpl_breakpoint('s') {
      padding: $quotation-padding-s;
    }

    p {
      @include rpl_typography_ruleset($quotation-text-ruleset);
      color: $quotation-text-color;
      margin: $quotation-text-margin;

      &::before,
      &::after {
        content: '';
        display: inline-block;
        width: rem(8px);
        height: rem(24px);
        border-left: $quotation-mark-border;
        border-right: $quotation-mark-border;
      }

      &::before {
        position: absolute;
        left: 0;
      }

      &::after {
        margin: $quotation-mark-end-margin;
        vertical-align: middle;
      }
    }

    &__author,
    &__author-title {
      @include rpl_typography_ruleset($quotation-author-ruleset);
      color: $quotation-author-color;
      font-style: normal;
      text-transform: uppercase;
    }
  }
}
