@import 'normalize.css';

@import '/public/vars/css/variables.css';

/*
  1. Reset rem unit to 1rem = 10px
*/
html {
  font-size: 62.5%; /* [1] */
}

/* VIC Regular */
@font-face {
  font-family: 'VIC Regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/VIC-Regular.woff2') format('woff2'),
       url('/fonts/VIC-Regular.woff') format('woff');
}

/* VIC Regular - Italic */
@font-face {
  font-family: 'VIC Regular';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/VIC-RegularItalic.woff2') format('woff2'),
       url('/fonts/VIC-RegularItalic.woff') format('woff');
}

/* VIC Medium */
@font-face {
  font-family: 'VIC Medium';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/VIC-Medium.woff2') format('woff2'),
       url('/fonts/VIC-Medium.woff') format('woff');
}

/* VIC Medium - Italic */
@font-face {
  font-family: 'VIC Medium';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/VIC-MediumItalic.woff2') format('woff2'),
       url('/fonts/VIC-MediumItalic.woff') format('woff');
}

/* VIC Semibold */
@font-face {
  font-family: 'VIC SemiBold';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/VIC-SemiBold.woff2') format('woff2'),
       url('/fonts/VIC-SemiBold.woff') format('woff');
}

/* VIC Semibold - Italic */
@font-face {
  font-family: 'VIC SemiBold';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/VIC-SemiBoldItalic.woff2') format('woff2'),
       url('/fonts/VIC-SemiBoldItalic.woff') format('woff');
}

/* VIC Bold */
@font-face {
  font-family: 'VIC Bold';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/VIC-Bold.woff2') format('woff2'),
       url('/fonts/VIC-Bold.woff') format('woff');
}

/* VIC Bold - Italic */
@font-face {
  font-family: 'VIC Bold';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/VIC-BoldItalic.woff2') format('woff2'),
       url('/fonts/VIC-BoldItalic.woff') format('woff');
}
