$rpl-button-ruleset: (
  'xs': ('xs', 1em, 'bold'),
  'm': ('s', 1em, 'bold')
) !default;
$rpl-button-text-color: rpl_color('white') !default;
$rpl-button-border-radius: rem(4px) !default;
$rpl-button-padding: $rpl-space-4 ($rpl-space * 12) !default;
$rpl-button-border: 1px solid transparent !default;
$rpl-button-primary-background-color: rpl_color('primary') !default;
$rpl-button-primary-text-color: rpl_color('white') !default;
$rpl-button-primary-hover-background-color: rpl_color('secondary') !default;
$rpl-button-primary-hover-text-color: rpl_color('white') !default;
$rpl-button-secondary-background-color: rpl_color('secondary') !default;
$rpl-button-secondary-text-color: rpl_color('white') !default;
$rpl-button-secondary-hover-background-color: rpl_color('primary') !default;
$rpl-button-secondary-hover-text-color: $rpl-button-secondary-text-color !default;
$rpl-button-danger-background-color: rpl_color('danger') !default;
$rpl-button-danger-hover-background-color: lighten(rpl-color('danger'), 5%) !default;
$rpl-button-danger-text-color: rpl_color('white') !default;
$rpl-button-active-text-color: $rpl-button-text-color !default;
$rpl-button-active-background-color: transparent !default;
$rpl-button-active-background-image: rpl_gradient('primary_gradient_90') !default;
$rpl-button-primary-active-background-color: transparent !default;
$rpl-button-primary-active-background-image: $rpl-button-active-background-image !default;
$rpl-button-primary-active-text-color: $rpl-button-primary-text-color !default;
$rpl-button-secondary-active-background-color: transparent !default;
$rpl-button-secondary-active-background-image: $rpl-button-active-background-image !default;
$rpl-button-secondary-active-text-color: $rpl-button-secondary-text-color !default;
$rpl-button-disabled-border: 1px solid rpl_color('dark_neutral') !default;
$rpl-button-disabled-text-color: rpl_color('dark_neutral') !default;
$rpl-narrow-button-padding-xs: $rpl-space-4 $rpl-space-4 !default;
$rpl-narrow-button-padding-m: $rpl-space-4 ($rpl-space * 6) !default;

