$rpl-colors: (
  'primary': #0052c2,
  'dark_primary': #023b89,
  'secondary': #0095ec,
  'extra_dark_neutral': #011a3c,
  'dark_neutral': #465870,
  'mid_neutral_1': #d7dbe0,
  'mid_neutral_2': #e8ebee,
  'light_neutral': #f6f6f9,
  'danger': #af272f,
  'warning': #ca4c21,
  'success': #009ca6,
  'white': #fff,
  'black': #000
) !default;

$rpl-success-bg-color: rgba(rpl-color('success'), .07) !default;
$rpl-warning-bg-color: rgba(rpl-color('warning'), .07) !default;
$rpl-danger-bg-color: rgba(rpl-color('danger'), .07) !default;
$rpl-success-color: rpl-color('success') !default;
$rpl-warning-color: rpl-color('warning') !default;
$rpl-danger-color: rpl-color('danger') !default;

$rpl-child-component-error-bg-color: $rpl-warning-bg-color !default;

$rpl-gradients: (
  'primary_gradient': linear-gradient(90deg, rpl-color('primary') 0%, rpl-color('secondary') 100%),
  'primary_gradient_90': linear-gradient(180deg, rpl-color('primary') 0%, rpl-color('secondary') 100%),
  'primary_gradient_0': linear-gradient(0deg, rpl-color('primary') 0%, rpl-color('secondary') 100%),
  'decorative_gradient': linear-gradient(-90deg, rpl-color('primary') 0%, #825dff 12%, #ef4a81 23%, #e57200 37%, #ffc166 51%, #f9e062 81%),
  'decorative_gradient_0': linear-gradient(0deg, rpl-color('primary') 0%, #825dff 12%, #ef4a81 23%, #e57200 37%, #ffc166 51%, #f9e062 81%),
  'decorative_gradient_90': linear-gradient(-180deg, rpl-color('primary') 0%, #825dff 12%, #ef4a81 23%, #e57200 37%, #ffc166 51%, #f9e062 81%),
  'decorative_gradient_180': linear-gradient(90deg, rpl-color('primary') 0%, #825dff 12%, #ef4a81 23%, #e57200 37%, #ffc166 51%, #f9e062 81%)
) !default;
