$rpl-font-directory: '~@dpc-sdp/ripple-global/assets/fonts/' !default;

$rpl-font-sizes: (
  'tera': rem(56px),
  'xgiga': rem(48px),
  'giga': rem(36px),
  'mega': rem(28px),
  'xl': rem(24px),
  'l': rem(20px),
  'm': rem(18px),
  's': rem(16px),
  'xs': rem(14px),
  'xxs': rem(12px)
) !default;

// Defines line heights for typography with a background.
// The values below read as:
// 'font-size': touching-point + spacing
// Where touching point = the line-height where 2 lines will touch.
$rpl-font-display-background-line-height: (
  'tera': rem(76px + 4px),
  'xgiga': rem(65px + 4px),
  'giga': rem(49px + 4px),
  'mega': rem(38px + 3px),
  'xl': rem(33px + 3px),
  'l': rem(27px + 2px),
  'm': rem(25px + 2px),
  's': rem(22px + 2px),
  'xs': rem(19px + 2px),
  'xxs': rem(17px + 2px)
) !default;

$rpl-font-display-background-padding: (
  'tera': rem(16px),
  'xgiga': rem(10px),
  'giga': rem(10px),
  'mega': rem(8px),
  'xl': rem(8px),
  'l': rem(8px),
  'm': rem(8px),
  's': rem(8px),
  'xs': rem(8px),
  'xxs': rem(8px)
) !default;

$rpl-fonts: (
  'regular': (
    'family': ('VIC-Regular', 'Arial', 'Helvetica', 'sans-serif'),
    'display': swap
  ),
  'medium': (
    'family': ('VIC-Medium', 'Arial', 'Helvetica', 'sans-serif'),
    'display': swap
  ),
  'semibold': (
    'family': ('VIC-SemiBold', 'Arial', 'Helvetica', 'sans-serif'),
    'display': swap
  ),
  'bold': (
    'family': ('VIC-Bold', 'Arial', 'Helvetica', 'sans-serif'),
    'display': swap
  )
) !default;

// Original $rpl-fonts structure(below) is still supported.
// Custom Web fonts can use own loader.
// Example: examples/basic-examples/assets/_theme.scss
//
// $rpl-fonts: (
//  'regular': ('VIC-Regular', 'Arial', 'Helvetica', 'sans-serif'),
//  'medium': ('VIC-Medium', 'Arial', 'Helvetica', 'sans-serif')
// );
