// Below settings are following SDP UX researchs.
// We should be careful to change these layout settings in custom site, as they will impact on the components' appearance inisde.
// SDP team may not able to support css issues caused by custom layout settings here. 
$rpl-layout: (
  'site_padding': (
    'm': rem(32px),
    'l': rem(68px),
    'xl': rem(92px),
    'xxl': rem(272px),
  ),

  // Note: max width will override site padding
  'site_max_width': (
    'xl': rem(1056px),
    'xxxl': rem(1420px)
  )
) !default;

$rpl-content-max-width: rem(606px) !default;
