// Typography
$rpl-typography: (
  'display_l': ('tera', 1.1em, 'bold', true),
  'display_m': ('giga', 1.1em, 'bold', true),
  'display_s': ('mega', 1.1em, 'bold', true),
  'supporting_l': ('mega', 1.3em, 'medium'),
  'supporting_m': ('xl', 1.1em, 'medium'),
  'supporting_s': ('m', 1.2em, 'medium'),
  'heading_l': ('mega', 1.3em, 'bold'),
  'heading_m': ('xl', 1.2em, 'bold'),
  'heading_s': ('l', 1.2em, 'bold'),
  'heading_xs': ('s', 1.5em, 'bold'),
  'body_large': ('m', 1.5em, 'regular'),
  'body_default': ('s', 1.5em, 'regular'),
  'body_small': ('xs', 1.4em, 'regular'),
  'copy_extra_small': ('xxs', 1em, 'regular')
) !default;

// Display heading colours
$rpl-display-background-color: rpl-color('secondary') !default;
$rpl-display-text-color: rpl-color('white') !default;

// Spacing
$rpl-space: .25rem !default;
$rpl-space-2: .5rem !default;
$rpl-space-3: .75rem !default;
$rpl-space-4: 1rem !default;

// Site top margin.
// These spacings coupled with the site header height.
// Update them if site header height changed.
$rpl-layout-top-margin: (
  xs: $rpl-space * 15.5,
  s: $rpl-space * 18,
  m: $rpl-space * 21.5
) !default;

// Margin for row gutter between components
$rpl-component-gutter-s: $rpl-space * 4 !default;
$rpl-component-gutter-l: $rpl-space * 6 !default;

// The standard row gutter cross site
$rpl-row-gutter: (
  xs: $rpl-component-gutter-s,
  l: $rpl-component-gutter-l
);

// The spacing bewteen above content and content.
$rpl-content-padding-top: (
  xs: $rpl-space * 4,
  m: $rpl-space * 10,
  l: $rpl-space * 17,
  xl: $rpl-space * 20,
  xxxl: $rpl-space * 22
) !default;

// Horizontal padding for mobile left and right
$rpl-component-padding-xs: $rpl-space * 5 !default;
$rpl-component-padding-s: $rpl-space * 7 !default;

// Horizontal padding for all components(except small cards) in the content.
$rpl-component-padding-m: $rpl-space * 8 !default;
$rpl-component-padding-l: $rpl-space * 6 !default;
$rpl-component-padding-xl: $rpl-space * 8 !default;

// Header padding
$rpl-header-horizontal-padding-xs: $rpl-space * 2.5;
$rpl-header-horizontal-padding-s: $rpl-space * 5;

// Z-index
$rpl-zindex-tooltip: 1070 !default;
$rpl-zindex-popover: 1060 !default;
$rpl-zindex-modal: 1050 !default;
$rpl-zindex-header: 1040 !default;
$rpl-zindex-fixed: 1030 !default;
$rpl-zindex-content-top: 1020 !default;

// Border
$rpl-border-width: 1px !default;

// Dropshadow
$rpl-dropshadow-color: rgba(0, 0, 0, .14) !default;

// Focus
$rpl-active-focus-outline-dark: 1px solid rpl-color('white') !default;
