@import '@dpc-sdp/ripple-ui-core/style/breakpoints';

.rpl-blockquote {
  --local-icon-size: 3.5rem;

  margin: var(--rpl-sp-5) 0 0;
  padding: 0 var(--rpl-sp-2) var(--rpl-sp-2);

  @media (--rpl-bp-m) {
    margin-top: var(--rpl-sp-6);
  }

  &__quote {
    margin: 0;
    padding-left: var(--rpl-sp-8);

    p {
      margin: 0;
      position: relative;

      &::before {
        content: '"';
        content: '"' / '';
        font-style: italic;
        font-size: var(--local-icon-size);
        font-weight: var(--rpl-type-weight-bold);
        color: var(--rpl-clr-link);
        position: absolute;
        top: var(--rpl-sp-2);
        right: calc(100% + var(--rpl-sp-4));
      }
    }

    p + p {
      margin-top: var(--rpl-sp-3);
    }
  }

  &__author {
    margin-top: var(--rpl-sp-3);
    padding-left: var(--rpl-sp-8);
    color: var(--rpl-clr-neutral-600);

    &-name,
    &-title {
      display: block;
    }
  }
}

.rpl-blockquote__author-name {
  & + .rpl-blockquote__author-name,
  & + .rpl-blockquote__author-title {
    margin-top: var(--rpl-sp-2);
  }
}
