.rpl-callout {
  padding: var(--rpl-sp-6);
  border-left: var(--rpl-border-3) solid;
  border-color: var(--rpl-clr-accent);
  background-color: var(--rpl-clr-accent-alt);
  margin-top: var(--rpl-sp-4); /* same as paragraph */

  > *:last-child {
    margin-bottom: 0;
  }
}
