@import '@dpc-sdp/ripple-ui-core/style/breakpoints';

.rpl-callout {
  padding: var(--rpl-sp-6);
  border-left: var(--rpl-border-3) solid;
  border-color: var(--rpl-clr-accent);
  background-color: var(--rpl-clr-accent-alt);
  margin-top: var(--rpl-sp-5);

  @media (--rpl-bp-l) {
    margin-top: var(--rpl-sp-6);
  }

  @media print {
    background-color: transparent;
  }

  > {
    :nth-child(n) {
      margin-top: var(--rpl-sp-4);
    }

    :first-child {
      margin-top: 0;
    }

    :last-child {
      margin-bottom: 0;
    }
  }

  &.rpl-callout--neutral {
    padding: var(--rpl-sp-2) var(--rpl-sp-6);
    background-color: transparent;
    border-color: var(--rpl-clr-neutral-600);

    p {
      font-size: var(--rpl-type-size-3);
      line-height: var(--rpl-type-lh-5);
      letter-spacing: var(--rpl-type-ls-2);
    }
  }
}

[dir='rtl'] .rpl-callout {
  border-left: 0;
  border-right: var(--rpl-border-3) solid var(--rpl-clr-accent);
}
