@import '@dpc-sdp/ripple-ui-core/style/breakpoints';

.rpl-document {
  margin: 0;

  :where(.rpl-content) & {
    margin-top: var(--rpl-sp-5);

    @media (--rpl-bp-m) {
      margin-top: var(--rpl-sp-6);
    }
  }
}

.rpl-document__icon {
  margin-right: var(--rpl-sp-4);

  .rpl-icon {
    vertical-align: middle;
  }
}

.rpl-document__name {
  display: inline;
  text-decoration: underline;
}

.rpl-document__info {
  color: var(--rpl-clr-neutral-600);
  margin-top: var(--rpl-sp-2);
  line-height: var(--rpl-type-lh-1);
}

.rpl-document__caption {
  margin-top: var(--rpl-sp-3);
}

.rpl-document__link {
  display: flex;
  align-items: flex-start;
  color: var(--rpl-clr-type-default);
  text-decoration: none;

  @media print {
    flex-wrap: wrap;

    &::after {
      content: ' <' attr(href) '> ';
      display: block;
      width: 100%;
      color: var(--rpl-clr-link);
      text-decoration: underline;
      margin-top: var(--rpl-sp-3);
    }
  }

  &:hover .rpl-document__name {
    text-decoration: none;
    color: var(--rpl-clr-link);
  }

  &:active .rpl-document__name {
    color: var(--rpl-clr-link);
    text-decoration: underline;
  }
}

.rpl-document--centered .rpl-document__link {
  align-items: center;
}

[dir='rtl'] .rpl-document__icon {
  margin-left: var(--rpl-sp-4);
  margin-right: 0;
}
