@import '@dpc-sdp/ripple-ui-core/style/breakpoints';

.rpl-table {
  --local-dividing-border: var(--rpl-border-1) solid var(--rpl-clr-neutral-300);
  --local-scroll-indicator-width: 1.6rem;
  --local-scrolling-idicator-fade: rgb(25 25 25 / 8%);
  --local-table-row-background: rgb(0 0 0 / 4%);

  margin-top: var(--rpl-sp-5);
  background-color: var(--rpl-clr-neutral-0);

  @media (--rpl-bp-m) {
    margin-top: var(--rpl-sp-6);
  }

  &__info {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: var(--rpl-sp-2);

    &-icon {
      margin: 0 0 var(--rpl-sp-1) var(--rpl-sp-2);
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;

    &,
    p,
    li {
      font-size: var(--rpl-type-size-1);
      line-height: var(--rpl-type-lh-3);
      letter-spacing: var(--rpl-type-ls-1);
    }
  }

  thead {
    border-bottom: var(--rpl-border-2) solid var(--rpl-clr-neutral-600);
  }

  tbody,
  tfoot {
    border-bottom: var(--local-dividing-border);
  }

  tfoot {
    color: var(--rpl-clr-neutral-600);
  }

  th {
    font-weight: var(--rpl-type-weight-bold);
  }

  th,
  td {
    vertical-align: top;
    padding: var(--rpl-sp-4) var(--rpl-sp-3);

    > *:first-child {
      margin-top: 0;
    }

    &:first-child {
      padding-left: var(--rpl-sp-4);
    }

    &:last-child {
      padding-right: var(--rpl-sp-4);
    }
  }

  caption {
    padding: var(--rpl-sp-4);
    font-size: var(--rpl-type-size-2);
    font-weight: var(--rpl-type-weight-bold);
    line-height: var(--rpl-type-lh-4);
    letter-spacing: var(--rpl-type-ls-1);
  }

  tbody tr,
  tfoot,
  caption,
  caption + thead {
    border-top: var(--local-dividing-border);
  }

  caption:not([align]),
  th:not([align]) {
    text-align: left;
  }

  tbody {
    tr:nth-child(odd) {
      background-color: var(--local-table-row-background);
    }
  }

  &__scroll-container {
    z-index: var(--rpl-layer-1);
    position: relative;
    overflow-x: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    background-repeat: no-repeat;
    background-position: 0 0, 100% 0;
    background-image: linear-gradient(
        to right,
        var(--local-scrolling-idicator-fade),
        transparent
      ),
      linear-gradient(
        to left,
        var(--local-scrolling-idicator-fade),
        transparent
      );
    background-size: calc(var(--local-scroll-indicator-width) / 2) 100%;

    &::before,
    &::after {
      content: '';
      z-index: -1;
      position: relative;
      min-width: var(--local-scroll-indicator-width);
      background: var(--rpl-clr-light);
    }

    @media print {
      background-image: none;
      overflow-x: initial;
    }

    table {
      margin: 0 calc(-1 * var(--local-scroll-indicator-width));
    }
  }

  &--no-stripes tbody {
    tr:nth-child(odd) {
      background-color: transparent;
    }
  }
}

[dir='rtl'] .rpl-table {
  caption:not([align]),
  th:not([align]) {
    text-align: right;
  }
}
