@import "~@dpc-sdp/ripple-global/scss/settings";
@import "~@dpc-sdp/ripple-global/scss/tools";

$rpl-statistics-grid-background-primary: rpl_color('light_neutral') !default;
$rpl-statistics-grid-background-secondary: white !default;
$rpl-statistics-grid-padding: ($rpl-space * 10) ($rpl-space * 4);
$rpl-statistics-grid-margin: ($rpl-space * 2);
$rpl-statistics-grid-min-width-mobile: rem(100px);
$rpl-statistics-grid-min-width-desktop: rem(240px);

.rpl-statistics-grid {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: $rpl-statistics-grid-margin;

  &__block {
    display: flex;
    flex-basis: $rpl-statistics-grid-min-width-mobile;
    padding: $rpl-statistics-grid-padding;
    flex: 1 1 35%;

    text-align: center;

    @include rpl_breakpoint('m') {
      flex-basis: $rpl-statistics-grid-min-width-desktop;
    }

    &-inner {
      align-self: center;
      flex-grow: inherit;
    }

    .rpl-markup a:not(.rpl-button) .rpl-text-label .rpl-text-icon__group {
      text-decoration: underline;
    }

    &-heading {
      @include rpl_typography('heading_l');
      line-height: rem(41px);

      margin-bottom: 0;

      @include rpl_breakpoint('l') {
        font-size: rem(36px);
        line-height: rem(53px);
      }
    }

    &-body {
      margin-top: 0;
    }

    &--primary {
      background-color: $rpl-statistics-grid-background-primary;
    }

    &--secondary {
      background-color: $rpl-statistics-grid-background-secondary;
    }
  }
}
