@import '@dpc-sdp/ripple-ui-core/style/breakpoints';

.rpl-search-bar {
  --local-search-bar-border-width: var(--rpl-border-2);
  --local-search-bar-clr-bg: var(--rpl-clr-neutral-100);
  --local-search-bar-clr-bottom-bar: var(--rpl-clr-neutral-600);
  --local-search-bar-clr-border-active: var(--rpl-clr-dark);
  --local-search-bar-clr-submit: var(--rpl-clr-link);
  --local-search-bar-clr-input-text: var(--rpl-clr-type-default);
  --local-search-bar-clr-placeholder: var(--rpl-clr-neutral-600);
  --local-search-bar-suggestion-height: 48px;
  --local-search-bar-suggestion-odd: transparent;
  --local-search-bar-suggestion-even: var(--rpl-clr-neutral-100);

  @media (--rpl-bp-m) {
    --local-search-bar-suggestion-height: 52px;
  }
}

.rpl-search-bar__inner {
  position: relative;
}

.rpl-search-bar--reverse {
  --local-search-bar-clr-bg: var(--rpl-clr-light);
  --local-search-bar-suggestion-odd: var(--rpl-clr-neutral-100);
  --local-search-bar-suggestion-even: transparent;
}

.rpl-search-bar--menu {
  --local-search-bar-clr-bg: transparent;
  --local-search-bar-clr-bottom-bar: var(--rpl-clr-type-primary-contrast-alpha);
  --local-search-bar-clr-border-active: var(--rpl-clr-type-primary-contrast);
  --local-search-bar-clr-submit: var(--rpl-clr-type-primary-contrast);
  --local-search-bar-clr-input-text: var(--rpl-clr-type-primary-contrast);
  --local-search-bar-clr-placeholder: var(
    --rpl-clr-type-primary-contrast-alpha
  );
}

.rpl-search-bar__label {
  display: block;
  margin-bottom: var(--rpl-sp-4);
}

.rpl-search-bar__input,
.rpl-search-bar__input-wrap {
  /* rpl-type-p */
  font-size: var(--rpl-type-size-2);
  line-height: var(--rpl-type-lh-4);
  letter-spacing: var(--rpl-type-ls-1);

  @media (--rpl-bp-m) {
    /* rpl-type-p-large-fixed */
    font-size: var(--rpl-type-size-3);
    line-height: var(--rpl-type-lh-5);
    letter-spacing: var(--rpl-type-ls-2);
  }

  .rpl-search-bar--menu & {
    /* rpl-type-p-large */
    font-size: var(--rpl-type-size-3);
    line-height: var(--rpl-type-lh-5);
    letter-spacing: var(--rpl-type-ls-2);

    @media (--rpl-bp-l) {
      font-size: var(--rpl-type-size-4);
      line-height: var(--rpl-type-lh-6);
      letter-spacing: var(--rpl-type-ls-4);
    }
  }
}

/* stylelint-disable-next-line no-descending-specificity */
.rpl-search-bar__input {
  --local-border-inline-width: 0px;

  background: var(--local-search-bar-clr-bg);
  border: var(--local-search-bar-border-width) solid transparent;
  border-bottom-color: var(--local-search-bar-clr-bottom-bar);
  border-left-width: var(--local-border-inline-width);
  border-right-width: var(--local-border-inline-width);
  padding: var(--rpl-sp-4)
    calc(var(--rpl-sp-3) - var(--local-border-inline-width));
  border-radius: 0;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-appearance: none;

  /* Magic number to represent the width of the search button */
  padding-right: calc(var(--rpl-sp-4) + 24px + var(--rpl-sp-3));

  .rpl-search-bar--with-clear-btn & {
    /* Magic numbers to represent the width of the clear button and search button */
    padding-right: calc(
      var(--rpl-sp-4) + 16px + var(--rpl-sp-5) + 24px + var(--rpl-sp-3)
    );
  }

  width: 100%;
  color: var(--local-search-bar-clr-input-text);

  &::placeholder {
    color: var(--local-search-bar-clr-placeholder);
  }

  /* Remove browser cross button */
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    appearance: none;
  }

  &:hover {
    border-bottom-color: var(--local-search-bar-clr-border-active);
  }

  &:focus,
  &.rpl-u-focusable--force-on {
    --local-border-inline-width: var(--local-search-bar-border-width);

    border-color: var(--local-search-bar-clr-border-active);
  }

  @media (--rpl-bp-m) {
    padding-left: calc(var(--rpl-sp-4) - var(--local-border-inline-width));

    .rpl-search-bar--with-label & {
      /* Magic number to represent the width of the search button with label */
      padding-right: calc(
        var(--rpl-sp-4) + 94px + var(--rpl-sp-4) -
          var(--local-border-inline-width)
      );
    }

    .rpl-search-bar--with-clear-btn & {
      /* Magic number to represent the width of the clear button and search button without label */
      padding-right: calc(
        var(--rpl-sp-4) + 16px + var(--rpl-sp-5) + 24px + var(--rpl-sp-4) -
          var(--local-border-inline-width)
      );
    }

    .rpl-search-bar--with-label.rpl-search-bar--with-clear-btn & {
      /* Magic numbera to represent the width of the clear button and search button with label */
      padding-right: calc(
        var(--rpl-sp-4) + 16px + var(--rpl-sp-5) + 94px + var(--rpl-sp-4) -
          var(--local-border-inline-width)
      );
    }
  }
}

.rpl-search-bar__right {
  position: absolute;
  display: flex;
  align-items: center;
  right: var(--rpl-sp-4);
  top: 0;
  bottom: 0;
  pointer-events: none;
  gap: var(--rpl-sp-5);
}

.rpl-search-bar-submit__label {
  display: none;

  @media (--rpl-bp-m) {
    display: inline;
  }
}

.rpl-search-bar-submit {
  display: flex;
  align-items: center;
  color: var(--local-search-bar-clr-submit);
  gap: var(--rpl-sp-3);
  pointer-events: initial;

  &:hover {
    .rpl-search-bar-submit__label {
      text-decoration: underline;
      text-decoration-thickness: var(--rpl-border-2);
    }
  }
}

.rpl-search-bar-submit__icon {
  display: flex;
}

.rpl-search-bar__menu {
  z-index: var(--rpl-layer-2);
  border: var(--rpl-border-2) solid var(--rpl-clr-dark);
  background: var(--rpl-clr-light);
  max-height: calc(
    var(--local-max-items) * var(--local-search-bar-suggestion-height) +
      var(--rpl-border-2) + var(--rpl-border-2)
  );
  overflow-y: auto;
  scroll-behavior: auto;
  position: absolute;
  width: 100%;
  margin-top: -2px;
}

.rpl-search-bar__menu-option {
  display: flex;
  align-items: center;
  padding: var(--rpl-sp-3);
  background: var(--local-search-bar-suggestion-odd);

  @media (--rpl-bp-m) {
    padding-left: var(--rpl-sp-4);
    padding-right: var(--rpl-sp-4);
  }

  &:nth-child(2n) {
    background: var(--local-search-bar-suggestion-even);
  }

  &:hover,
  &:active {
    background: var(--rpl-clr-neutral-300);
  }
}

.rpl-search-bar__menu-noresults {
  display: flex;
  align-items: center;
  padding: var(--rpl-sp-3);

  @media (--rpl-bp-m) {
    padding-left: var(--rpl-sp-4);
    padding-right: var(--rpl-sp-4);
  }
}

.rpl-search-bar__clear {
  pointer-events: initial;
  color: var(--rpl-clr-error);

  .rpl-search-bar--menu & {
    color: var(--rpl-clr-type-primary-contrast);
  }
}
