$rpl-font-directory: '~@dpc-sdp/ripple-global/assets/fonts/' !default;

$rpl-font-sizes: (
  'tera': rem(60px),
  'giga': rem(36px),
  'mega': rem(28px),
  'xl': rem(24px),
  'l': rem(20px),
  'm': rem(18px),
  's': rem(16px),
  'xs': rem(14px),
  'xxs': rem(12px)
) !default;

$rpl-fonts: (
  'regular': ('VIC-Regular', 'Arial', 'Helvetica', 'sans-serif'),
  'medium': ('VIC-Medium', 'Arial', 'Helvetica', 'sans-serif'),
  'bold': ('VIC-Bold', 'Arial', 'Helvetica', 'sans-serif')
) !default;

@each $font-label, $font-val in $rpl-fonts {
  $font: nth($font-val, 1);
  @font-face {
    // sass-lint:disable-block no-duplicate-properties
    font-family: $font;
    src: url('#{$rpl-font-directory}#{$font}.eot');
    src: url('#{$rpl-font-directory}#{$font}.eot?#iefix') format('embedded-opentype'),
    url('#{$rpl-font-directory}#{$font}.woff') format('woff'),
    url('#{$rpl-font-directory}#{$font}.woff2') format('woff2'),
    url('#{$rpl-font-directory}#{$font}.ttf') format('truetype');
  }
}

@function rpl-font($name) {
  @if map-get($rpl-fonts, $name) == null {
    @error '"#{$name}" is not an available font';
  }
  @return map-get($rpl-fonts, $name);
}

@function rpl-font-size($name) {
  @if map-get($rpl-font-sizes, $name) == null {
    @error '"#{$name}" is not an available font size';
  }
  @return map-get($rpl-font-sizes, $name);
}
