$rpl-layout: (
  'site_padding': (
    'm': rem(32px),
    'l': rem(68px),
    'xl': rem(92px)
  )
) !default;

// Max width of site content constrain will be 1420px.
$_rpl-site-constrain-max-width: rem(1420px);
$_rpl-xxl-padding: calc((100% - #{$_rpl-site-constrain-max-width}) / 2);

@mixin rpl_component_gutter {
  @each $bp, $gutter in $rpl-row-gutter {
    @include rpl_breakpoint($bp) {
      margin-bottom: $gutter;
    }
  }
}

@mixin rpl_site_constrain($style: all) {
  @if $style == all {
    @each $bp, $padding in map-get($rpl-layout, 'site_padding') {
      @include rpl_breakpoint($bp) {
        padding-left: $padding;
        padding-right: $padding;
      }
    }

    @include rpl_breakpoint(xxl) {
      padding-left: $_rpl-xxl-padding;
      padding-right: $_rpl-xxl-padding;
    }

  } @else if $style == small {
    @each $bp, $padding in map-get($rpl-layout, 'site_padding') {
      @if index((xs, s, m), $bp) {
        @include rpl_breakpoint($bp) {
          padding-left: $padding;
          padding-right: $padding;
        }
      }

      @include rpl_breakpoint(l) {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}

@mixin rpl_edge($style: all) {
  @if $style == all {
    @each $bp, $padding in map-get($rpl-layout, 'site_padding') {
      @include rpl_breakpoint($bp) {
        margin-left: -$padding;
        margin-right: -$padding;
      }
    }

    @include rpl_breakpoint(xxl) {
      margin-left: calc((100vw - #{$_rpl-site-constrain-max-width}) / -2);
      margin-right: calc((100vw - #{$_rpl-site-constrain-max-width}) / -2);
    }

  } @else if $style == small {
    @each $bp, $padding in map-get($rpl-layout, 'site_padding') {
      @if index((xs, s, m), $bp) {
        @include rpl_breakpoint($bp) {
          margin-left: -$padding;
          margin-right: -$padding;
        }
      }

      @include rpl_breakpoint(l) {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}

@mixin rpl_mobile_padding {
  padding-left: $rpl-component-padding-xs;
  padding-right: $rpl-component-padding-xs;

  @include rpl_breakpoint(s) {
    padding-left: $rpl-component-padding-s;
    padding-right: $rpl-component-padding-s;
  }
}

.rpl-component-gutter {
  @include rpl_component_gutter;
}

.rpl-site-constrain--on-all {
  @include rpl_site_constrain;

  // For nested constrain item want to grow to edge.
  .rpl-site-constrain--on-all {
    @include rpl_breakpoint(xxl) {
      padding-left: calc((100vw - #{$_rpl-site-constrain-max-width}) / 2);
      padding-right: calc((100vw - #{$_rpl-site-constrain-max-width}) / 2);
    }
  }
}

// Use this calss if the item is inside sidebar or main content area beside sidebar and you are using `.rpl-edge--below-l`.
.rpl-site-constrain--below-l {
  @include rpl_site_constrain(small);
}

// Use this class to make a component gorw to reach left/right edge.
// Don't use this if the component is inside sidebar or main content area beside sidebar.
.rpl-edge--on-all {
  @include rpl_edge;
}

// Use this calss if the item is inside sidebar or main content area beside sidebar.
.rpl-edge--below-l {
  @include rpl_edge(small);
}
