$rpl-typography: (
  'display_l': ('tera', 1.1em, 'bold', true),
  'display_m': ('giga', 1.1em, 'bold', true),
  'display_s': ('mega', 1.1em, 'bold', true),
  'supporting_l': ('mega', 1.3em, 'medium'),
  'supporting_m': ('xl', 1.1em, 'medium'),
  'supporting_s': ('m', 1.2em, 'medium'),
  'heading_l': ('mega', 1.3em, 'bold'),
  'heading_m': ('xl', 1.2em, 'bold'),
  'heading_s': ('l', 1.2em, 'bold'),
  'heading_xs': ('s', 1.5em, 'bold'),
  'body_large': ('m', 1.5em, 'regular'),
  'body_default': ('s', 1.5em, 'regular'),
  'body_small': ('xs', 1.4em, 'regular'),
  'copy_extra_small': ('xxs', 1em, 'regular')
) !default;

@mixin rpl_typography_font($font-size: 's', $line-height: 1.2em, $font-family: 'inherit') {
  @if $font-family != 'inherit' {
    font-family: rpl-font($font-family);
  }
  @if type-of($font-size) == string {
    font-size: rpl-font-size($font-size);
  }
  @if type-of($font-size) == number {
    font-size: $font-size;
  }
  line-height: $line-height;
}

@mixin rpl_display_background {
  background-color: rpl-color('secondary');
  color: rpl-color('white');
  display: inline;
  line-height: 1.4em;
}

@mixin rpl_typography($name: 'body_default') {
  @if map-get($rpl-typography, $name) == null {
    @error '"#{$name}" is not an available typeset';
  }
  $typography-rules: map-get($rpl-typography, $name);
  @include rpl_typography_ruleset($typography-rules);
}

@mixin rpl_typography_ruleset($ruleset) {
  // Print rules
  @if type-of($ruleset) == list {
    @include rpl_typography_print_rules($ruleset);
  }
  // Print breakpoints
  @if type-of($ruleset) == map {
    @each $breakpoint, $breakpoint-rules in $ruleset {
      @include rpl_breakpoint($breakpoint) {
        @include rpl_typography_print_rules($breakpoint-rules);
      }
    }
  }
}

@mixin rpl_typography_print_rules($rules) {
  $font-size: nth($rules, 1);
  $line-height: nth($rules, 2);
  $font-family: nth($rules, 3);
  @include rpl_typography_font($font-size, $line-height, $font-family);
  @if length($rules) > 3 {
    $include-back: nth($rules, 4);
    @if $include-back == true {
      span {
        @include rpl_display_background;
      }
    }
  }
}
