// Spacing
$rpl-space: .25rem !default;
$rpl-space-2: .5rem !default;
$rpl-space-3: .75rem !default;
$rpl-space-4: 1rem !default;

// Site top margin.
// These spacings coupled with the site header height.
// Update them if site header height changed.
$rpl-layout-top-margin: (
  xs: $rpl-space * 16,
  s: $rpl-space * 19,
  m: $rpl-space * 24
) !default;

// Margin for row gutter between components
$rpl-component-gutter-s: $rpl-space * 4 !default;
$rpl-component-gutter-l: $rpl-space * 6 !default;

// The standard row gutter cross site
$rpl-row-gutter: (
  xs: $rpl-component-gutter-s,
  l: $rpl-component-gutter-l
);

$rpl-content-padding-top: (
  xs: $rpl-space * 4,
  m: $rpl-space * 10,
  l: $rpl-space * 17,
  xl: $rpl-space * 20,
  xxxl: $rpl-space * 22
) !default;

// Padding for mobile left and right
$rpl-component-padding-xs: $rpl-space * 5 !default;
$rpl-component-padding-s: $rpl-space * 7 !default;

// Header padding
$rpl-header-horizontal-padding-xs: $rpl-space * 2.5;
$rpl-header-horizontal-padding-s: $rpl-space * 5;

// Z-index
$rpl-zindex-tooltip: 1070 !default;
$rpl-zindex-popover: 1060 !default;
$rpl-zindex-modal: 1050 !default;
$rpl-zindex-header: 1040 !default;
$rpl-zindex-fixed: 1030 !default;

// Border
$rpl-border-width: 1px !default;
