.rpl-text-link {
  background-color: transparent;
  color: var(--local-clr-link, var(--rpl-clr-link));
  cursor: pointer;
  text-decoration: underline;
  overflow-wrap: anywhere;

  @media print {
    color: var(--rpl-clr-link);

    &::after {
      content: ' <' attr(href) '> ';
    }
  }

  &:visited {
    color: var(
      --local-clr-link-visited,
      var(--local-clr-link, var(--rpl-clr-link))
    );
  }

  &:active {
    color: var(--local-clr-link-active, var(--rpl-clr-dark));
    text-decoration: none;
  }

  &:hover {
    text-decoration: none;
  }
}
