.rpl-text-link {
  background-color: transparent;
  color: var(--rpl-clr-link);
  cursor: pointer;
  text-decoration: underline;

  &:visited {
    color: var(--rpl-clr-link-visited);
  }

  &:active {
    color: var(--rpl-clr-dark);
  }

  &:hover {
    text-decoration: none;
  }
}
