.rpl-text-link {
  background-color: transparent;
  color: var(--rpl-clr-semantic-link);
  text-decoration: underline;
  cursor: pointer;

  &:visited {
    color: var(--rpl-clr-semantic-link-visited);
  }

  &:active {
    color: var(--rpl-clr-dark);
    text-decoration: none;
  }

  &:focus {
    background-color: var(--rpl-clr-semantic-focus);
    color: var(--rpl-clr-dark);
    text-decoration: none;
    position: relative;

    &::after {
      content: '';
      background-color: var(--rpl-clr-dark);
      position: absolute;
      left: 0;
      bottom: calc(var(--rpl-border-width-2) * -1);
      height: var(--rpl-border-width-4);
      width: 100%;
    }
  }

  &:hover {
    text-decoration: none;
  }

  &--inactive {
    color: var(--rpl-clr-neutral-4);
    text-decoration: none;
  }
}
