.rpl-container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 var(--rpl-sp-4);

  @media (--rpl-bp-m) {
    padding: 0 var(--rpl-sp-8);
  }

  @media (--rpl-bp-l) {
    padding: 0 var(--rpl-sp-12);
  }

  @media (--rpl-bp-xl) {
    padding: 0 var(--rpl-sp-13);
  }
}
