/* stylelint-disable declaration-empty-line-before */

/*
  Focus utility classes that can be used to show consistent focus styles across
  any focusable element.
*/

.rpl-u-focusable {
  --local-background-colour: var(--rpl-clr-focus);

  cursor: pointer;

  &:focus-visible,
  &:focus-visible:visited,
  &:focus-visible:hover {
    background-color: var(--local-background-colour) !important;
    border-color: var(--rpl-clr-focus);
    border-radius: 0;
    border-width: var(--rpl-focusable-border-width, 0);
    color: var(--rpl-clr-type-focus-contrast) !important;
    text-decoration: none;
    text-decoration-line: none;
    outline: 0;
    position: relative;

    &::after {
      display: block !important;
      content: '';
      background-color: var(--rpl-clr-dark);
      position: absolute;
      z-index: var(--rpl-z-index-above-content);
      top: auto !important;
      right: auto !important;
      bottom: calc(
        var(--rpl-focusable-border-width, 0px) * -1
      ) !important; /* invert border width as bottom position */
      left: calc(0px - var(--rpl-focusable-border-width, 0px)) !important;
      height: var(--rpl-border-3);
      width: calc(
        100% + var(--rpl-focusable-border-width, 0%) * 2
      ); /* 100% + left and right border width */
    }

    .rpl-icon {
      color: var(--rpl-clr-type-focus-contrast);
    }
  }

  /* Alt colour variant for areas where the background colour does not meet AA
  compliance against the default focus background colour */
  &.rpl-u-focusable--alt-colour {
    &:focus-visible,
    &:focus-visible:visited,
    &:focus-visible:hover {
      --local-background-colour: var(--rpl-clr-light);

      color: var(--rpl-clr-type-default);

      .rpl-icon {
        color: var(--rpl-clr-type-default);
      }
    }
  }

  /* Inline variant */
  &.rpl-u-focusable--inline {
    &:focus-visible,
    &:focus-visible:visited,
    &:focus-visible:hover {
      box-shadow: -1px 0 var(--local-background-colour),
        /* left */ 1px 0 var(--local-background-colour),
        /* right */ -1px -2px var(--local-background-colour),
        /* top - shifted left 1px */ 1px -2px var(--local-background-colour),
        /* top - shifted right 1px */ 1px 4px var(--rpl-clr-dark),
        /* bottom - shifted left 1px */ -1px 4px var(--rpl-clr-dark); /* bottom - shifted right 1px */

      &::after {
        display: none !important;
      }
    }
  }
}
