:root {
  --rpl-type-font-lang-ach: 'Arial', var(--rpl-type-font-family);
  --rpl-type-font-lang-aii: 'Noto Sans Syriac Eastern', var(--rpl-type-font-family);
  --rpl-type-font-lang-am: 'Noto Sans Ethiopic', var(--rpl-type-font-family);
  --rpl-type-font-lang-ar: 'Noto Kufi Arabic', var(--rpl-type-font-family);
  --rpl-type-font-lang-bn: 'Noto Sans Bengali', var(--rpl-type-font-family);
  --rpl-type-font-lang-cld: 'Noto Naskh Arabic', var(--rpl-type-font-family);
  --rpl-type-font-lang-din: 'Arial', var(--rpl-type-font-family);
  --rpl-type-font-lang-el: 'Roboto', var(--rpl-type-font-family);
  --rpl-type-font-lang-fa: 'Noto Naskh Arabic', var(--rpl-type-font-family);
  --rpl-type-font-lang-gu: 'Noto Sans Gujarati', var(--rpl-type-font-family);
  --rpl-type-font-lang-haz: 'Noto Naskh Arabic', var(--rpl-type-font-family);
  --rpl-type-font-lang-he: 'Noto Sans Hebrew', var(--rpl-type-font-family);
  --rpl-type-font-lang-hi: 'Noto Sans Devanagari', var(--rpl-type-font-family);
  --rpl-type-font-lang-ja: 'Noto Sans JP', var(--rpl-type-font-family);
  --rpl-type-font-lang-kar: 'Padauk', var(--rpl-type-font-family);
  --rpl-type-font-lang-km: 'Noto Sans Khmer', var(--rpl-type-font-family);
  --rpl-type-font-lang-ko: 'Noto Sans KR', var(--rpl-type-font-family);
  --rpl-type-font-lang-mk: 'Noto Sans', var(--rpl-type-font-family);
  --rpl-type-font-lang-my: 'Noto Sans Myanmar', var(--rpl-type-font-family);
  --rpl-type-font-lang-ne: 'Cambay', var(--rpl-type-font-family);
  --rpl-type-font-lang-nus: 'Arial', var(--rpl-type-font-family);
  --rpl-type-font-lang-pa: 'Noto Sans Gurmukhi', var(--rpl-type-font-family);
  --rpl-type-font-lang-prs: 'Noto Naskh Arabic', var(--rpl-type-font-family);
  --rpl-type-font-lang-ps: 'Noto Naskh Arabic', var(--rpl-type-font-family);
  --rpl-type-font-lang-ru: 'Roboto', var(--rpl-type-font-family);
  --rpl-type-font-lang-si: 'Noto Sans Sinhala', var(--rpl-type-font-family);
  --rpl-type-font-lang-sr: 'Roboto', var(--rpl-type-font-family);
  --rpl-type-font-lang-ta: 'Noto Sans Tamil', var(--rpl-type-font-family);
  --rpl-type-font-lang-te: 'Noto Sans Telugu', var(--rpl-type-font-family);
  --rpl-type-font-lang-th: 'Noto Sans Thai', var(--rpl-type-font-family);
  --rpl-type-font-lang-ti: 'Noto Sans Ethiopic', var(--rpl-type-font-family);
  --rpl-type-font-lang-ur: 'NafeesRegular', var(--rpl-type-font-family);
  --rpl-type-font-lang-vi: 'Roboto', var(--rpl-type-font-family);
  --rpl-type-font-lang-zh-hans: 'Noto Sans SC', var(--rpl-type-font-family);
  --rpl-type-font-lang-zh-hant: 'Noto Sans TC', var(--rpl-type-font-family);
}

.rpl-u-font-lang--ar {
  font-family: var(--rpl-type-font-lang-ar);
}

.rpl-u-font-lang--fa {
  font-family: var(--rpl-type-font-lang-fa);
}

.rpl-u-font-lang--ur {
  font-family: var(--rpl-type-font-lang-ur);
}

.rpl-u-font-lang--cld {
  font-family: var(--rpl-type-font-lang-cld);
}

.rpl-u-font-lang--nus {
  font-family: var(--rpl-type-font-lang-nus);
}

.rpl-u-font-lang--din {
  font-family: var(--rpl-type-font-lang-din);
}

.rpl-u-font-lang--hi {
  font-family: var(--rpl-type-font-lang-hi);
}

.rpl-u-font-lang--ta {
  font-family: var(--rpl-type-font-lang-ta);
}

.rpl-u-font-lang--bn {
  font-family: var(--rpl-type-font-lang-bn);
}

.rpl-u-font-lang--el {
  font-family: var(--rpl-type-font-lang-el);
}

.rpl-u-font-lang--my {
  font-family: var(--rpl-type-font-lang-my);
}

.rpl-u-font-lang--ach {
  font-family: var(--rpl-type-font-lang-ach);
}

.rpl-u-font-lang--aii {
  font-family: var(--rpl-type-font-lang-aii);
}

.rpl-u-font-lang--am {
  font-family: var(--rpl-type-font-lang-am);
}

.rpl-u-font-lang--zh-hans {
  font-family: var(--rpl-type-font-lang-zh-hans);
}

.rpl-u-font-lang--zh-hant {
  font-family: var(--rpl-type-font-lang-zh-hant);
}

.rpl-u-font-lang--prs {
  font-family: var(--rpl-type-font-lang-prs);
}

.rpl-u-font-lang--ps {
  font-family: var(--rpl-type-font-lang-ps);
}

.rpl-u-font-lang--gu {
  font-family: var(--rpl-type-font-lang-gu);
}

.rpl-u-font-lang--haz {
  font-family: var(--rpl-type-font-lang-haz);
}

.rpl-u-font-lang--ja {
  font-family: var(--rpl-type-font-lang-ja);
}

.rpl-u-font-lang--kar {
  font-family: var(--rpl-type-font-lang-kar);
}

.rpl-u-font-lang--km {
  font-family: var(--rpl-type-font-lang-km);
}

.rpl-u-font-lang--ko {
  font-family: var(--rpl-type-font-lang-ko);
}

.rpl-u-font-lang--mk {
  font-family: var(--rpl-type-font-lang-mk);
}

.rpl-u-font-lang--ne {
  font-family: var(--rpl-type-font-lang-ne);
}

.rpl-u-font-lang--pa {
  font-family: var(--rpl-type-font-lang-pa);
}

.rpl-u-font-lang--ru {
  font-family: var(--rpl-type-font-lang-ru);
}

.rpl-u-font-lang--sr {
  font-family: var(--rpl-type-font-lang-sr);
}

.rpl-u-font-lang--si {
  font-family: var(--rpl-type-font-lang-si);
}

.rpl-u-font-lang--te {
  font-family: var(--rpl-type-font-lang-te);
}

.rpl-u-font-lang--th {
  font-family: var(--rpl-type-font-lang-th);
}

.rpl-u-font-lang--ti {
  font-family: var(--rpl-type-font-lang-ti);
}

.rpl-u-font-lang--vi {
  font-family: var(--rpl-type-font-lang-vi);
}
