/* Lists

  Due to the complexities of ul and ol styling the stylint rule for
  'no-descending-specificity' has been disabled for this file.
*/
/* stylelint-disable no-descending-specificity */
.rpl-type-list-ol,
.rpl-content ol {
  display: block;
  list-style-type: decimal;
  font-size: var(--rpl-type-size-2);
  line-height: var(--rpl-type-lh-4);
  letter-spacing: var(--rpl-type-ls-1);
  margin-left: var(--rpl-sp-4);
  padding-left: var(--rpl-sp-4);

  @media (--rpl-bp-l) {
    margin-left: var(--rpl-sp-5);
  }

  li {
    padding: 0 0 var(--rpl-sp-2) var(--rpl-sp-2);

    &:last-of-type {
      padding-bottom: 0;
    }
  }

  ::marker {
    font-size: var(--rpl-type-size-2);
    line-height: var(--rpl-type-lh-4);
    letter-spacing: 0;
  }

  /* Sub lists */
  .rpl-type-list-ol,
  .rpl-type-list-ul,
  ol,
  ul {
    margin-left: 0;
    padding-top: var(--rpl-sp-2);
    padding-left: var(--rpl-sp-5);
  }

  /* Level 2 */
  & > li > ol {
    list-style-type: lower-alpha;
  }

  /* Level 3 */
  & > li > ol > li > ol {
    list-style-type: lower-roman;

    ::marker {
      letter-spacing: var(--rpl-type-ls-1);
    }
  }
}

.rpl-type-list-ul,
.rpl-content ul {
  display: block;
  font-size: var(--rpl-type-size-2);
  line-height: var(--rpl-type-lh-4);
  letter-spacing: var(--rpl-type-ls-1);
  margin-left: var(--rpl-sp-4);
  padding-left: var(--rpl-sp-4);
  list-style-type: none;

  @media (--rpl-bp-l) {
    margin-left: var(--rpl-sp-5);
  }

  > li {
    position: relative;
    padding: 0 0 var(--rpl-sp-2) var(--rpl-sp-2);

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 1.1rem;
      left: -0.9rem;
      background-color: currentcolor;
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 50%;
    }

    &:last-of-type {
      padding-bottom: 0;
    }
  }

  ::marker {
    font-size: var(--rpl-type-size-2);
    line-height: var(--rpl-type-lh-4);
    letter-spacing: 0;
  }

  /* Sub lists */
  .rpl-type-list-ul,
  .rpl-type-list-ol,
  ul,
  ol {
    margin-left: 0;
    padding-top: var(--rpl-sp-2);
    padding-left: var(--rpl-sp-5);
  }

  /* Level 2 */
  & > li > ul {
    list-style-type: none;

    li {
      position: relative;

      &::before {
        content: '-';
        display: block;
        position: absolute;
        top: 0;
        left: -1rem;
        background-color: transparent;
      }
    }
  }
}

[dir='rtl'] .rpl-type-list-ol,
[dir='rtl'] .rpl-content ol,
[dir='rtl'] .rpl-type-list-ul,
[dir='rtl'] .rpl-content ul {
  margin-left: 0;
  margin-right: var(--rpl-sp-4);
  padding-left: 0;
  padding-right: var(--rpl-sp-4);

  @media (--rpl-bp-l) {
    margin-left: 0;
    margin-right: var(--rpl-sp-5);
  }

  > li {
    padding: 0 var(--rpl-sp-2) var(--rpl-sp-2) 0;
  }
}

[dir='rtl'] .rpl-type-list-ul,
[dir='rtl'] .rpl-content ul {
  > li {
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 1.1rem;
      right: -0.9rem;
      background-color: currentcolor;
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 50%;
    }
  }
}
