/* Headings */
.rpl-type-h1-highlight {
  padding: 0 var(--rpl-space-3);
  font-size: var(--rpl-type-size-6);
  font-weight: var(--rpl-type-weight-bold);
  line-height: var(--rpl-type-lh-9);
  letter-spacing: var(--rpl-type-ls-5);
  color: var(
    --rpl-theme-text-h1-highlight-bg-color,
    var(--rpl-clr-core-accent-contrast)
  );
  background-color: var(--rpl-clr-core-accent);

  @media (--rpl-bp-l) {
    padding: 0 var(--rpl-space-4);
    font-size: var(--rpl-type-size-8);
    line-height: var(--rpl-type-lh-12);
    letter-spacing: var(--rpl-type-ls-7);
  }
}

.rpl-type-h1 {
  font-size: var(--rpl-type-size-6);
  font-weight: var(--rpl-type-weight-bold);
  line-height: var(--rpl-type-lh-9);
  letter-spacing: var(--rpl-type-ls-5);
  color: var(--rpl-theme-text-h1-color, var(--rpl-clr-core-primary));

  @media (--rpl-bp-l) {
    font-size: var(--rpl-type-size-8);
    line-height: var(--rpl-type-lh-12);
    letter-spacing: var(--rpl-type-ls-7);
  }
}

.rpl-type-h2 {
  font-size: var(--rpl-type-size-4);
  font-weight: var(--rpl-type-weight-bold);
  line-height: var(--rpl-type-lh-6);
  letter-spacing: var(--rpl-type-ls-4);
  color: var(--rpl-theme-text-heading-color, var(--rpl-clr-type-default));
  margin-bottom: var(--rpl-space-4);

  @media (--rpl-bp-l) {
    font-size: var(--rpl-type-size-7);
    line-height: var(--rpl-type-lh-10);
    letter-spacing: var(--rpl-type-ls-6);
    margin-bottom: var(--rpl-space-5);
  }
}

.rpl-type-h3 {
  font-size: var(--rpl-type-size-3);
  font-weight: var(--rpl-type-weight-bold);
  line-height: var(--rpl-type-lh-5);
  letter-spacing: var(--rpl-type-ls-2);
  color: var(--rpl-theme-text-heading-color, var(--rpl-clr-type-default));
  margin-bottom: var(--rpl-space-3);

  @media (--rpl-bp-l) {
    font-size: var(--rpl-type-size-5);
    line-height: var(--rpl-type-lh-8);
    letter-spacing: var(--rpl-type-ls-5);
    margin-bottom: var(--rpl-space-4);
  }
}

.rpl-type-h4 {
  font-size: var(--rpl-type-size-2);
  font-weight: var(--rpl-type-weight-bold);
  line-height: var(--rpl-type-lh-4);
  letter-spacing: var(--rpl-type-ls-1);
  color: var(--rpl-clr-type-default);
  margin-bottom: var(--rpl-space-2);

  @media (--rpl-bp-l) {
    font-size: var(--rpl-type-size-4);
    line-height: var(--rpl-type-lh-6);
    letter-spacing: var(--rpl-type-ls-4);
    margin-bottom: var(--rpl-space-3);
  }
}

/* Paragraphs */
.rpl-type-p-large {
  font-size: var(--rpl-type-size-3);
  line-height: var(--rpl-type-lh-5);
  letter-spacing: var(--rpl-type-ls-2);
  color: var(--rpl-clr-type-default);

  @media (--rpl-bp-l) {
    font-size: var(--rpl-type-size-5);
    line-height: var(--rpl-type-lh-7);
    letter-spacing: var(--rpl-type-ls-5);
  }
}

.rpl-type-p {
  font-size: var(--rpl-type-size-2);
  line-height: var(--rpl-type-lh-4);
  letter-spacing: var(--rpl-type-ls-1);
  color: var(--rpl-clr-type-default);
  margin-bottom: var(--rpl-space-8);
}

.rpl-type-p-small {
  font-size: var(--rpl-type-size-1);
  line-height: var(--rpl-type-lh-3);
  letter-spacing: var(--rpl-type-ls-1);
  color: var(--rpl-clr-type-default);
  margin-bottom: var(--rpl-space-8);
}

/* Lists */
.rpl-type-list-ol {
  font-size: var(--rpl-type-size-2);
  line-height: var(--rpl-type-lh-4);
  letter-spacing: var(--rpl-type-ls-1);
  color: var(--rpl-clr-type-default);
  margin-bottom: var(--rpl-space-8);

  /*
    TODO: List styling goes here, e.g:
      - item spacing
      - 3 levels of item number styling
  */
}

.rpl-type-list-ul {
  font-size: var(--rpl-type-size-2);
  line-height: var(--rpl-type-lh-4);
  letter-spacing: var(--rpl-type-ls-1);
  color: var(--rpl-clr-type-default);
  margin-bottom: var(--rpl-space-8);

  /*
    TODO: List styling goes here, e.g:
      - item spacing
      - 2 levels of item bullet styling
  */
}

/* Label */
.rpl-type-label-large {
  font-size: var(--rpl-type-size-3);
  font-weight: var(--rpl-type-weight-bold);
  line-height: var(--rpl-type-lh-3);
  letter-spacing: var(--rpl-type-ls-6);
}

.rpl-type-label {
  font-size: var(--rpl-type-size-2);
  line-height: var(--rpl-type-lh-2);
  letter-spacing: var(--rpl-type-ls-1);
}

.rpl-type-label-small {
  font-size: var(--rpl-type-size-1);
  line-height: var(--rpl-type-lh-1);
  letter-spacing: var(--rpl-type-ls-3);
}

/* Modifiers */
.rpl-type-weight-bold {
  font-weight: var(--rpl-type-weight-bold);
}
