/* Global */
html {
  color: var(--rpl-clr-type-default);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
  Headings
  1. Magic number value so that the UI visually matches the design system.
*/

/* h1 */
.rpl-type-h1-highlight {
  display: inline;
  padding: 0.25rem var(--rpl-sp-3); /* [1] */
  font-size: var(--rpl-type-size-6);
  font-weight: var(--rpl-type-weight-bold);
  line-height: var(--rpl-type-lh-10);
  letter-spacing: var(--rpl-type-ls-5);
  color: var(--rpl-clr-type-accent-contrast);
  background-color: var(--rpl-clr-accent);
  box-decoration-break: clone;

  @media (--rpl-bp-l) {
    padding: 0.6rem var(--rpl-sp-4); /* [1] */
    font-size: var(--rpl-type-size-8);
    line-height: 9.6rem; /* [1] */
    letter-spacing: var(--rpl-type-ls-7);
  }
}

.rpl-type-h1-highlight-fixed {
  display: inline;
  padding: 0.25rem var(--rpl-sp-3); /* [1] */
  font-size: var(--rpl-type-size-6);
  font-weight: var(--rpl-type-weight-bold);
  line-height: var(--rpl-type-lh-10);
  letter-spacing: var(--rpl-type-ls-5);
  color: var(--rpl-clr-type-accent-contrast);
  background-color: var(--rpl-clr-accent);
  box-decoration-break: clone;
}

.rpl-content h1,
.rpl-type-h1 {
  display: block;
  font-size: var(--rpl-type-size-6);
  font-weight: var(--rpl-type-weight-bold);
  line-height: var(--rpl-type-lh-8);
  letter-spacing: var(--rpl-type-ls-5);
  color: var(--rpl-clr-primary);

  @media (--rpl-bp-l) {
    font-size: var(--rpl-type-size-8);
    line-height: var(--rpl-type-lh-11);
    letter-spacing: var(--rpl-type-ls-7);
  }
}

.rpl-type-h1-fixed {
  display: block;
  font-size: var(--rpl-type-size-6);
  font-weight: var(--rpl-type-weight-bold);
  line-height: var(--rpl-type-lh-8);
  letter-spacing: var(--rpl-type-ls-5);
  color: var(--rpl-clr-primary);
}

/* h2 */
.rpl-content h2,
.rpl-type-h2 {
  display: block;
  font-size: var(--rpl-type-size-4);
  font-weight: var(--rpl-type-weight-bold);
  line-height: var(--rpl-type-lh-6);
  letter-spacing: var(--rpl-type-ls-4);

  @media (--rpl-bp-l) {
    font-size: var(--rpl-type-size-6);
    line-height: var(--rpl-type-lh-8);
    letter-spacing: var(--rpl-type-ls-5);
  }
}

.rpl-type-h2-fixed {
  display: block;
  font-size: var(--rpl-type-size-4);
  font-weight: var(--rpl-type-weight-bold);
  line-height: var(--rpl-type-lh-6);
  letter-spacing: var(--rpl-type-ls-4);
}

/* h3 */
.rpl-type-h3-highlight {
  display: inline;
  padding: 0.05rem var(--rpl-sp-2); /* [1] */
  font-size: var(--rpl-type-size-3);
  font-weight: var(--rpl-type-weight-bold);
  line-height: var(--rpl-type-lh-6);
  letter-spacing: var(--rpl-type-ls-2);
  color: var(--rpl-clr-type-primary-contrast);
  background-color: var(--rpl-clr-primary);
  box-decoration-break: clone;

  @media (--rpl-bp-l) {
    padding: 0 var(--rpl-sp-2);
    font-size: var(--rpl-type-size-4);
    line-height: var(--rpl-type-lh-7);
    letter-spacing: var(--rpl-type-ls-4);
  }
}

.rpl-type-h3-highlight-fixed {
  display: inline;
  padding: 0.05rem var(--rpl-sp-2); /* [1] */
  font-size: var(--rpl-type-size-3);
  font-weight: var(--rpl-type-weight-bold);
  line-height: var(--rpl-type-lh-6);
  letter-spacing: var(--rpl-type-ls-2);
  color: var(--rpl-clr-type-primary-contrast);
  background-color: var(--rpl-clr-primary);
  box-decoration-break: clone;
}

.rpl-content h3,
.rpl-type-h3 {
  display: block;
  font-size: var(--rpl-type-size-3);
  font-weight: var(--rpl-type-weight-bold);
  line-height: var(--rpl-type-lh-5);
  letter-spacing: var(--rpl-type-ls-2);

  @media (--rpl-bp-l) {
    font-size: var(--rpl-type-size-4);
    line-height: var(--rpl-type-lh-6);
    letter-spacing: var(--rpl-type-ls-4);
  }
}

.rpl-type-h3-fixed {
  display: block;
  font-size: var(--rpl-type-size-3);
  font-weight: var(--rpl-type-weight-bold);
  line-height: var(--rpl-type-lh-5);
  letter-spacing: var(--rpl-type-ls-2);
}

/* h4 */
.rpl-content h4,
.rpl-type-h4 {
  display: block;
  font-size: var(--rpl-type-size-2);
  font-weight: var(--rpl-type-weight-bold);
  line-height: var(--rpl-type-lh-4);
  letter-spacing: var(--rpl-type-ls-1);

  @media (--rpl-bp-l) {
    font-size: var(--rpl-type-size-3);
    line-height: var(--rpl-type-lh-5);
    letter-spacing: var(--rpl-type-ls-2);
  }
}

.rpl-type-h4-fixed {
  display: block;
  font-size: var(--rpl-type-size-2);
  font-weight: var(--rpl-type-weight-bold);
  line-height: var(--rpl-type-lh-4);
  letter-spacing: var(--rpl-type-ls-1);
}

/* Paragraphs */
.rpl-type-p-large {
  display: block;
  font-size: var(--rpl-type-size-3);
  line-height: var(--rpl-type-lh-5);
  letter-spacing: var(--rpl-type-ls-2);

  @media (--rpl-bp-l) {
    font-size: var(--rpl-type-size-4);
    line-height: var(--rpl-type-lh-6);
    letter-spacing: var(--rpl-type-ls-4);
  }
}

.rpl-type-p-large-fixed {
  display: block;
  font-size: var(--rpl-type-size-3);
  line-height: var(--rpl-type-lh-5);
  letter-spacing: var(--rpl-type-ls-2);
}

.rpl-content p,
.rpl-type-p {
  display: block;
  font-size: var(--rpl-type-size-2);
  line-height: var(--rpl-type-lh-4);
  letter-spacing: var(--rpl-type-ls-1);
}

.rpl-type-p-small {
  display: block;
  font-size: var(--rpl-type-size-1);
  line-height: var(--rpl-type-lh-3);
  letter-spacing: var(--rpl-type-ls-1);
}

/* Labels */
.rpl-type-label-large {
  font-size: var(--rpl-type-size-3);
  font-weight: var(--rpl-type-weight-bold);
  line-height: var(--rpl-type-lh-3);
  letter-spacing: var(--rpl-type-ls-6);
}

.rpl-type-label {
  font-size: var(--rpl-type-size-2);
  line-height: var(--rpl-type-lh-2);
  letter-spacing: var(--rpl-type-ls-1);
}

.rpl-type-label-small {
  font-size: var(--rpl-type-size-1);
  line-height: var(--rpl-type-lh-1);
  letter-spacing: var(--rpl-type-ls-3);
}

/* Modifiers */
.rpl-type-weight-bold {
  font-weight: var(--rpl-type-weight-bold);
}
