.rpl-type {
  &-h1-highlight {
    font-weight: var(--rpl-type-weight-bold);
    font-size: var(--rpl-type-size-h-mob-xl);
    line-height: var(--rpl-type-height-h-mob-xxl);
    letter-spacing: var(--rpl-type-l-spacing-2);
    background-color: var(--rpl-clr-core-accent);
    color: var(
      --rpl-theme-text-h1-highlight-bg-color,
      var(--rpl-clr-core-accent-contrast)
    );
    padding: 0 var(--rpl-space-3);
    @media (--rpl-bp-l) {
      padding: 0 var(--rpl-space-4);
      font-size: var(--rpl-type-size-h-desk-xl);
      line-height: var(--rpl-type-height-h-desk-xxl);
      letter-spacing: var(--rpl-type-l-spacing-1);
    }
  }

  &-h1 {
    font-weight: var(--rpl-type-weight-bold);
    font-size: var(--rpl-type-size-h-mob-xl);
    line-height: var(--rpl-type-height);
    letter-spacing: var(--rpl-type-l-spacing-2);
    color: var(--rpl-theme-text-h1-color, var(--rpl-clr-core-primary));
    @media (--rpl-bp-l) {
      font-size: var(--rpl-type-size-h-desk-xl);
      line-height: var(--rpl-type-height-h-desk-xl);
      letter-spacing: var(--rpl-type-l-spacing-1);
    }
  }

  &-h2 {
    font-weight: var(--rpl-type-weight-bold);
    font-size: var(--rpl-type-size-h-mob-l);
    line-height: var(--rpl-type-height);
    letter-spacing: var(--rpl-type-l-spacing-3);
    color: var(--rpl-theme-text-heading-color, var(--rpl-clr-type-default));
    @media (--rpl-bp-l) {
      font-size: var(--rpl-type-size-h-desk-l);
      line-height: var(--rpl-type-height-h-desk-l);
      letter-spacing: var(--rpl-type-l-spacing-5);
    }
  }

  &-h3 {
    font-weight: var(--rpl-type-weight-bold);
    font-size: var(--rpl-type-size-h-mob-m);
    line-height: var(--rpl-type-height-h-mob-m);
    letter-spacing: var(--rpl-type-l-spacing-6);
    color: var(--rpl-theme-text-heading-color, var(--rpl-clr-type-default));
    @media (--rpl-bp-l) {
      font-size: var(--rpl-type-size-h-desk-m);
      line-height: var(--rpl-type-height-h-desk-m);
      letter-spacing: var(--rpl-type-l-spacing-2);
    }
  }

  &-h4 {
    font-weight: var(--rpl-type-weight-bold);
    font-size: var(--rpl-type-size-h-mob-s);
    line-height: var(--rpl-type-height);
    letter-spacing: var(--rpl-type-l-spacing-4);
    color: var(--rpl-clr-type-default);
    @media (--rpl-bp-l) {
      font-size: var(--rpl-type-size-h-desk-s);
      line-height: var(--rpl-type-height-h-desk-s);
      letter-spacing: var(--rpl-type-l-spacing-3);
    }
  }

  &-body-large {
    font-weight: var(--rpl-type-weight-regular);
    font-size: var(--rpl-type-size-h-mob-m);
    line-height: var(--rpl-type-height-bp-mob-m);
    letter-spacing: var(--rpl-type-l-spacing-4);
    color: var(--rpl-clr-type-default);
    @media (--rpl-bp-l) {
      font-size: var(--rpl-type-size-p-l);
      line-height: var(--rpl-type-height-p-l);
      letter-spacing: var(--rpl-type-l-spacing-3);
    }
  }

  &-body {
    font-weight: var(--rpl-type-weight-regular);
    font-size: var(--rpl-type-size-p-m);
    line-height: var(--rpl-type-height-p-m);
    letter-spacing: var(--rpl-type-l-spacing-4);
    color: var(--rpl-clr-type-default);
  }

  &-body-link {
    font-weight: var(--rpl-type-weight-regular);
    font-size: var(--rpl-type-size-p-m);
    line-height: var(--rpl-type-height-p-m);
    letter-spacing: var(--rpl-type-l-spacing-4);
    color: var(--rpl-clr-type-link);
  }

  &-body-bold {
    font-weight: var(--rpl-type-weight-bold);
    font-size: var(--rpl-type-size-p-m);
    line-height: var(--rpl-type-height-p-m);
    letter-spacing: var(--rpl-type-l-spacing-4);
    color: var(--rpl-clr-type-default);
  }

  &-body-ol {
    font-weight: var(--rpl-type-weight-regular);
    font-size: var(--rpl-type-size-p-m);
    line-height: var(--rpl-type-height-p-m);
    letter-spacing: var(--rpl-type-l-spacing-4);
    color: var(--rpl-clr-type-default);
  }

  &-body-ul {
    font-weight: var(--rpl-type-weight-regular);
    font-size: var(--rpl-type-size-p-m);
    line-height: var(--rpl-type-height-p-m);
    letter-spacing: var(--rpl-type-l-spacing-4);
    color: var(--rpl-clr-type-default);
  }

  &-component-large-bold {
    font-weight: var(--rpl-type-weight-bold);
    font-size: var(--rpl-type-size-component-l);
    line-height: var(--rpl-type-size-component-l);
    letter-spacing: var(--rpl-type-l-spacing-5);
  }

  &-component {
    font-weight: var(--rpl-type-weight-regular);
    font-size: var(--rpl-type-size-component-m);
    line-height: var(--rpl-type-height-component-m);
    letter-spacing: var(--rpl-type-l-spacing-4);
  }

  &-component-bold {
    font-weight: var(--rpl-type-weight-bold);
    font-size: var(--rpl-type-size-component-m);
    line-height: var(--rpl-type-height-component-m);
    letter-spacing: var(--rpl-type-l-spacing-4);
  }

  &-component-bold-link {
    font-weight: var(--rpl-type-weight-bold);
    font-size: var(--rpl-type-size-component-m);
    line-height: var(--rpl-type-height-component-m);
    letter-spacing: var(--rpl-type-l-spacing-4);
  }

  &-component-small {
    font-weight: var(--rpl-type-weight-regular);
    font-size: var(--rpl-type-size-component-xs);
    line-height: var(--rpl-type-height-component-xs);
    letter-spacing: var(--rpl-type-l-spacing-3);
  }

  &-component-caps {
    font-weight: var(--rpl-type-weight-regular);
    font-size: var(--rpl-type-size-p-m);
    line-height: var(--rpl-type-height-p-m);
    letter-spacing: var(--rpl-type-l-spacing-4);
    text-transform: uppercase;
  }

  &-component-caps-bold {
    font-weight: var(--rpl-type-weight-bold);
    font-size: var(--rpl-type-size-p-m);
    line-height: var(--rpl-type-height-p-m);
    letter-spacing: var(--rpl-type-l-spacing-4);
    text-transform: uppercase;
  }
}

/* Visually hidden text for screen readers only */
.rpl-u-visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
  pointer-events: none;
}
