.rpl-u-h1 {
  color: black;
}

.rpl-u-h1-highlight {
  color: black;
}

.rpl-u-h2 {
  color: black;
}

.rpl-u-h3 {
  color: black;
}

.rpl-u-h4 {
  color: black;
}

.rpl-u-p {
  color: black;
}

.rpl-u-small {
  color: black;
}
