@import '@dpc-sdp/ripple-ui-core/style/breakpoints';

.rpl-card {
  background-color: var(--rpl-clr-light);
  border: var(--rpl-border-1) solid var(--rpl-clr-neutral-300);
  border-radius: var(--rpl-border-radius-2);
  color: var(--rpl-clr-type-default);
  text-decoration: none;

  &__media {
    display: block;
    object-fit: cover;
    max-height: 24rem;
    width: 100%;

    &--avatar {
      display: inline-block;
      border-radius: var(--rpl-border-radius-full);
      height: 14.8rem;
      width: 14.8rem;
      margin: var(--rpl-sp-11) var(--rpl-sp-5) 0;
    }

    &--inset {
      margin: var(--rpl-sp-5) var(--rpl-sp-5) 0;
      width: calc(100% - var(--rpl-sp-5) * 2);
    }

    &--category-grid {
      height: 5.2rem;
      width: 5.2rem;
    }
  }

  &__meta {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: var(--rpl-sp-2);
    margin-top: var(--rpl-sp-3);
    margin-bottom: var(--rpl-sp-3);

    .rpl-card--avatar & {
      justify-content: center;
    }
  }

  &__topic {
    color: var(--rpl-clr-neutral-600);
    text-transform: uppercase;
  }

  &__body {
    margin: var(--rpl-sp-5) var(--rpl-sp-5);
  }

  &__content {
    margin-top: var(--rpl-sp-3);
    margin-bottom: var(--rpl-sp-3);
  }

  &__lower {
    border-top: 1px solid var(--rpl-clr-neutral-300);
    margin: var(--rpl-sp-5) var(--rpl-sp-5);
    padding-top: var(--rpl-sp-3);
  }

  &__cta {
    .rpl-card__upper & {
      margin: var(--rpl-sp-5) var(--rpl-sp-5) 0;
    }

    .rpl-card__lower & {
      color: var(--rpl-clr-type-default);
      font-weight: var(--rpl-type-weight-bold);
    }

    .rpl-text-link {
      color: var(--rpl-clr-type-default);
      text-decoration: none;
    }

    &.rpl-type-h3-highlight .rpl-text-link {
      color: var(--rpl-clr-type-contrast);
    }
  }

  &__highlight::before {
    content: '';
    display: block;
    height: var(--rpl-border-4);
    background: var(--rpl-clr-gradient-horizontal);
  }

  &__keydates {
    margin: var(--rpl-sp-5) 0;
    padding-left: 0;
  }

  &__keydate {
    list-style-type: none;
    margin-bottom: var(--rpl-sp-6);

    .rpl-type-h4-fixed {
      margin-top: var(--rpl-sp-2);
    }
  }

  &--avatar {
    text-align: center;
  }

  &--active {
    cursor: pointer;
  }

  @media (--rpl-bp-l) {
    &--inset {
      display: flex;

      .rpl-card__upper {
        flex: 0 0 50%;
        margin-bottom: var(--rpl-sp-5);
      }

      .rpl-card__meta {
        margin-top: 0;
      }
    }
  }

  &:hover {
    /* cursor: pointer; */
    box-shadow: var(--rpl-elevation-1);

    .rpl-text-link {
      text-decoration: underline;

      &:focus-visible {
        text-decoration: none;
      }
    }

    .rpl-card__lower .rpl-card__cta {
      color: var(--rpl-clr-link);
      text-decoration: none;
    }
  }

  &:active .rpl-card__lower .rpl-card__cta,
  &:active .rpl-card__cta .rpl-text-link,
  &:hover .rpl-card__cta .rpl-text-link {
    color: var(--rpl-clr-link);
  }

  &:active .rpl-card__cta.rpl-type-h3-highlight .rpl-text-link,
  &:active .rpl-card__cta.rpl-type-h3-highlight,
  &:hover .rpl-card__cta.rpl-type-h3-highlight .rpl-text-link,
  &:hover .rpl-card__cta.rpl-type-h3-highlight {
    color: var(--rpl-clr-type-primary-contrast);
    background-color: var(--rpl-clr-primary-alt);
  }

  /* stylelint-disable no-descending-specificity */
  &--call-to-action {
    .rpl-button {
      margin-top: var(--rpl-sp-3);
      margin-bottom: var(--rpl-sp-3);
    }

    &:active .rpl-card__cta .rpl-text-link,
    &:hover .rpl-card__cta .rpl-text-link {
      color: var(--rpl-clr-type-default);
      text-decoration: none;
    }

    &:active .rpl-button,
    &:hover .rpl-button {
      background-color: var(--rpl-clr-primary-alt);
      border-color: var(--rpl-clr-primary-alt);
    }

    &:hover .rpl-button {
      text-decoration: underline;
    }
  }

  &--category-grid {
    background-color: transparent;
    border-radius: 0;
    border: none;
    margin-top: var(--rpl-sp-4);

    .rpl-card__cta .rpl-text-link {
      text-decoration: underline;
    }

    .rpl-card__body {
      margin-right: 0;
      margin-left: 0;
    }

    &:hover {
      box-shadow: none;

      .rpl-card__cta .rpl-text-link {
        text-decoration: none;
      }
    }

    .rpl-card__cta .rpl-text-link:focus-visible {
      text-decoration: none;
    }
  }
  /* stylelint-enable no-descending-specificity */
}
