@import '../../styles/_breakpoints.css';

/* Toggle all button */
.rpl-accordion__toggle-all-wrapper {
  display: flex;
  justify-content: flex-end;
}

/* List of items */
.rpl-accordion__items {
  border-top: solid var(--rpl-border-1) var(--rpl-clr-neutral-300);
}

.rpl-accordion__item {
  position: relative;
  border-bottom: solid var(--rpl-border-1) var(--rpl-clr-neutral-300);

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: var(--rpl-border-3);
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--rpl-clr-accent);
    opacity: 0;
    transition: opacity 0.3s ease-out;
  }

  &.rpl-accordion__item--active {
    &::after {
      opacity: 1;
    }
  }
}

/* Item toggle */
.rpl-accordion__item-toggle {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  background: none;
  border: 0;
  padding: var(--rpl-sp-4) var(--rpl-sp-5);
  text-align: left;
  cursor: pointer;

  @media (--rpl-bp-l) {
    padding: var(--rpl-sp-5) var(--rpl-sp-7);
  }
}

.rpl-accordion__item-heading-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.rpl-accordion__item-heading {
  margin-bottom: 0;

  .rpl-accordion__item-toggle:hover & {
    color: var(--rpl-clr-link);
    text-decoration: underline;
  }
}

.rpl-accordion__item-number {
  flex-shrink: 0;
  width: var(--rpl-sp-6);
  margin-right: var(--rpl-sp-2);
  margin-bottom: 0;
  color: var(--rpl-clr-neutral-600);

  @media (--rpl-bp-l) {
    width: var(--rpl-sp-8);
    margin-right: var(--rpl-sp-3);
  }
}

.rpl-accordion__item-icon {
  flex-shrink: 0;
  display: flex;
  margin-top: var(--rpl-sp-2);
  margin-left: var(--rpl-sp-4);
  transition: transform 0.3s ease-out;

  @media (--rpl-bp-l) {
    margin-left: var(--rpl-sp-6);
  }

  .rpl-accordion__item--active & {
    transform: rotate(180deg);
  }
}

/* Item content */
.rpl-accordion__item-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 300ms ease-out;

  .rpl-accordion__item--active & {
    max-height: 300px;
  }
}

.rpl-accordion__item-content-inner {
  padding: 0 var(--rpl-sp-7) var(--rpl-sp-6);

  @media (--rpl-bp-l) {
    padding: 0 var(--rpl-sp-7) var(--rpl-sp-8);
  }

  p {
    margin-top: 0;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
