@import '@dpc-sdp/ripple-ui-core/style/breakpoints';

.rpl-accordion {
  @media (--rpl-bp-m) {
    max-width: var(--rpl-content-max-width);
  }
}

/* Toggle all button */
.rpl-accordion__toggle-all-wrapper {
  display: flex;
  justify-content: flex-end;
}

.rpl-accordion__toggle-all {
  color: var(--rpl-clr-link);
  background: transparent;
  border: 0;
  margin: 0 var(--rpl-sp-5) var(--rpl-sp-3) var(--rpl-sp-5);
  padding: 0;
  font-family: var(--rpl-type-font-family);
  font-weight: var(--rpl-type-weight-bold);
  font-size: var(--rpl-type-size-1);
  line-height: var(--rpl-type-lh-3);
  letter-spacing: var(--rpl-type-ls-3);
  text-decoration-line: underline;
  cursor: pointer;

  @media (--rpl-bp-l) {
    margin: 0 var(--rpl-sp-7) var(--rpl-sp-3) var(--rpl-sp-7);
    font-size: var(--rpl-type-size-2);
    line-height: var(--rpl-type-lh-4);
    letter-spacing: var(--rpl-type-ls-1);
  }

  &:hover {
    text-decoration-line: none;
  }

  &:active {
    color: var(--rpl-clr-dark);
    text-decoration-line: none;
  }
}

/* List of items */
.rpl-accordion__items {
  border-top: solid var(--rpl-border-1) var(--rpl-clr-neutral-300);
}

.rpl-accordion__item {
  position: relative;
  background-color: var(--rpl-clr-light);
  border-bottom: solid var(--rpl-border-1) var(--rpl-clr-neutral-300);

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: var(--rpl-border-3);
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--rpl-clr-accent);
    opacity: 0;
    transition: opacity var(--rpl-motion-speed-9) ease-out;

    @media print {
      display: none;
    }
  }

  &.rpl-accordion__item--active {
    &::after {
      opacity: 1;
    }
  }
}

/* Item toggle */
.rpl-accordion__item-toggle {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding-top: var(--rpl-sp-4);
  padding-right: var(--rpl-sp-5);
  padding-bottom: calc(var(--rpl-sp-4) - var(--rpl-border-1));
  padding-left: var(--rpl-sp-5);
  background: none;
  border: 0;
  text-align: left;
  cursor: pointer;

  @media (--rpl-bp-l) {
    padding-top: var(--rpl-sp-5);
    padding-right: var(--rpl-sp-7);
    padding-bottom: calc(var(--rpl-sp-5) - var(--rpl-border-1));
    padding-left: var(--rpl-sp-7);
  }

  &:hover {
    color: var(--rpl-clr-link);
  }

  @media print {
    padding-left: 0;
  }
}

.rpl-accordion__item-heading-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.rpl-accordion__item-heading {
  .rpl-accordion__item-toggle:hover & {
    text-decoration: underline;
  }

  .rpl-accordion__item-toggle:hover:focus-visible & {
    text-decoration: none;
  }
}

.rpl-accordion__item-number {
  flex-shrink: 0;
  width: var(--rpl-sp-6);
  margin-right: var(--rpl-sp-2);
  color: var(--rpl-clr-neutral-600);

  @media (--rpl-bp-l) {
    width: var(--rpl-sp-8);
    margin-right: var(--rpl-sp-3);
  }

  .rpl-accordion__item-toggle:focus-visible & {
    color: inherit;
  }
}

.rpl-accordion__item-icon {
  flex-shrink: 0;
  display: flex;
  margin-top: var(--rpl-sp-1);
  margin-left: var(--rpl-sp-4);
  color: var(--rpl-clr-link);
  transition: transform var(--rpl-motion-speed-7) linear;

  @media (--rpl-bp-l) {
    margin-top: var(--rpl-sp-2);
    margin-left: var(--rpl-sp-6);
  }

  .rpl-accordion__item--active & {
    transform: rotate(-180deg);
  }
}

.rpl-accordion__item-content-inner {
  padding-top: var(--rpl-border-1);
  padding-right: var(--rpl-sp-5);
  padding-bottom: calc(var(--rpl-sp-6) - var(--rpl-border-1));
  padding-left: var(--rpl-sp-5);

  @media (--rpl-bp-l) {
    padding-top: var(--rpl-border-1);
    padding-right: var(--rpl-sp-7);
    padding-bottom: calc(var(--rpl-sp-8) - var(--rpl-border-1));
    padding-left: var(--rpl-sp-7);
  }

  @media print {
    padding-left: 0;
  }
}

[dir='rtl'] .rpl-accordion__toggle-all-wrapper {
  justify-content: flex-start;
}

[dir='rtl'] .rpl-accordion__item::after {
  right: 0;
}

[dir='rtl'] .rpl-accordion__item-icon {
  margin-left: 0;
  margin-right: var(--rpl-sp-4);

  @media (--rpl-bp-l) {
    margin-left: 0;
    margin-right: var(--rpl-sp-6);
  }
}

/* stylelint-disable-next-line no-descending-specificity */
[dir='rtl'] .rpl-accordion__item-number {
  margin-left: var(--rpl-sp-2);
  margin-right: 0;

  @media (--rpl-bp-l) {
    margin-left: var(--rpl-sp-3);
    margin-right: 0;
  }
}
