.rpl-form-checkbox {
  display: flex;
}

.rpl-form-checkbox--reverse {
  .rpl-form-checkbox__box {
    background: var(--rpl-clr-light);
  }
}

.rpl-form-checkbox__input {
  appearance: none;
}

.rpl-form-checkbox__label {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
}

.rpl-form-checkbox__label-text {
  margin-left: var(--rpl-sp-3);
  margin-top: 1px;
}

.rpl-form-checkbox__box {
  width: var(--rpl-sp-6);
  height: var(--rpl-sp-6);
  background: var(--rpl-clr-neutral-100);
  border: var(--rpl-border-1) solid var(--rpl-clr-neutral-600);
  border-radius: var(--rpl-border-radius-1);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.rpl-form-checkbox__box-tick {
  opacity: 0;
}

.rpl-form-checkbox__input:hover + .rpl-form-checkbox__label {
  .rpl-form-checkbox__box {
    border-color: var(--rpl-clr-dark);
  }
}

.rpl-form-checkbox__input:checked + .rpl-form-checkbox__label {
  .rpl-form-checkbox__box-tick {
    opacity: 1;
  }
}

.rpl-form-checkbox__input:focus-visible + .rpl-form-checkbox__label {
  .rpl-form-checkbox__box {
    box-shadow: 0 0 0 var(--rpl-border-1) var(--rpl-clr-dark) inset,
      0 0 0 var(--rpl-border-3) var(--rpl-clr-focus);
  }
}

.rpl-form-checkbox__input:disabled + .rpl-form-checkbox__label {
  color: var(--rpl-clr-neutral-300);
  cursor: not-allowed;

  .rpl-form-checkbox__box {
    border: var(--rpl-border-1) solid var(--rpl-clr-neutral-200);
    background: var(--rpl-clr-neutral-100);
  }
}
