//
// Use rpl_svg_stroke() to add a stroke to a <rpl-icon> or any <svg>.
// Example:
// .rpl-icon {
//   @include rpl_svg_stroke('black', 1px);
// }
//
@mixin rpl_svg_stroke($color: 'black', $size: 1px, $linecap: false, $dasharray: false, $dashoffset: false) {
  stroke: rpl_color($color);
  stroke-width: $size;
  @if $linecap {
    stroke-linecap: $linecap;
  }
  @if $dasharray {
    stroke-dasharray: $dasharray;
  }
  @if $dashoffset {
    stroke-dashoffset: $dashoffset;
  }
}
