.rpl-form {
  --local-max-width: 60.6rem;

  max-width: var(--local-max-width);
  display: block;

  [data-invalid='true'][data-submitted='true'] {
    border-left: var(--rpl-border-3) solid var(--rpl-clr-error);
    padding-left: var(--rpl-sp-3);
  }
}

.rpl-form__submit-guard {
  border: 0;
  padding: 0;
  margin: 0;
}

.rpl-form__messages {
  font-size: var(--rpl-type-size-1);
  line-height: var(--rpl-type-lh-3);
  letter-spacing: var(--rpl-type-ls-1);
}

.rpl-form__messages {
  color: var(--rpl-clr-error);
}

.rpl-form__outer {
  margin-bottom: var(--rpl-sp-7);

  @media (--rpl-bp-m) {
    margin-bottom: var(--rpl-sp-8);
  }
}

.rpl-form__fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

.rpl-form__input--unsupported {
  border: 1px solid black;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  background: #ffe6cb;
  font-weight: bold;
}
