.rpl-header-graphic {
  position: absolute;
  overflow: hidden;
}

.rpl-header-graphic--top,
.rpl-header-graphic--bottom {
  width: 100%;
  height: 100%;
}

.rpl-header-graphic--top {
  --local-graphic-width: 168px;
  --local-graphic-height: 112px;

  top: 0;
  left: 0;
  clip-path: polygon(0 0, 100% 0, 85% 60%, 0% 100%);
  max-width: var(--local-graphic-width);
  max-height: var(--local-graphic-height);

  @media (--rpl-bp-s) {
    --local-graphic-width: 208px;
    --local-graphic-height: 128px;
  }

  @media (--rpl-bp-m) {
    --local-graphic-width: 236px;
    --local-graphic-height: 148px;
  }

  @media (--rpl-bp-l) {
    --local-graphic-width: 292px;
    --local-graphic-height: 200px;
  }

  @media (--rpl-bp-xl) {
    --local-graphic-width: auto;
    --local-graphic-height: auto;

    max-width: 380px;
    max-height: 232px;
  }
}

.rpl-header-graphic--bottom {
  --local-graphic-min-width: 148px;
  --local-graphic-max-width: 152px;
  --local-graphic-min-height: 48px;
  --local-graphic-max-height: 60px;

  right: 0;
  bottom: 0;
  display: none;
  min-width: var(--local-graphic-min-width);
  max-width: var(--local-graphic-max-width);
  min-height: var(--local-graphic-min-height);
  max-height: var(--local-graphic-max-height);
  clip-path: polygon(10% 50%, 100% 0, 100% 100%, 0% 100%);

  @media (--rpl-bp-m) {
    display: block;
  }

  @media (--rpl-bp-l) {
    --local-graphic-min-width: 224px;
    --local-graphic-max-width: 232px;
    --local-graphic-min-height: 76px;
    --local-graphic-max-height: 96px;
  }

  @media (--rpl-bp-xl) {
    --local-graphic-min-width: 224px;
    --local-graphic-max-width: 272px;
    --local-graphic-min-height: 76px;
    --local-graphic-max-height: 96px;
  }
}

.rpl-header-graphic--pattern {
  --local-pattern-fill-100: #cccccc;
  --local-pattern-fill-200: #aaaaaa;
  --local-pattern-fill-300: #888888;
  --local-pattern-fill-400: #666666;
  --local-pattern-fill-500: #444444;

  background-image: var(--rpl-clr-gradient-horizontal);

  svg {
    mix-blend-mode: screen;
  }

  path {
    fill: var(--local-pattern-fill-100);
  }

  path:nth-child(odd) {
    fill: var(--local-pattern-fill-200);
  }

  path:nth-child(3n + 1) {
    fill: var(--local-pattern-fill-300);
  }

  path:nth-child(4n + 2) {
    fill: var(--local-pattern-fill-400);
  }

  path:nth-child(5n + 1) {
    fill: var(--local-pattern-fill-500);
  }
}
