@import '@dpc-sdp/ripple-ui-core/style/breakpoints';

.rpl-header-actions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--rpl-sp-5);

  @media (--rpl-bp-l) {
    align-items: center;
    flex-direction: row;
  }

  .rpl-icon {
    color: var(--rpl-clr-link);
  }
}

.rpl-header-actions__primary {
  min-width: max-content;
}

.rpl-header-actions__secondary {
  padding-left: var(--rpl-sp-3);
  border-left: var(--rpl-border-3) solid var(--rpl-clr-neutral-300);

  @media (--rpl-bp-l) {
    padding-left: var(--rpl-sp-4);
  }
}

.rpl-header-actions__secondary-link {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  font-size: var(--rpl-type-size-2);
  line-height: var(--rpl-type-lh-4);
  letter-spacing: var(--rpl-type-ls-1);

  @media (--rpl-bp-l) {
    font-size: var(--rpl-type-size-3);
    line-height: var(--rpl-type-lh-5);
    letter-spacing: var(--rpl-type-ls-2);
  }

  .rpl-icon--size-xs {
    @media (--rpl-bp-l) {
      --rpl-icon-size: var(--rpl-sp-4);
    }
  }
}

.rpl-header-actions__secondary-title + .rpl-header-actions__secondary-link {
  margin-top: var(--rpl-sp-1);

  @media (--rpl-bp-l) {
    margin-top: var(--rpl-sp-2);
  }
}
