body {
  background: var(--storybook-bg-color, transparent);
}

.rpl-storybook__page {
  max-width: 1120px;
}

.rpl-storybook__icon-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.rpl-storybook__icon-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  text-align: center;
  border: 1px solid #e8ebee;
  border-radius: 4px;
  padding: 0.5rem;
  width: calc(12.5% - 1rem - 2px);
  margin: 0.5rem;
  margin-top: 0;
}

.rpl-storybook-form-values {
  font-size: 16px;
  background: #eee;
  padding: 30px;
}

.sb-flex-container .innerZoomElementWrapper {
  display: flex;
}

.sb-container {
  font-size: 1.6rem;
}

.sb-demo-container {
  padding: 2rem;
}

.sb-demo-container--dark {
  background: var(--rpl-clr-primary-alt);
  color: var(--rpl-clr-type-light);

  .sb-demo-input {
    border-color: var(--rpl-clr-type-primary-contrast);

    &,
    &::placeholder {
      color: var(--rpl-clr-light);
    }
  }

  a,
  a:visited {
    color: var(--rpl-clr-light);
  }
}

.sb-demo-input {
  border: var(--rpl-border-1) solid var(--rpl-clr-dark);
  background: transparent;
  padding: 1rem;
  font-size: var(--rpl-type-size-2);
}

.sb-demo-input--rounded {
  border-radius: 20px;
}

/*
  Add a background colour to the rpl-grid cells so that they are visible while
  viewing in storybook.
*/
.rpl-storybook__grid .rpl-grid div {
  background-color: #eeeeee;
  text-align: center;
  padding: 20px;
  font-size: 1.6rem;
}
