.rpl-storybook__page {
  max-width: 1120px;
}

.rpl-storybook__icon-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.rpl-storybook__icon-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  text-align: center;
  border: 1px solid #e8ebee;
  border-radius: 4px;
  padding: 0.5rem;
  width: calc(12.5% - 1rem - 2px);
  margin: 0.5rem;
  margin-top: 0;
}

.sb-flex-container .innerZoomElementWrapper {
  display: flex;
}

.sb-container {
  font-size: 1.6rem;
}

/*
  Add a background colour to the rpl-grid cells so that they are visible while
  viewing in storybook.
*/
.rpl-storybook__grid .rpl-grid div {
  background-color: #eeeeee;
  text-align: center;
  padding: 20px;
  font-size: 1.6rem;
}
