@import '@dpc-sdp/ripple-ui-core/style/breakpoints';

.rpl-profile {
  --local-image-size: 8rem;

  display: flex;
  align-items: center;
}

.rpl-profile__media {
  flex-shrink: 0;
  align-self: flex-start;
  margin-right: var(--rpl-sp-4);

  img {
    display: block;
    height: var(--local-image-size);
    width: var(--local-image-size);

    @media (--rpl-bp-m) {
      --local-image-size: 14.8rem;
    }
  }

  @media (--rpl-bp-m) {
    margin-right: var(--rpl-sp-6);
  }
}
