$rpl-document-link-title-color-hover: rpl_color('primary') !default;
$rpl-document-link-title-ruleset: ('xs', 1em, 'semibold') !default;
$rpl-document-link-title-color: rpl_color('extra_dark_neutral') !default;
$rpl-document-link-icon-flex: 0 0 rem(30px) !default;
