// Enable global css.
$rpl-global-css: true !default;

// Use normalize in Ripple.
// You may turn it off if you have global style in your project already.
$rpl-normalize: true !default;

// For each component(themed component), should include this rpl_body mixin so it will have our global style applied.
@mixin rpl_body ($type: 'component') {
  @if $type == 'component' and $rpl-global-css == false {
    @include rpl_typography;
  }

  @if $type == 'global' or ($type == 'component' and $rpl-global-css == false) {
    h2 {
      @include rpl_typography(heading_l)
    }

    h3 {
      @include rpl_typography(heading_m)
    }

    h4 {
      @include rpl_typography(heading_s)
    }

    h5 {
      @include rpl_typography(heading_xs)
    }
    // More global element styles here

    // Our custom Vicfont is already bold,
    // this will make all browsers render the font more consistently.
    // See: https://stormconsultancy.co.uk/blog/development/tips-tricks/dealing-with-firefox-rendering-fonts-too-bold-with-browser-specific-css/
    h1,
    h2,
    h3,
    h4,
    h5 {
      font-weight: normal;
    }
  }
}

@if $rpl-global-css == true {
  @if $rpl-normalize == true {
    @include rpl_normalize;
  }

  body {
    @include rpl_typography;
  }

  @include rpl_body('global');
}

// Fix fonts that render as bold in Firefox.
// See https://www.lockedownseo.com/firefox-font-weight-too-bold/
html {
  // sass-lint:disable-block no-vendor-prefixes no-misspelled-properties
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
