//
// A Flexbox Grid
// https://caniuse.com/#feat=flexbox
// https://github.com/philipwalton/flexbugs
//

// Default grid
// @property {number (unitless)} columns [12]
//   Default number of the total grid columns.
//
// @property {number (0 or with unit like 'px' and '%' )} gutter [20px]
//   Default grid gutter width between columns.
//
// @example scss
//   $rpl-grid: (
//     columns: 12,
//     gutter: 20px,
//     row_gutter: 4px
//   );
$rpl-grid: (
  columns: 12,
  gutter: rem(24px),
  row_gutter: $rpl-row-gutter
) !default;

// Helpers
@function rpl-grid-get-columns($grid) {
  @return map-get($grid, 'columns');
}

@function rpl-grid-get-gutter($grid) {
  @return map-get($grid, 'gutter');
}

@function rpl-grid-get-row-gutter($grid) {
  @return map-get($grid, 'row_gutter');
}

// Mixins
//
// Example scss for using default grid:
// @code
// .main {
//   @include rpl_grid_container;
//
//   .layout {
//     @include rpl_grid_row;
//
//     .left {
//       @include rpl_grid_full;
//
//       @include rpl_breakpoint(m) {
//         @include rpl_grid_column(8);
//       }
//     }
//
//     .right {
//       @include rpl_grid_full;
//
//       @include rpl_breakpoint(m) {
//         @include rpl_grid_column(4);
//       }
//     }
//   }
// }
// @endcode
//
// Example scss for using custom grid in place:
// @code
// $my-custom-grid: (
//   columns: 3,
//   gutter: 20px,
//   row_gutter: 4px
// );
//
// .main {
//   @include rpl_grid_container;
//
//   .layout {
//     @include rpl_grid_row($my-custom-grid);
//
//     .left {
//       @include rpl_grid_full;
//
//       @include breakpoint(md) {
//         @include rpl_grid_column(2, $my-custom-grid);
//       }
//     }
//
//     .right {
//       @include rpl_grid_full;
//
//       @include breakpoint(md) {
//         @include rpl_grid_column(1, $my-custom-grid);
//       }
//     }
//   }
// }
// @endcode
//
@mixin rpl_grid_container {
  overflow-x: hidden;
}

@mixin rpl_grid_row($grid: $rpl-grid) {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  @if rpl_grid_get_gutter($grid) != 0 {
    $_container-margin: rpl_grid_get_gutter($grid) / 2;

    @if unit(rpl_grid_get_gutter($grid)) == '%' {
      $_container-margin: ((rpl_grid_get_gutter($grid) + 99.99%) * (rpl_grid_get_gutter($grid) / 100%)) / 2;
    }

    margin-left: $_container-margin * -1;
    margin-right: $_container-margin * -1;
    width: calc(99.99% + #{$_container-margin} * 2);
  } @else {
    width: 99.99%;
  }
}

@mixin rpl_grid_row_gutter($row-gutter: rpl-grid-get-row-gutter($rpl-grid)) {
  > div {
    @if type-of($row-gutter) == map {
      @each $bp, $gutter in $row-gutter {
        @include rpl_breakpoint($bp) {
          margin-bottom: $gutter;
        }
      }
    } @else {
      margin-bottom: $row-gutter;
    }
  }
}

@mixin rpl_grid_column($grid-cols: 1, $grid: $rpl-grid) {
  box-sizing: border-box;
  flex: 0 0 auto;

  @if rpl_grid_get_gutter($grid) != 0 {
    width: calc(#{percentage($grid-cols / rpl_grid_get_columns($grid))} - #{rpl_grid_get_gutter($grid)});
    margin-left: rpl_grid_get_gutter($grid) / 2;
    margin-right: rpl_grid_get_gutter($grid) / 2;
  } @else {
    width: #{percentage($grid-cols / rpl_grid_get_columns($grid))};
  }
}

@mixin rpl_grid_full($grid: $rpl-grid) {
  @include rpl_grid_column(rpl_grid_get_columns($grid), $grid);
}

// Push & pull
@mixin rpl_grid_push($grid-cols: 1, $grid: $rpl-grid) {
  position: relative;
  left: calc(#{percentage($grid-cols / rpl_grid_get_columns($grid))});
}

@mixin rpl_grid_pull($grid-cols: 1, $grid: $rpl-grid) {
  position: relative;
  left: calc(#{percentage($grid-cols / rpl_grid_get_columns($grid))} * -1);
}

@mixin rpl_grid_push_pull_reset {
  left: 0;
}

// Order
@mixin rpl_grid_order($grid-weight) {
  order: $grid-weight;
}

// Grid classes
// These are using the $rpl-grid setting.
// Other custom grids should use mixins.
.rpl-container {
  @include rpl_grid_container;
}

.rpl-row {
  @include rpl_grid_row;
}

.rpl-col {
  @include rpl_grid_column;
}

.rpl-row--gutter {
  @include rpl_grid_row_gutter;
}

@mixin _rpl_bp_classes($bp: '') {
  $modifier: '';

  @if $bp != '' {
    $modifier: #{'-' + $bp};
  }

  .rpl-col--full#{$modifier} {
    @include rpl_grid_full;
  }

  @for $col from 1 through rpl_grid_get_columns($rpl-grid) {
    @if $col <= rpl_grid_get_columns($rpl-grid) {
      .rpl-col--#{$col}#{$modifier} {
        @include rpl_grid_column($col);
      }

      .rpl-col--push-#{$col}#{$modifier} {
        @include rpl_grid_push($col);
      }

      .rpl-col--pull-#{$col}#{$modifier} {
        @include rpl_grid_pull($col);
      }

      .rpl-col--order-#{$col}#{$modifier} {
        @include rpl_grid_order($col);
      }
    }
  }
}

@each $bp, $bp-val in $rpl-breakpoints {
  @if $bp-val == 0 {
    @include _rpl_bp_classes;
  } @else {
    @include rpl_breakpoint($bp) {
      @include _rpl_bp_classes($bp);
    }
  }
}
