.rpl-form-dropdown {
  --local-item-height: 48px;

  position: relative;
}

.rpl-form-dropdown--reverse {
  .rpl-form-dropdown-input {
    background: var(--rpl-clr-light);
  }
}

.rpl-form-dropdown-input {
  background: var(--rpl-clr-neutral-100);
  border: 0;
  outline: 0;
  width: 100%;
  height: 100%;
  padding-top: var(--rpl-sp-3);
  padding-bottom: var(--rpl-sp-3);
  padding-left: var(--rpl-sp-5);
  padding-right: var(--rpl-sp-5);
  border: var(--rpl-border-1) solid var(--rpl-clr-neutral-300);
  border-radius: var(--rpl-border-radius-2);
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:focus,
  &.rpl-u-focusable--force-on {
    border: var(--rpl-border-1) solid var(--rpl-clr-dark);
    border-radius: 0;
  }

  &[aria-expanded='true'] .rpl-form-dropdown__chevron {
    transform: rotate(-180deg);
  }

  &[aria-disabled='true'] {
    pointer-events: none;
    border-color: var(--rpl-clr-neutral-100);
    color: var(--rpl-clr-neutral-300);

    .rpl-form-dropdown-input__placeholder {
      color: var(--rpl-clr-neutral-300);
    }

    .rpl-form-dropdown__chevron {
      color: var(--rpl-clr-neutral-300);
    }
  }
}

.rpl-form-dropdown-input__placeholder {
  color: var(--rpl-clr-neutral-600);
}

.rpl-form-dropdown__chevron {
  color: var(--rpl-clr-link);
}

.rpl-form-dropdown-menu {
  z-index: var(--rpl-z-index-above-content);
  border: var(--rpl-border-2) solid var(--rpl-clr-dark);
  background: var(--rpl-clr-light);
  max-height: calc(
    var(--local-max-items) * var(--local-item-height) + var(--rpl-border-2) +
      var(--rpl-border-2)
  );
  overflow-y: auto;
  scroll-behavior: auto;

  position: absolute;
  width: 100%;
  margin-top: -2px;
}

.rpl-form-dropdown-option {
  display: flex;
  aligh-items: center;
  padding: var(--rpl-sp-3) var(--rpl-sp-5);

  &:nth-child(2n) {
    background: var(--rpl-clr-neutral-100);
  }

  &:hover {
    background: var(--rpl-clr-neutral-300);
  }
}

.rpl-form-dropdown-option__tick {
  display: block;
  width: var(--rpl-sp-4);
  margin-right: var(--rpl-sp-2);
  flex-shrink: 0;
}

.rpl-form-dropdown-option__check {
  width: var(--rpl-sp-6);
  height: var(--rpl-sp-6);
  background: var(--rpl-clr-neutral-100);
  border: var(--rpl-border-1) solid var(--rpl-clr-neutral-600);
  border-radius: var(--rpl-border-radius-1);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-right: var(--rpl-sp-3);
}
