@import '@dpc-sdp/ripple-ui-core/style/breakpoints';

.rpl-map-popup--popover,
.rpl-map-popup--sidebar,
.rpl-map-popup--layerlist {
  position: absolute;
  height: calc(600px - var(--rpl-sp-4) * 2);
  background-color: var(--rpl-clr-light);
  z-index: var(--rpl-layer-1);
  box-shadow: var(--rpl-elevation-1);
  border-radius: var(--rpl-border-radius-2);
  border: var(--rpl-border-1) solid var(--rpl-clr-neutral-300);
  margin: 0 auto;

  @media (--rpl-bp-s) {
    width: 300px;
  }
}

.rpl-map--has-sidepanel {
  .rpl-map-popup--sidebar,
  .rpl-map-popup--popover {
    display: none;

    @media (--rpl-bp-m) {
      display: block;
    }
  }

  .rpl-map-popup--sidebar,
  .rpl-map-popup--layerlist {
    left: var(--local-map-side-panel-width);
  }
}

.rpl-map-popup__large-pin {
  transition: transform 0.15s ease-in;
  position: absolute;
  left: 50%;
  top: -20px;
  margin-left: -14px;
  height: 33px;
  width: 28px;

  svg {
    width: 100%;
    height: 100%;
  }

  @media (--rpl-bp-m) {
    top: -22px;
  }
}

.rpl-map-popup__large-pin--open {
  transform-origin: center 50%;
  transform: scale(2) translateY(-14px);
}

.rpl-map-popup-enter-active,
.rpl-map-popup-leave-active {
  transition: opacity 0.2s ease;
}

.rpl-map-popup-enter-from,
.rpl-map-popup-leave-to {
  opacity: 0;
}

.rpl-map-popup__header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  column-gap: var(--rpl-sp-3);
  color: var(--rpl-clr-type-default);
  background-color: var(--rpl-clr-neutral-200);
  padding: var(--rpl-sp-4);
  padding-bottom: var(--rpl-sp-3);
  border-radius: var(--rpl-border-radius-2) var(--rpl-border-radius-2) 0 0;
}

.rpl-map-popup--standalone .rpl-map-popup__header {
  justify-content: flex-start;
  border-radius: 0;
}

.rpl-map-popup__close {
  border-radius: var(--rpl-border-radius-3);

  .rpl-icon {
    color: var(--rpl-clr-link);
    margin: var(--rpl-sp-1);
  }

  &:focus {
    .rpl-icon {
      color: var(--rpl-clr-primary-contrast);
    }
  }
}

.rpl-map-popup--popover {
  position: relative;
  height: auto;
  display: block;
  width: 300px;
  margin-top: -2px;

  @media (--rpl-bp-m) {
    margin-top: 0;
  }
}

.rpl-map-popup--popover.rpl-map-popup--area {
  &::before {
    position: absolute;
    content: '';
    left: 50%;
    top: -6px;
    width: 12px;
    height: 12px;
    margin-left: -6px;
    background-color: var(--rpl-clr-neutral-200);
    border-top: var(--rpl-border-1) solid var(--rpl-clr-neutral-300);
    border-right: var(--rpl-border-1) solid var(--rpl-clr-neutral-300);
    transform: rotate(-45deg);
  }
}

.rpl-map-popup .rpl-map-popup__body {
  padding-left: var(--rpl-sp-4);
  padding-right: var(--rpl-sp-4);
  padding-bottom: var(--rpl-sp-5);
  border-radius: 0 0 var(--rpl-border-radius-2) var(--rpl-border-radius-2);
}

.rpl-map-pop-up-accordion-item {
  position: relative;
  border-bottom: solid var(--rpl-border-1) var(--rpl-clr-neutral-300);
}

.rpl-map-pop-up-accordion-item__toggle {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding-top: var(--rpl-sp-3);
  padding-bottom: calc(var(--rpl-sp-3) - var(--rpl-border-1));
  background: none;
  border: 0;
  text-align: left;
  cursor: pointer;

  &:focus {
    margin-left: calc(var(--rpl-sp-4) * -1);
    margin-right: calc(var(--rpl-sp-4) * -1);
    padding-left: var(--rpl-sp-4);
    padding-right: var(--rpl-sp-4);
    width: calc(100% + var(--rpl-sp-4) + var(--rpl-sp-4));
  }
}

.rpl-map-pop-up-accordion-item__chevron {
  flex-shrink: 0;
  display: flex;
  margin-top: var(--rpl-sp-1);
  margin-left: var(--rpl-sp-2);
  color: var(--rpl-clr-neutral-600);
  transition: transform var(--rpl-motion-speed-7) linear;

  .rpl-map-pop-up-accordion-item--active & {
    transform: rotate(-180deg);
  }
}

.rpl-map-popup--sidebar,
.rpl-map-popup--popover,
.rpl-map-popup--layerlist {
  .rpl-map-pop-up-scroll-container {
    max-height: var(--local-popup-body-height);
    overflow-y: auto;
    background: linear-gradient(white 33%, rgb(255 255 255 / 0%)),
      linear-gradient(to bottom, rgb(26 26 26 / 16%), transparent);
    background-color: white;
    background-repeat: no-repeat;
    background-attachment: local, scroll;
    background-size:
      100% 50px,
      100% 10px;
    border-radius: 0 0 var(--rpl-border-radius-2) var(--rpl-border-radius-2);
  }
}

.rpl-map-popup--sidebar {
  --local-infobox-mobile-blank-space: 106px;

  z-index: var(--rpl-layer-1);
  margin-left: var(--rpl-sp-2);
  margin-top: var(--local-infobox-mobile-blank-space);
  height: calc(
    var(--local-map-height) - var(--local-infobox-mobile-blank-space) -
      var(--rpl-sp-2)
  );
  width: 100%;
  max-width: calc(100% - var(--rpl-sp-2) * 2);

  .rpl-map-pop-up-scroll-container {
    max-height: calc(
      var(--local-map-height) - var(--local-popup-header-height) -
        var(--local-infobox-mobile-blank-space) - var(--rpl-sp-2) * 2
    );
  }

  @media (--rpl-bp-m) {
    margin-left: var(--rpl-sp-3);
    margin-top: var(--rpl-sp-3);
    height: calc(100% - var(--rpl-sp-3) * 2);
    width: 260px;

    .rpl-map-pop-up-scroll-container {
      max-height: calc(
        var(--local-map-height) - var(--local-popup-header-height) -
          var(--rpl-sp-3) * 2
      );
    }
  }

  @media (--rpl-bp-xl) {
    width: 300px;
  }
}

.rpl-map-popup--layerlist {
  --local-infobox-mobile-blank-space: 106px;

  z-index: var(--rpl-layer-1);
  margin-left: var(--rpl-sp-2);
  height: auto;
  bottom: var(--rpl-sp-2);
  width: 300px;
  max-width: calc(100% - var(--rpl-sp-2) * 2);

  .rpl-map-popup__header {
    background: var(--rpl-clr-neutral-0);
  }

  .rpl-map-pop-up-scroll-container {
    max-height: calc(
      var(--local-map-height) - var(--local-popup-header-height) -
        var(--rpl-sp-2) * 2
    );
  }

  @media (--rpl-bp-m) {
    margin-left: var(--rpl-sp-3);
    margin-top: var(--rpl-sp-3);
    bottom: var(--rpl-sp-3);

    .rpl-map-pop-up-scroll-container {
      max-height: calc(
        var(--local-map-height) - var(--local-popup-header-height) -
          var(--rpl-sp-3) * 2
      );
    }
  }

  @media (--rpl-bp-xl) {
    width: 300px;
  }
}

.rpl-map-popup--standalone {
  position: static;
  border-bottom: var(--rpl-border-1) solid var(--rpl-clr-neutral-300);
  margin-bottom: var(--rpl-sp-4);
}
