@import '@dpc-sdp/ripple-ui-core/style/breakpoints';

.rpl-map-popup {
  position: absolute;
  height: calc(600px - var(--rpl-sp-4) * 2);
  background-color: #fff;
  z-index: 99;
  margin: var(--rpl-sp-4);
  box-shadow: var(--rpl-elevation-1);
  border-radius: var(--rpl-border-radius-2);
  @media (--rpl-bp-s) {
    width: 300px;
  }
}
.rpl-map-popup__large-pin {
  transition: transform 0.15s ease-in;
  position: absolute;
  left: 50%;
  top: -30px;
  margin-left: -38px;
  height: 33px;
  width: 75px;
  svg {
    width: 100%;
    height: 100%;
  }
}

.rpl-map-popup__large-pin--open {
  transform: scale(2) translateY(-8px);
}

.rpl-map-popup-enter-active,
.rpl-map-popup-leave-active {
  transition: opacity 0.2s ease;
}

.rpl-map-popup-enter-from,
.rpl-map-popup-leave-to {
  opacity: 0;
}

.rpl-map-popup__header {
  display: flex;
  flex-direction: row;
  color: var(--rpl-clr-dark);
  background-color: var(--rpl-clr-neutral-200);
  padding: var(--rpl-sp-4);
  padding-bottom: var(--rpl-sp-3);
  border-radius: var(--rpl-border-radius-2) var(--rpl-border-radius-2) 0 0;
}

.rpl-map-popup__body {
  padding: var(--rpl-sp-4);
}

.rpl-map-popup__close {
  margin-left: auto;
  border-radius: var(--rpl-border-radius-3);
  height: var(--rpl-sp-6);
  width: var(--rpl-sp-6);
  .rpl-icon {
    color: var(--rpl-clr-primary);
  }
  &:hover {
    .rpl-icon {
      color: var(--rpl-clr-primary-contrast);
    }
  }
}



.rpl-map-popup--popover {
  position: relative;
  width: calc(100% - (var(--rpl-sp-4) * 2));
  height: auto;
  display: block;
  @media (--rpl-bp-s) {
    width: 250px;
  }
}

.rpl-map-popup--popover.rpl-map-popup--area {
  &:before {
    position: absolute;
    content: '';
    left: 50%;
    top: -6px;
    width: 12px;
    height: 12px;
    background-color: var(--rpl-clr-neutral-200);
    transform: rotate(-45deg);
  }
}

.rpl-map-popup--popover .rpl-map-popup__body {
  max-height: 200px;
  overflow: scroll;
}

