.rpl-file__meta {
  text-transform: uppercase;

  + .rpl-file__meta::before {
    content: ' | ';
  }
}

.rpl-file__updated {
  margin-top: var(--rpl-sp-1);
}

.rpl-file--icon-s {
  .rpl-document__icon {
    margin-right: var(--rpl-sp-2);
  }

  .rpl-icon {
    vertical-align: top;
  }
}
