@import "~@dpc-sdp/ripple-global/scss/settings";
@import "~@dpc-sdp/ripple-global/scss/tools";
@import "scss/site_header";

$rpl-site-header-logo-width: auto !default;
$rpl-site-header-logo-primary-width: rem(98px);
$rpl-site-header-text-color: rpl-color('white') !default;
$rpl-site-header-border-radius: rem(4px) !default;
$rpl-site-header-background-color: rpl-color('primary') !default;
$rpl-site-header-background-color-open: rpl-color('dark_primary') !default;
$rpl-site-header-top-padding: ($rpl-space * 6) ($rpl-space * 5) !default;
$rpl-site-header-menu-toggle-border-right: 1px solid rpl-color('white') !default;
$rpl-site-header-menu-toggle-border-spacing: $rpl-space-2 !default;
$rpl-site-header-menu-toggle-icon-margin: auto $rpl-space-2 auto 0 !default;
$rpl-site-header-search-toggle-icon-margin: auto 0 auto $rpl-space-2 !default;
$rpl-site-header-logout-btn-background-color: rpl-color('dark_primary') !default;
$rpl-site-header-logout-btn-background-color-mobile: darken($rpl-site-header-logout-btn-background-color, 10%) !default;
$rpl-site-header-logout-btn-padding-mobile: rem(8px) rem(10px) !default;
$rpl-site-header-logout-btn-padding: rem(10px) !default;
$rpl-site-header-logout-btn-margin: $rpl-space-4 !default;
$rpl-site-header-logout-btn-icon-margin: 0 0 0 $rpl-space-2 !default;
$rpl-site-header-menu-divider-border-right: $rpl-site-header-menu-toggle-border-right !default;
$rpl-site-header-menu-divider-margin-xl: 0 $rpl-space-2 !default;
$rpl-site-header-menu-divider-margin-l: 0 $rpl-space-4 !default;
$rpl-site-header-menu-divider-height-xl: rem(14px) !default;
$rpl-site-header-menu-divider-height-l: rem(27px) !default;

.rpl-site-header {
  $root: &;
  position: absolute;
  z-index: $rpl-zindex-header;
  padding: $rpl-header-horizontal-padding-xs;
  box-sizing: border-box;
  width: 100%;

  @include rpl_print_hidden;

  @include rpl_breakpoint('s') {
    padding: $rpl-header-horizontal-padding-s;
  }

  &__inner {
    overflow: hidden;
    background-color: $rpl-site-header-background-color;
    border-radius: $rpl-site-header-border-radius;
    transition: height .25s;
    height: $rpl-site-header-top-height-s;
    @include rpl_breakpoint('m') {
      height: $rpl-site-header-top-height-l;
    }
  }

  &--sticky:not(#{$root}--open) {
    position: fixed;
    top: 0;
  }

  &--open {
    position: fixed;
    top: 0;
    height: 100%;

    #{$root}__inner {
      margin: 0;
      border-radius: rem(4px);
      background-color: $rpl-site-header-background-color-open;
      height: 100%;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: $rpl-site-header-top-padding;
    border-radius: $rpl-site-header-border-radius;
    height: $rpl-site-header-top-height-s;
    @include rpl_breakpoint('m') {
      height: $rpl-site-header-top-height-l;
    }

    &__title {
      font-size: rpl-font-size(l);
    }
  }

  &__divider {
    $divider_root: &;
    height: $rpl-site-header-menu-divider-height-xl;
    margin: $rpl-site-header-menu-divider-margin-xl;
    border-right: $rpl-site-header-menu-divider-border-right;

    @include rpl_breakpoint('l') {
      margin: $rpl-site-header-menu-divider-margin-l;
      height: $rpl-site-header-menu-divider-height-l;
    }

    &--vic {
      display: none;

      &#{$divider_root}--110 {
        display: block;
      }

      &#{$divider_root}--111 {
        @include rpl_breakpoint('m') {
          display: block;
        }
      }
    }

    &--cobrand {
      display: none;

      &#{$divider_root}--011 {
        @include rpl_breakpoint('m') {
          display: block;
        }
      }

      &#{$divider_root}--101 {
        display: block;
      }

      &#{$divider_root}--111 {
        display: block;
      }
    }
  }

  &__logo-container {
    &-inner {
      display: flex;
      align-items: center;
    }

    .rpl-link {
      display: flex;
      flex-flow: column;
      @include rpl_focus_dark;
    }

    img {
      image-rendering: -webkit-optimize-contrast;
      width: $rpl-site-header-logo-width;
      display: block;
    }

    &--vic-logo-primary {
      display: block; //always show vic.gov logo if no cobrand logo

      img {
        width: $rpl-site-header-logo-primary-width;
      }

      &--cobrand {
        display: none;

        @include rpl_breakpoint('m') {
          display: block;
        }
      }
    }
  }

  // Menu Container - changes for vert / horizontal
  &__menu-container {
    &--vertical {
      width: auto;
      position: absolute;
      bottom: $rpl-header-horizontal-padding-xs;
      left: $rpl-header-horizontal-padding-xs;
      right: $rpl-header-horizontal-padding-xs;
      overflow-x: hidden;
      overflow-y: auto;
      -webkit-overflow-scrolling: auto;
      top: $rpl-site-header-top-height-s;

      @include rpl_breakpoint('m') {
        top: $rpl-site-header-top-height-m;
      }

      @include rpl_breakpoint('s') {
        left: $rpl-header-horizontal-padding-s;
        right: $rpl-header-horizontal-padding-s;
      }
    }

    &--horizontal {
      flex: 1;
    }
  }

  &__search-container {
      position: relative;
      background-color: $rpl-site-header-background-color-open;
      overflow-x: hidden;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      top: 0;
      height: calc(100vh - #{$rpl-site-header-top-height-s});
      @include rpl_breakpoint('l') {
        height: calc(100vh - #{$rpl-site-header-top-height-l});
      }
  }

  &__btn-container {
    display: flex;
  }

  &__btn {
    background-color: transparent;
    border: 0;
    padding: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    @include rpl_focus_dark;

    &--menu {
      span {
        padding-left: $rpl-site-header-menu-toggle-border-spacing;
        display: none;
        @include rpl_breakpoint('s') {
          display: block;
        }
      }
    }

    &--menu-open {
      border-right: 0;
      display: flex;
    }

    &--search {
      span {
        @include rpl_breakpoint_down('m') {
          @include rpl_visually_hidden;
        }
        @include rpl_breakpoint('m') {
          margin-right: $rpl-space;
          display: block;
        }
        @include rpl_breakpoint_between('l', 'xl') {
          @include rpl_visually_hidden;
        }
        @include rpl_breakpoint('xl') {
          display: block;
        }
      }

      .rpl-icon {
        margin: $rpl-site-header-search-toggle-icon-margin;
      }
    }

    &--search-open {
      span {
        display: flex;
      }
    }

    &--logout {
      border-radius: $rpl-button-border-radius;
      background-color: $rpl-site-header-logout-btn-background-color-mobile;
      display: none;
      margin-right: $rpl-site-header-logout-btn-margin;
      padding: $rpl-site-header-logout-btn-padding-mobile;

      &-open {
        display: inline-block;
      }

      @include rpl_breakpoint('m') {
        background-color: $rpl-site-header-logout-btn-background-color;
        display: inline-block;
        padding: $rpl-site-header-logout-btn-padding;
      }
      .rpl-icon {
        margin: $rpl-site-header-logout-btn-icon-margin;
      }
    }

    span {
      @include rpl_typography_font('xs', 1em, 'medium');
      color: $rpl-site-header-text-color;
    }

    .rpl-icon {
      display: inline;
    }
  }
}

.rpl-site-header__logo-container--no-fix img {
  image-rendering: auto;
}

.rpl-site-header__logo-container--override-primary-logo img {
  width: rem(68px);
}
