.rpl-slider__swiper {
  /* stylelint-disable selector-class-pattern */
  .swiper-wrapper {
    @media print {
      gap: var(--rpl-sp-4);
      flex-direction: column;
      transform: none;
    }
  }
}

.rpl-slider__pagination + .rpl-slider__swiper,
.rpl-slider__swiper + .rpl-slider__pagination {
  margin-top: var(--rpl-sp-4);
}

.rpl-slider__slide {
  height: auto;
  display: flex;

  @media print {
    /* Needs to override the inline style */
    opacity: 1 !important;
    width: auto !important;
    transform: none !important;
  }

  > * {
    width: 100%;
  }
}

.rpl-modal__main {
  .rpl-slider,
  .rpl-slider__swiper {
    width: 100%;
    height: 100%;
  }

  .rpl-slider__slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
