.rpl-slider__pagination + .rpl-slider__swiper,
.rpl-slider__swiper + .rpl-slider__pagination {
  margin-top: var(--rpl-sp-4);
}

.rpl-slider__slide {
  display: flex;
  height: auto;

  > * {
    width: 100%;
  }
}

.rpl-modal__main {
  .rpl-slider,
  .rpl-slider__swiper {
    width: 100%;
    height: 100%;
  }

  .rpl-slider__slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
