// sass-lint:disable-all
// Style for each story

// Style for stories using vue info
.vue-info {
  // To override storybook-readme plugin inline css.
  text-align: left;

  // Add background color so we can see the spacing of a component, this can help dev to address the spacing issue
  .info-content {
    background-color: #f6f6f9;
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .summary {
    color: #000 !important;
  }
}

.demo-content {
  padding: 0 1em;
}
