// Style for each story

// Style for stories using vue info
.vue-info {
  // Add background color so we can see the spacing of a component, this can help dev to address the spacing issue
  .info-content {
    background-color: #f6f6f9;
    padding-top: 1px;
    padding-bottom: 1px;
  }
}
