// sass-lint:disable-all
// Style for each story

// Style for stories using vue info
.sb-show-main {
  padding: 1em;
}

// Demo components styles
.demo-grid {
  background-color: #ddd;

  .rpl-col {
    background-color: #ccc;
    border: 1px solid #aaa;
  }
}
