.theme-multiculturalcommission-vic-gov-au {
  --rpl-theme-palette-primary: #ac3077;
  --rpl-theme-palette-dark_primary: #9a2b6a;
  --rpl-theme-palette-secondary: #465870;
  --rpl-theme-palette-extra_dark_neutral: #011a3c;
  --rpl-theme-palette-dark_neutral: #465870;
  --rpl-theme-gradient: #be6c9b 0%, #d42b8b 80%;
  --rpl-display-background-color: white;
  --rpl-display-text-color: var(--rpl-theme-palette-secondary);
}