@import '@dpc-sdp/ripple-ui-core/style/breakpoints';

.rpl-sitemap {
  margin-bottom: var(--rpl-sp-4);

  .rpl-sitemap-list {
    padding: 0;
    margin: 0;
    border: none;

    .rpl-list__link {
      display: inline-block;
      color: var(--rpl-clr-dark);

      &:hover {
        color: var(--rpl-clr-link);
      }
    }
  }

  .rpl-sitemap-list[data-depth='0'] {
    & > .rpl-sitemap-item {
      margin-top: var(--rpl-sp-8);

      &:first-child {
        margin-top: 0;
      }

      .rpl-icon--child {
        display: none;
      }

      & > .rpl-list__link {
        margin-bottom: var(--rpl-sp-3);
        font-size: var(--rpl-type-size-3);
        font-weight: var(--rpl-type-weight-bold);
        line-height: var(--rpl-type-lh-5);
        letter-spacing: var(--rpl-type-ls-2);
      }
    }
  }

  .rpl-list__items--sub[data-depth='1'] {
    & > .rpl-sitemap-item {
      border-top: var(--rpl-border-1) solid var(--rpl-clr-neutral-300);

      & > .rpl-list__link {
        font-size: var(--rpl-type-size-2);
        font-weight: var(--rpl-type-weight-bold);
        line-height: var(--rpl-type-lh-4);
        letter-spacing: var(--rpl-type-ls-1);

        margin-top: var(--rpl-sp-3);
        margin-bottom: var(--rpl-sp-3);
      }
    }

    .rpl-list__items {
      padding-left: var(--rpl-sp-5);
    }
  }

  .rpl-list__items--sub[data-depth='2'] {
    & > .rpl-sitemap-item {
      .rpl-list__link {
        font-size: var(--rpl-type-size-2);
        line-height: var(--rpl-type-lh-4);
        letter-spacing: var(--rpl-type-ls-1);
        margin-top: var(--rpl-sp-3);
        margin-bottom: var(--rpl-sp-3);
      }
    }
  }

  .rpl-list__items--sub[data-depth='4'] {
    & > .rpl-sitemap-item {
      .rpl-icon--child {
        display: inline-block;
      }
    }
  }
}
