@import '@dpc-sdp/ripple-ui-core/style/breakpoints';

.rpl-back-to-top {
  position: relative;
  pointer-events: none;
}

.rpl-back-to-top__inner {
  z-index: var(--rpl-layer-1);
  position: absolute;
  left: 0;
  right: 0;
  bottom: var(--rpl-sp-3);
  display: flex;
  justify-content: flex-end;
  transition: opacity var(--rpl-motion-speed-10) ease-in,
    transform var(--rpl-motion-speed-10) ease-in;
  opacity: 0;
  transform: translateY(10px);
}

.rpl-back-to-top__button {
  margin-right: calc(-1 * var(--rpl-sp-2));

  @media (--rpl-bp-m) {
    margin-right: calc(-1 * var(--rpl-sp-3));
  }
}

.rpl-back-to-top--visible {
  .rpl-back-to-top__inner {
    transition: opacity var(--rpl-motion-speed-8) ease-out,
      transform var(--rpl-motion-speed-8) ease-out;
    opacity: 1;
    transform: translateY(0);
  }

  .rpl-back-to-top__button {
    pointer-events: all;
  }
}

.rpl-back-to-top--sticky {
  .rpl-back-to-top__inner {
    position: fixed;
  }
}
