// Vic.gov.au site theming variables
// Overwrites values in Ripple
@import '~@dpc-sdp/ripple-global/scss/settings/functions';

$rpl-colors: (
  'primary': #7040CA,
  'dark_primary': #6728A7,
  'secondary': #BD10E0,
  'extra_dark_neutral': #011A3C,
  'dark_neutral': #465870,
  'mid_neutral_1': #D7DBE0,
  'mid_neutral_2': #E8EBEE,
  'light_neutral': #F6F6F9,
  'danger': #AF272F,
  'warning': #CA4C21,
  'success': #027A83,
  'success-2-text': #027a83,
  'white': #fff,
  'black': #000,
  'maximum-blue-purple': #9D9DEF,
  'violets-are-blue': #825DFF,
  'french-rose': #EF4A81,
  'naples-yellow': #F9E062,
);

// Local Custom UI colours
$ref-ui-color-maximum-blue-purple: rpl_color('maximum-blue-purple');
$ref-ui-color-violets-are-blue: rpl_color('violets-are-blue');
$ref-ui-color-french-rose: rpl_color('french-rose');
$ref-ui-color-naples-yellow: rpl_color('naples-yellow');

$rpl-gradients: (
  'primary_gradient': linear-gradient(90deg, rpl_color('secondary') 0%, $ref-ui-color-maximum-blue-purple 100%),
  'primary_gradient_90': linear-gradient(180deg, rpl_color('secondary') 0%, $ref-ui-color-maximum-blue-purple 100%),
  'primary_gradient_0': linear-gradient(0deg, rpl_color('secondary') 0%, $ref-ui-color-maximum-blue-purple 100%),
  'decorative_gradient': linear-gradient(-90deg, $ref-ui-color-maximum-blue-purple 0%, $ref-ui-color-violets-are-blue 34.38%, $ref-ui-color-french-rose 60.94%, $ref-ui-color-naples-yellow 98.96%),
  'decorative_gradient_0': linear-gradient(0deg, $ref-ui-color-maximum-blue-purple 0%, $ref-ui-color-violets-are-blue 34.38%, $ref-ui-color-french-rose 60.94%, $ref-ui-color-naples-yellow 98.96%),
  'decorative_gradient_90': linear-gradient(-180deg, $ref-ui-color-maximum-blue-purple 0%, $ref-ui-color-violets-are-blue 34.38%, $ref-ui-color-french-rose 60.94%, $ref-ui-color-naples-yellow 98.96%),
  'decorative_gradient_180': linear-gradient(90deg, $ref-ui-color-maximum-blue-purple 0%, $ref-ui-color-violets-are-blue 34.38%, $ref-ui-color-french-rose 60.94%, $ref-ui-color-naples-yellow 98.96%),
);

// Accordion
$rpl-accordion-border-image: linear-gradient(-90deg, rpl_color('secondary') 0%, $ref-ui-color-maximum-blue-purple 100%);

// Buttons
$rpl-button-active-background-image: rpl_gradient('primary_gradient_0');
