@import '@dpc-sdp/ripple-ui-core/style/breakpoints';

.rpl-u-font-lang--ar,
.rpl-u-font-lang--my {
  .rpl-type-h1-highlight {
    line-height: 6.5rem;
  }

  .rpl-type-p-large-highlight {
    line-height: var(--rpl-type-lh-7);
  }

  @media (--rpl-bp-l) {
    .rpl-type-h1-highlight {
      line-height: 11.75rem;
    }

    .rpl-type-p-large-highlight {
      line-height: var(--rpl-type-lh-9);
    }
  }
}
