$rpl-fonts-default-loader: true !default;

@if $rpl-fonts-default-loader {
  @each $font-label, $font-val in $rpl-fonts {
    @if (type-of($font-val) == 'map') {
      $font-family: map-get($font-val, 'family');
      $font-display: map-get($font-val, 'display');
      $font: nth($font-family, 1);
      @font-face {
        font-family: $font;
        src: url('#{$rpl-font-directory}#{$font}.woff2') format('woff2'),
        url('#{$rpl-font-directory}#{$font}.woff') format('woff');
        font-display: $font-display;
      }
    } @else {
      $font: nth($font-val, 1);
      @font-face {
        font-family: $font;
        src: url('#{$rpl-font-directory}#{$font}.woff2') format('woff2'),
        url('#{$rpl-font-directory}#{$font}.woff') format('woff');
        font-display: swap;
      }
    }
  }
}
