.rpl-icon {
  svg {
    fill: currentcolor;
    width: var(--rpl-icon-size);
    height: var(--rpl-icon-size);
    padding: calc(var(--rpl-icon-size) / 2);
  }

  &--size-s svg {
    --rpl-icon-size: var(--rpl-space-4);
  }

  &--size-m svg {
    --rpl-icon-size: var(--rpl-space-6);
  }

  &--size-l svg {
    --rpl-icon-size: var(--rpl-space-8);
  }

  &--theme-primary svg {
    color: var(--rpl-clr-core-primary);
  }

  &--theme-accent svg {
    color: var(--rpl-clr-core-accent);
  }

  &--theme-neutral svg {
    color: var(--rpl-clr-neutral-7);
  }

  &--theme-info svg {
    color: var(--rpl-clr-semantic-info);
  }

  &--theme-success svg {
    color: var(--rpl-clr-semantic-success);
  }

  &--theme-warning svg {
    color: var(--rpl-clr-semantic-warning);
  }

  &--theme-error svg {
    color: var(--rpl-clr-semantic-error);
  }
}
