.rpl-icon {
  fill: currentcolor;

  &--theme-core {
    color: var(--rpl-clr-core-primary);
  }

  &--theme-accent {
    color: var(--rpl-clr-core-accent);
  }

  &--theme-neutral {
    color: var(--rpl-clr-neutral-7);
  }

  &--size-s {
    width: var(--rpl-space-4);
    height: var(--rpl-space-4);
    padding: var(--rpl-space-2);
  }

  &--size-m {
    width: var(--rpl-space-6);
    height: var(--rpl-space-6);
    padding: var(--rpl-space-3);
  }

  &--size-l {
    width: var(--rpl-space-8);
    height: var(--rpl-space-8);
    padding: var(--rpl-space-4);
  }
}
