name: Alpha Release

on:
  push:
    branches:
      - release/*

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: pnpm/action-setup@v2

      - uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "pnpm"
          registry-url: "https://npm.pkg.github.com"
          scope: "@dpc-sdp"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build packages
        run: pnpm build:ripple

      - name: Calculate git hash
        id: git-hash
        run: |
          GIT_HASH=$(git rev-parse --short HEAD)
          echo "git_hash=$GIT_HASH" >> $GITHUB_OUTPUT

      - name: Bump versions for alpha
        run: |
          pnpm -r --filter './packages/**' exec sh -c 'CURRENT_VERSION=$(node -p "require(\"./package.json\").version") && NEW_VERSION="${CURRENT_VERSION}-alpha.${{ steps.git-hash.outputs.git_hash }}" && pnpm version "$NEW_VERSION" --no-git-tag-version'

      - name: Publish alpha to GitHub Package Registry
        run: pnpm -r --filter './packages/**' --filter '!ripple-storybook' publish --tag alpha --no-git-checks
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
