name: Backport PRs

on:
  pull_request:
    types:
      - closed
      - labeled

permissions:
  contents: write
  pull-requests: write

jobs:
  backport:
    if: >
      github.event.pull_request.merged == true &&
      contains(join(github.event.pull_request.labels.*.name, ','), 'backport ')
    runs-on: ubuntu-latest
    steps:
      - uses: korthout/backport-action@v2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          label_pattern: "^backport (.+)$"
