.rpl-error-message {
  color: #1a1a1a;
  background: white;
  font-family: VIC, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 120px;
  padding-left: 16px;
  padding-right: 16px;
}

.rpl-error-message h1 {
  color: #0052c2;
  font-size: 80px;
  font-weight: 700;
  margin-top: 120px;
  margin-bottom: 0;
}

.rpl-error-message a:link {
  color: #0052c2;
}

.rpl-error-message a:active {
  color: #003174;
}

.rpl-error-message a:hover {
  color: #003174;
}

.rpl-error-message a:focus {
  color: #ff9e1b;
}

.rpl-error-message a:visited {
  color: #9f46b1;
}

.rpl-error-message p > a:link {
  text-decoration: underline;
}

.rpl-error-message p > a:hover {
  text-decoration: none;
}

.rpl-error-message .rpl-button {
  align-items: center;
  appearance: none;
  background-color: #0052c2;
  border-color: #0052c2;
  border-radius: 4px;
  border-width: 2px;
  border-style: solid;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  column-gap: 8px;
  cursor: pointer;
  display: flex;
  font-size: 10px;
  height: 48px;
  justify-content: center;
  line-height: 11.5px;
  padding: 14px 18px;
  row-gap: 8px;
  text-decoration: none;
  position: relative;
}

.rpl-error-message .rpl-button:hover {
  background-color: #003174;
  border-color: #003174;
  text-decoration: underline;
  text-decoration-color: white;
}

.rpl-error-message .rpl-button__label {
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 700;
  height: 16px;
  letter-spacing: 0.3072px;
  line-height: 16px;
  text-align: center;
}

.rpl-error-message .rpl-button:focus-visible {
  background: #ff9e1b;
  border-color: #ff9e1b;
  outline: 0;
  border-radius: 0;
  text-decoration: none;
}

.rpl-error-message .rpl-button:focus-visible .rpl-button__label {
  color: #1a1a1a;
}

.rpl-error-message .rpl-button:focus-visible::after {
  background: #1a1a1a;
  height: 4px;
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: -2px;
  margin-left: -2px;
  margin-right: -2px;
}

.rpl-error-message .rpl-type-p-large {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.18px;
  font-weight: 400;
  margin-top: 32px;
  margin-bottom: 0;
}

.rpl-error-message .rpl-type-p,
.rpl-error-message :where(.rpl-content) p {
  display: block;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.192px;
  margin-bottom: 0;
  margin-top: 8px;
}

.rpl-error-message .rpl-error-message__body,
.rpl-error-message .rpl-error-message__button {
  text-align: center;
  margin-top: 32px;
}

@media (min-width: 768px) {
  .rpl-error-message .rpl-content {
    max-width: 615px;
  }
}

@media (min-width: 992px) {
  .rpl-error-message h1 {
    font-size: 160px;
    margin-top: 180px;
  }

  .rpl-error-message .rpl-type-p-large {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.16px;
    margin-top: 40px;
  }

  .rpl-error-message .rpl-error-message {
    margin-bottom: 180px;
  }

  .rpl-error-message .rpl-error-message__body,
  .rpl-error-message .rpl-error-message__button {
    margin-top: 40px;
  }
}
